<template>
	<v-layout row wrap class="mx-4 pa-4">
		
		<v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      color="blue" 
      >
      {{text}}
      <v-btn
        color="white"
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

		<v-flex xs11>
		  <!-- <v-flex xs12> -->
			<v-layout row wrap>
			  
				<v-flex xs12 sm3>
					<h3>DEVOLUCIÓN DIRECTA </h3> 
				</v-flex>

			</v-layout>		    
			
		  <v-flex xs12 class="mt-3">
		  	<span >Ingresé el folio de la guía</span>
		  </v-flex>

			<v-layout row wrap>
			 
			  <v-flex xs8 md3 > 
		      <v-text-field
		        append-icon="credit_card"
		        v-model="Numguia"
		        label="Número de Tarjeta"
		        outline
		        type="Input"
		        v-on:keyup.enter="busInfoTarjeta"
		      ></v-text-field>
		    </v-flex>

		    <v-flex xs3 md2 lg2 class="ma-1 pa-2 ">
		      <v-btn   color="primary" @click="devolver">Devolver</v-btn>
		    </v-flex>

			</v-layout>
			
			<v-flex xs6>
			  <v-card-actions border>
			    <span>{{InfoTarjeta.Nomcli}}</span>
			  </v-card-actions>
			</v-flex>

		</v-flex>			
	</v-layout>

</template>

<script> 
import * as moment from 'moment';
  export default {
    data () {
      return {
        Numguia:'',

      	InfoTarjeta : [],
      	id:'1',

      	snackbar: false,
        text:     '',

      }

    },


    created () {
		  // this.fechaActual = ano  +"-" + mes + "-" + dia
		  moment.locale('es');   
		  this.fechaActual = moment().format('LL');
      // guarda los nombre de fotos
    	
    },
     methods:{

     	busInfoTarjeta(){
   			
   			if(this.Numguia == ''){
   				this.snackbar = true ; this.text = "Debe ingresar un numero de guía."
   				return
   			}

    		const Numguia = { numguia: this.Numguia} 


    		this.$http.post('api/v1/rastreotarjeta', Numguia).then(function(response){ 
						
						if(response.body == "null"){
   						this.snackbar = true ; this.text = "No se ha encontrado esté número de guía."
							return 

						}	else{

							console.log('InfoTarjeta', response.body[0])
	    	  		this.InfoTarjeta = response.body[0]
				

						}

      	  }).catch(function(error){
      	    console.log(error)
      	  })
    	},


    	devolver(){
   			
   			if(this.Numguia == ''){
   				this.snackbar = true ; this.text = "Debe ingresar un numero de guía."
   				return
   			}

    		const Numguia = { numguia: this.Numguia} 


    		this.$http.put('api/v1/devoluciondirecta/'+ this.Numguia).then(function(response){ 
						
						if(response.body.Id == 0){
   						this.snackbar = true ; this.text = "No se ha encontrado esté número de guía."
							return 

						}	else{

							console.log('InfoTarjeta', response.body)
              this.snackbar = true ; this.text = "Se ha devuelto la tarjeta."
              return 
	    	  		//this.InfoTarjeta = response.body[0]				

						}

      	  }).catch(function(error){
      	    console.log(error)
      	  })
    	},



     	
     }
  };
</script>

<style scoped>

 
</style>