<template>
	<v-layout row wrap justify-center class="pa-4">

		 <v-snackbar
      v-model="snackbar"
      :timeout="4000"
      top
      color="blue-grey darken-1" 
      >
      Lo sentimos no se pudo activar esté usuario. 
      <v-btn
        color="white"
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

		<v-flex xs12 sm7 > 
		  <!-- <img src="mensajeria.png"   max-height="120" width="120"/> -->
		  <img src="https://solemex.com.mx/images/sf.png"   max-height="120" width="120"/>

		  
			<v-btn  block color="success"  @click="activarcorreo">Activar Usuario</v-btn>
	 <!-- <v-flex xs12 text-xs-center> -->
		<v-card  flat align="center" class=" contenido " v-if="activarForma == true">
		  <span class="titulo"> LISTO EL USARIO "{{ id }}" A SIDO ACTIVADO </span>

		  <v-divider class="mx-5 mt-2"></v-divider>

		   <div class="mt-5"> 
				  <span>Tel. 83747474</span><br>
				  <span>83747474@solemex.com</span><br>
				  <span>www.solemex.com.mx</span><br>
			   	<span>Reforma 2902. Mitras Centro. Monterrey, N.L., México.</span><br>     
			  </div>

		</v-card>
			<v-footer style="padding:35px;" color="grey lighten-2" v-if="activarForma == true">
		  
			  <span class="sait"> <img src="sait.png"   height="70" width="100"/>  </span>
			  <v-spacer></v-spacer>
			  <span class="sait"><img src="solemex.png"   height="50" width="160"/> </span>
			</v-footer>

		</v-flex>
	 <!-- </v-flex> -->
	</v-layout>
</template>

<script>
  export default {
    data () {
      return {
        snackbar: false,
        id: '',
        activarForma: false
      }

    },


    created () {
      console.log('parametro que recibo',this.$route.params.id)
      
      this.id = this.$route.params.id
  
    },
     methods:{
     	activarcorreo(){
        var me = this
     		this.$http.get('api/v1/activarusuario/' + this.id).then(function(response){
     			console.log('respuesta activacion',response.body)
     			
     			if(response.body == null){
     				this.snackbar = true 
     			}else{

     			this.activarForma = true 
          setTimeout(function(){ me.$router.push({name: 'login'}) }, 3000);

     			}


     		})
     	
     	},

     }
  };
</script>

<style scoped>

.contenido{
	padding: 90px;	
}

.titulo{
	font-family: black;
	font-size: 45px;
}

.sait{
	font-family: black;
	font-size: 18px
}
</style>