<template>
	<v-layout row wrap justify-center class="pa-4">
		<v-flex xs12 sm9 md8>
		
		  <!-- DATOS PRINCIPALES -->
		  <v-layout row wrap >
				<v-flex xs12 md3 class="mx-2">
				  <img src="@/assets/solemex.png" height="50" width="200"/>
				</v-flex>
				<v-flex xs2 sm1>
				  
				</v-flex>

				<v-flex xs12 sm5 md4 class="mt-1" >
				   <div align="left" style="border: groove; border-radius:5px; padding: 8px; font-size: 15px;  ">
						<span >
							Número de guía 
						</span><br>
						<span align="right">
							{{Numguia}}
						</span>
					</div>
				</v-flex>

				<v-spacer></v-spacer>

				<v-flex xs12 sm5 md3  class="mt-1">
				  <div  style="border: groove; border-radius:5px; padding: 8px; font-size: 15px;  ">
						<span align="left">
							Fecha
						</span><br>
						<span align="right">
							{{fechaActual}}
						</span>
					</div>
				</v-flex>

				<v-flex xs1 class="mt-3">
				  
				</v-flex>
		  </v-layout>
		
			<!-- DATOS DEL CLIENTE -->
			<v-layout row wrap>
			  
				<v-flex xs12 md8>
					<div align="center" class="tituloCliente">INFORMACIÓN DEL CLIENTE</div>
				  <v-card class="DatosCliente">
				  	<table class="tabla">
				  		<tr> <td class="nombre"> NOMBRE: </td> <td align="left"> {{ InfoTarjeta.Nomcli }}</td></tr>
				  		<tr> <td class="nombre"> FOLIO:  </td> <td>							 {{ InfoTarjeta.Numcli }}</td> </tr>
				  	</table>
					</v-card>
				</v-flex>

				<!-- <v-spacer></v-spacer> -->

				<v-flex xs12 md4 text-xs-center>
					<v-card flat class="estatus elevation-12"> 
				  	<div ><span >INTENTO DE ENTREGA</span></div>
					</v-card>
				</v-flex>
			</v-layout>
			
			<v-divider class="my-3 mx-2"></v-divider>
			
			<!-- PROCESO DE ENTREGA -->
			<v-layout row wrap >
				<v-flex xs12 >
					<div class="procesoEntrega">PROCESO DE ENTREGA</div>
				  <v-card class="DatosCliente2 elevation-5">
				  	
				  	<table class="tabla">
				  		<tr> <td class="nombre"> FECHA ALTA:        </td> <td class="">{{InfoTarjeta.Fecha_captura}}</td> </tr>
				  		<tr> <td class="nombre"> ASIGNACIÓN:	</td> <td> <span style="font-weight:bold;">FECHA:</span>  &nbsp{{ InfoTarjeta.fecha_asignacion }},&nbsp<span style="font-weight:bold;">&nbspHORA:</span> {{ InfoTarjeta.hora_asignacion }}</td></tr>
				  		<tr> <td class="nombre"> MENSAJERO: 	</td> <td class=""> {{ InfoTarjeta.Nombre }} </td></tr>

				  	</table>
					</v-card>
				</v-flex>
				
				<!-- FORMAS => MAPA // FOTOS -->

				<!-- <v-flex xs12 sm12 md6> -->
					<v-layout row wrap>
					  
						<v-flex xs12 class="pa-1" >
						  	<h4>Ubicacíon de entrega</h4>
						  	<div id="map"></div>
						</v-flex>

						<!-- <v-flex xs12 sm5 md5 class="pa-1" >
						  	<h4> Acuse</h4> 
						  	<img :src= "`acuses/${acuses}.jpg`" alt="alt" height="180px" width="100%" >
							<img :src="`${url}acuses/${Numguia}.png`" alt="alt" height="180px" width="100%" >


						</v-flex>	 -->		  
					</v-layout>
				<!-- </v-flex> -->

			</v-layout>
			
			<!-- DATOS EXTRAS -->
<!-- 			<v-flex xs12 class="mt-4">
			  	<div align="center" class="datosExtras">INFORMACIÓN DE SUCURSAL </div>
			  <v-card class="infoEntrega" align="center">
				  <tr> <td class="sucursal"> Telefono:   </td> <td align="left">83747474</td></tr>
				  <tr> <td class="sucursal"> Correo:     </td> <td align="left">83747474@solemex.com</td> </tr> 
				  <tr> <td class="sucursal"> Sitio Web:  </td> <td align="left">www.solemex.com.mx</td> </tr>    
				  <tr> <td class="sucursal"> Dirección:  </td> <td align="left">Reforma 2902. Mitras Centro. Monterrey, N.L., México.</td> </tr> 
			  </v-card>
			</v-flex> -->

			<v-flex xs12 class="mt-2"  text-xs-center>
			  	<div align="center" class="datosExtras">INFORMACIÓN DE DOMICILIO </div>
			  <v-card class="infoEntrega" align="center">
			  	<table>	
					  
					  <tr> 
					  	<td class="domicilio"> COLONIA:</td> <td class="domicilio2" >{{ InfoTarjeta.Colonia }} </td>     
					  </tr> 
					  <tr> 
					  	<td class="domicilio"> CIUDAD:</td> <td class="domicilio2" >{{ InfoTarjeta.Ciudad }} </td>     
					  </tr>
					   <tr> 
					  	<td class="domicilio"> ESTADO:</td> <td class="domicilio2" >{{ InfoTarjeta.Estado }} </td>     
					  </tr>
					   <tr> 
					  	<td class="domicilio"> CP:</td> <td class="domicilio2" >{{ InfoTarjeta.Cp }} </td>     
					  </tr>
					</table>
			  </v-card>
			</v-flex>

			<!-- INFORMACION DEL EMISOR -->
			<v-layout row wrap class="mt-3">
			  <v-flex xs12 >
			    <div align="center" class="tituloEmisor">INFORMACIÓN DEL EMISOR</div>
			    <v-card  class="infoCliente elevation-6">
			    	<v-layout row wrap>
			    	  <v-flex xs12 sm7 md6> 	  
			    			<table class="tabla">
			  					<tr><td class="Cliente">Banco Regional, S.A. Institución de Banca Múltiple, Banregio Grupo Financiero.</td> </tr>
			  				</table>
			    	  </v-flex>
			    	  <v-flex xs12 sm4 md5 class="mx-3" >
				 				<img class="logoCliente" src="@/assets/Banregio.png"  width="150"/>
							</v-flex>
			    	</v-layout>
			    </v-card>
			  </v-flex>
			</v-layout>

				<!-- FOOTER -->
			<!-- <a href="https://saiterp.com/fabrica.php" target="_blank> -->
				<v-footer  class="footer mt-3">
					  <img class="sait" src="@/assets/sait2.png"/>
					 
					  <v-spacer></v-spacer>
					  <img class="sait" src="@/assets/mensajeria2.png"/>

				</v-footer>
			<!-- </a> -->
				<!-- <div align="center"> <a href="https://saiterp.com/fabrica.php">Fabrica de Software</a></div> -->
		</v-flex>
	</v-layout>
		
</template>

<script>
 import * as moment from 'moment';

  export default {
    data () {
      return {
        Numguia:'',
        fechaActual: '',
        // VARIABLES PARA MAPA
      	Latitude    : '',
      	Longitude   : '',

      	// FOTOS
      	acuses	 		: '',
      	domicilio 	: '',
      	Firma 	 		: '',

      	InfoTarjeta : [],
      	// id:'1',
      	id: this.$route.params.numguia,
      	url         : 'https://solemex.ws/sol/imagen/',
    

      }

    },

    created () {
    	console.log (this.$route.fullPath)
    	console.log('parametro que recibo',this.$route.params.numguia)
      
      //this.id = this.$route.params.id
       this.busInfoTarjeta( this.$route.params.numguia)
       
    	var fecha = new Date(); 
			  var mes 	= fecha.getMonth()+1; var dia 	= fecha.getDate(); var ano 	= fecha.getFullYear();
		  if(dia<10)
		    dia='0'+dia;
		  if(mes<10)
		    mes='0'+mes

		  this.fechaActual = ano  +"-" + mes + "-" + dia

		   moment.locale('es');   
		   this.fechaActual = moment().format('LL');
		  
  
    },
     methods:{

     	busInfoTarjeta(id){
   
    		const Numguia = { numguia: id } 
    		this.$http.post('api/v1/rastreotarjeta', Numguia).then(function(response){ 
      			 // console.log('rastreo Guia', response.body[0]) 
	    	  	
	    	  	this.InfoTarjeta = response.body[0]
	    	  	// console.log(response.body)

	    	  	const formData ={
		    	  	Latitude : this.InfoTarjeta.Latitude,
		    	  	Longitude: this.InfoTarjeta.Longitude
	    	  	}

	    	  	// console.log('formData',formData)
	    	  	this.Mapa(formData)

	    	  	if(this.InfoTarjeta.Numguia != ''){
	    	  		this.Numguia = this.InfoTarjeta.Numguia
	    	  	}
      	    
      	  })
    	},

     	Mapa(formData){
	    	var me = this
	    	
	    	var latitud 	= parseFloat(formData.Latitude)
	    	var longitud 	= parseFloat(formData.Longitude)
	     
	      //Funcion que se ejecuta cuando esta disponible la funcionalidad de la ruta
	      var onSuccess = function() {

	        //Crear una variable que contendra solo la longitud y la latitud
	        var myLatLng 
	        //Creo un objeto con la latitud y la longitud
	        myLatLng = {lat: latitud , lng: longitud}
					// myLatLng = {lat: position.coords.latitude , lng: position.coords.longitude}

	        //Aquí es donde se crea el mapa
	        //cear un nuevo mapa y le dices en donde se dibujara
	        me.map = new google.maps.Map(document.getElementById('map'), {

	          //center: la ubicación
	          center: myLatLng,
	          //Zoom solo es la distancia a la que se vera el mapa
	          zoom: 15,
	          //activa el tipo de mapa para satelite o relieve
	          // mapTypeControl: true,
	          mapTypeControlOptions: {
	              //Defines en donde quieres que se vea la opcion
	              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
	              position: google.maps.ControlPosition.TOP_LEFT
	          },
	          //activa la función del control
	          zoomControl: true,
	          zoomControlOptions: {
	              //Defines en donde quieres que se vea la opcion
	              position: google.maps.ControlPosition.RIGHT_CENTER
	          },
	          //para definir el tipo de escala
	          scaleControl: true,
	          streetViewControl: false,
	          streetViewControlOptions: {
	              //Defines en donde quieres que se vea la opcion
	              position: google.maps.ControlPosition.LEFT_TOP
	          },
	          //activa la pantalla completa
	          fullscreenControl: true,

	          disableDefaultUI: true,

	      	});

	        var marker = new google.maps.Marker({
				    position: myLatLng,
				    map: me.map,
				    title: 'Localización'
				  });
				}
	       
	      function onError(error) {
	        alert('code: '    + error.code    + '\n' +
	            'message: ' + error.message + '\n');
	      }

	      //Aqui tu vas a mandar a llamar el mapa(se puede, no se puede)
	      navigator.geolocation.getCurrentPosition(onSuccess, onError);
	    },
     	

     }
  };
</script>

<style scoped>

  .domicilio{
  	text-align: left;
  	width: 6%;
    font-weight:bold;
		
  }
  .domicilio2{
  	text-align: left;
  	width: 80%;
  }
	.sucursal{
		font-weight:bold;
  	text-align: left;
  	width: 20%;
  }
	.logoCliente{
		align-content: center
	}
	.Cliente{
		text-align: justify;
		padding: 11px;
		font-size: 14px;
	}
	.tituloCliente{
		font-weight:bold;
		background: #E65100;
		color:white;
		margin: 5px;
	}
	.tituloEmisor{
		font-weight:bold;
		background: #0277BD;
		color:white;
		padding: 4px;
	}
	.infoCliente{
		padding: 4px;
		text-align: center;
		font-size: 15px;
		min-height: 90px;
	}
	.sait{
		width: 120px;
		padding: 10px;
	}
  .footer{
		background: #0F384F;  
		padding: 35px;
		width: 100%
  }
	
	.infoEntrega{
		width: 100%;
		padding: 20px;
		
	}
	.datosExtras{
		padding: 5px;
		background: #E65100; 
		color: white;
		text-align: center;
		font-size: 14px;
		width: 100%;
		font-weight:bold;
	}
	.estatus{
		padding: 10px;
		font-size:21px;
		margin: 5px;
		background: #0F384F;
		color: white;
		min-height: 60px;
		max-height: 80px;
	}
	.DatosCliente{
		padding: 20px;
		margin: 5px;
	}
	.DatosCliente2{
		padding: 20px;
		margin: 5px;
		min-height: px;
	}
	.tabla{ width: 100%; }

	.nombre{
		width: 15%;
		font-weight:bold;
	}
	.titulos{
		padding: 15px;
		font-weight:bold;
	}

	.datos{ padding: 5px; }

	.procesoEntrega{
		padding: 5px;
		background: #E65100; 
		color: white;
		margin: 5px;
		text-align: center;
		font-size: 18px;
	}
	.imagenes{
   		height:180px;
    	width: 100%;
   }

  #map {
    height:180px;
    width: 100%;
  }

</style>