<template>	
	<v-layout  row wrap justify-center class="pa-2 mt-3">		
	  <v-flex xs12 md8 v-if ="InfoTarjeta != '' ">
	  	<v-layout row wrap >
	  		<v-flex xs12 sm3 md3 class="mx-1">
				  <img src="/solemex.png" height="40" width="180"/>
				</v-flex>
				<v-spacer></v-spacer>
				<v-flex xs6 sm4 md4 class="mt-1 pa-1" >
				   <div align="left" style="border: groove; border-radius:5px; padding: 8px; font-size: 15px;  ">
						<span >
							Número de guía 
						</span><br>
						<span align="right">
							{{Numguia}}
						</span>
					</div>
				</v-flex>
				<v-flex xs6 sm4 text-xs-right>
				  <v-btn round outline large color="primary" :to="{name: 'rastreo'} ">Regresar</v-btn>
				</v-flex>
			</v-layout>
			
			<v-layout row wrap>
				<v-flex xs12 md8>
					<div align="center" class="tituloCliente">INFORMACIÓN DEL CLIENTE</div>
				  <v-card style="padding: 15px; margin: 5px;">
				  	<table class="tabla">
				  		<tr> <td class="cliente"> CLIENTE: </td> <td align="left"> {{ InfoTarjeta.Nomcli }}</td></tr>
				  		<tr> <td class="cliente"> FOLIO:  </td> <td>		           {{ InfoTarjeta.Numcli }}</td> </tr>
				  	</table>
					</v-card>
				</v-flex>
				<v-flex xs12 md4 text-xs-center>
					<v-card flat class="estatus elevation-12"> 
				  	<div ><span >{{ Estatus }} </span></div>
					</v-card>
				</v-flex>
			</v-layout>
			
			<v-flex xs12 class="mt-1">
			  <div align="center" class="datosExtras">ASIGNACIÓN </div>
			  <v-card style="padding: 15px; margin:5px;" >
				  <tr> <td class="asignacion"> MENSAJERÍA:</td> <td style="padding:2px" align="left"> SOLEMEX</td> </tr> 
				  <tr> <td class="asignacion"> MENSAJERO: </td> <td style="padding:2px" align="left"> {{ InfoTarjeta.Nombre }}</td> </tr> 
				  <tr> <td class="asignacion"> FECHA:  </td>    <td style="padding:2px" align="left"> {{ InfoTarjeta.fecha_asignacion }}</td> </tr> 
				  <tr> <td class="asignacion"> HORA:  </td>     <td style="padding:2px" align="left"> {{ InfoTarjeta.hora_asignacion }}</td> </tr> 
			  </v-card>
			</v-flex>

			<v-flex xs12  v-if="Intento1 != '' ">
				<v-layout row wrap>
						<v-flex xs12 sm7   >
							<div align="center" class="Intentos">PRIMER INTENTO </div>
						  <v-card  style="padding: 15px; margin: 5px; min-height: 160px">
						  	<table class="tabla">
						  		<tr> <td class="nombre"> MOTIVO:       </td> <td align="left"> {{ Intento1.Motivo }} </td></tr>
						  		<tr> <td class="nombre"> COMENTARIOS:  </td> <td> {{ Intento1.Comentarios }}</td> </tr>
						  		<tr> <td class="nombre"> FECHA:        </td> <td> {{ Intento1.Fecha  }}</td> </tr>
						  		<tr> <td class="nombre"> HORA:         </td> <td> {{ Intento1.Hora }}</td> </tr>
						  	</table>
							</v-card>
						</v-flex>
						<v-flex xs12 sm5 >
							<v-layout row wrap>
								<v-flex xs12 >
							  	<h4>Ubicacíon de primer intento</h4>
							  	<div id="map"></div>
								</v-flex>		  
							</v-layout>
						</v-flex>
				</v-layout>
			</v-flex>
	
			<v-flex xs12  v-if="Intento2 != '' ">
				<v-layout row wrap>
						<v-flex xs12 sm7>
							<div align="center" class="Intentos" >SEGUNDO INTENTO</div>
						  <v-card  style="padding: 15px; margin: 5px; min-height: 160px">
						  	<table class="tabla">
						  		<tr> <td class="nombre"> MOTIVO:       </td> <td align="left"> {{ Intento2.Motivo }} </td></tr>
						  		<tr> <td class="nombre"> COMENTARIOS:  </td> <td> {{ Intento2.Comentarios }}</td> </tr>
						  		<tr> <td class="nombre"> FECHA:        </td> <td> {{ Intento2.Fecha  }}</td> </tr>
						  		<tr> <td class="nombre"> HORA:         </td> <td> {{ Intento2.Hora }}</td> </tr>
						  	</table>
							</v-card>
						</v-flex>
						<v-flex xs12 sm5 >
							<v-layout row wrap>
								<v-flex xs12 >
							  	<h4>Ubicacíon de segundo intento</h4>
							  	<div id="map2"></div>
								</v-flex>		  
							</v-layout>
						</v-flex>
				</v-layout>
			</v-flex>

			<v-layout row wrap>
				<v-flex xs12 sm7  v-if= "EntregadaEn ==  'D' " >
					<v-card flat >
						<v-flex xs12  class="mt-1"  text-xs-center >
						  <div align="center" class="datosExtras">INFORMACIÓN DE DOMICILIO </div>
						  <v-card style=" padding: 15px; margin: 5px" align="center">
						  	<table>	
								  <tr> 
								  	<td class="domicilio"> COLONIA:</td> <td class="domicilio2" >{{ InfoTarjeta.Colonia }} </td>     
								  </tr> 
								  <tr> 
								  	<td class="domicilio"> CIUDAD:</td> <td class="domicilio2" >{{ InfoTarjeta.Ciudad }} </td>     
								  </tr>
								   <tr> 
								  	<td class="domicilio"> ESTADO:</td> <td class="domicilio2" >{{ InfoTarjeta.Estado }} </td>     
								  </tr>
								   <tr> 
								  	<td class="domicilio"> CP:</td> <td class="domicilio2" >{{ InfoTarjeta.Cp }} </td>     
								  </tr>
								</table>
						  </v-card>
						</v-flex>

						<v-flex xs12  class="mt-1"  text-xs-center >
						  <div align="center" class="datosExtras">INFORMACIÓN DE ENTREGA </div>
						  <v-card style=" padding: 15px; margin: 5px" align="center">
						  	<table>	
								  <tr> 
								  	<td class="domicilio"> ENTREGAR A:</td> <td class="domicilio2" >{{ InfoTarjeta.Nomcli }} </td>     
								  </tr> 
								  <tr> 
								  	<td class="domicilio"> RECIBIO:</td> <td class="domicilio2" >{{ InfoTarjeta.Nomrecibe }} </td>     
								  </tr>
								   <tr> 
								  	<td class="domicilio"> PARENTESCO:</td> <td class="domicilio2" >{{ InfoTarjeta.Parentesco }} </td>     
								  </tr>
								  <tr> 
								  	<td class="domicilio"> FECHA :</td> <td class="domicilio2" >{{ InfoTarjeta.Fecha_entrega }} </td>     
								  </tr>
								</table>
						  </v-card>
						</v-flex>
					</v-card>
				</v-flex>

				<v-flex xs12 sm5 v-if= "EntregadaEn ==  'D' " >
				  <v-layout row wrap>
						<v-flex xs12 >
					  	<h4>Ubicacíon de Entrega</h4>
					  	<div id="map3"></div>
						</v-flex>		  
					</v-layout>
				</v-flex>

			</v-layout>
			
			<v-layout row wrap>
			  
				<v-flex xs12  class="mt-1" v-if ="EntregadaEn == 'S' ">
				  <div align="center" class="datosExtras">INFORMACIÓN DE SUCURSAL </div>
				  <v-card style="padding: 15px; margin:5px; " align="center">
					  <tr> <td class="sucursal"> NOMBRE:</td> <td align="left">{{ InfoSucursal.Nomsuc }}</td> </tr> 
					  <tr> <td class="sucursal"> DIRECCIÓN:</td> <td align="left">{{ InfoSucursal.Direccion }}</td> </tr> 
					  <tr> 
					  	<td class="sucursal"> SITIO WEB:</td> 
					  	  <td align="left">
				  	  		<a href="https://banregio.com/oficinas_lista.php">Catálogo de Sucursales Banregio</a>
				  	  	  <v-icon color="orange">transit_enterexit</v-icon>
					  	  </td> 
					  </tr>    
				  </v-card>
				</v-flex>

				<v-flex xs12  v-if= "EntregadaEn ==  'S' " >
				  <v-layout row wrap>
						<v-flex xs12 class="pa-2">
					  	<h4>Ubicacíon de Sucursal</h4>
					  	<div id="map4"></div>
						</v-flex>		  
					</v-layout>
				</v-flex>
			</v-layout>


			<v-footer  class="footer mt-3">
			  <img class="sait" src="/sait2.png"/>
			  <v-spacer></v-spacer>
			  <img class="sait" src="/mensajeria2.png"/>
			</v-footer>
	    
	  </v-flex>
	</v-layout>
</template>

<script>
  import * as moment from 'moment';

  export default {
    data () {
      return {
        Numguia:'',
        fechaActual: '',
        // VARIABLES PARA MAPA
      	Latitude    : '',
      	Longitude   : '',
      	// FOTOS
      	acuses	 		: '',
      	domicilio 	: '',
      	Firma 	 		: '',
      	Estatus     : '',
      	Numestatus  : '',
      	EntregadaEn : '',

      	InfoTarjeta : [],
      	InfoSucursal: [],
      	InfoIntentos: [],
      	NumIntentos : [],

      	Intento1    : [],
      	Intento2    : [],
      	// id:'1',
      	id: this.$route.params.numguia,
      	url         : 'https://solemex.ws/sol/imagen/',
      }

    },

    created () {
       this.busInfoTarjeta( this.$route.params.numguia)
    },

     methods:{
     	// Busco la informacion general de la tarjeta
     	busInfoTarjeta(id){
   
    		const Numguia = { numguia: id } 
    		this.$http.post('api/v1/rastreotarjeta', Numguia).then(function(response){ 
    			 // console.log('General', response.body[0]) 

    	  	if(response.body[0] == 'n'){
    	  		// texto1 = manda el parameto para mostrar mensaje en vista de rastreo
            this.$router.push({name:'rastreo', params: {texto: '1'}})
    	  	}
    	  	if(response.body[0].Nombre == 'Sin Asignar'){
    	  		// texto1 = manda el parameto para mostrar mensaje en vista de rastreo
            this.$router.push({name:'rastreo', params: {texto: '2'}})
    	  	}

    	  	this.InfoTarjeta = response.body[0]

    	  	if(this.InfoTarjeta.Numguia != ''){
    	  		this.Numguia = this.InfoTarjeta.Numguia

    	  		const payload = { Estatus:this.InfoTarjeta.Estatus, Tipoent: this.InfoTarjeta.Tipoent }
    	  		this.IdEstatus(payload)

    	  		const payload3  = { Latitude : this.InfoTarjeta.Latitude, Longitude: this.InfoTarjeta.Longitude }
	    	  	this.Mapa3(payload3)
    	  	}

	    	this.busInfoTarjSuc(this.Numguia)

    	  }).catch(function(error){
    	    console.log(error)
    	  })
    	},
    	// Busco la sucursal del cliente. 
    	busInfoTarjSuc(id){
   
    		const Numguia = { numguia: id } 
    		// rastreotarjxsuc
    		this.$http.post('api/v1/rastreotarjxsuc', Numguia).then(function(response){ 
    			 // console.log('Sucursal', response.body[0]) 
    	  	// this.InfoSucursal = response.body[0]

    	  	if(response.body != 'null' ){

    	  		this.InfoSucursal = response.body[0]
	    	  	const payload4  = { Latitude : this.InfoSucursal.Latitude, Longitude: this.InfoSucursal.Longitude }
	    	  	this.Mapa4(payload4)
    	  	}

    	  		this.busInfoIntentos(this.Numguia)

      	}).catch(function(error){
      	    console.log(error)
      	})
    	},
    	// Busco los intentos que se generaron de la guia
    	busInfoIntentos(id){
    		const Numguia = { numguia: id } 
    		// rastreotarjxsuc
    		this.$http.post('api/v1/rastreointentos', Numguia).then(function(response){ 
    			 // console.log('Intentos', response.body ) 
    	  	
    	  	if(response.body != 'null' ){

	    	  	this.Intento1  = response.body[0]
	    	  	const payload  = { Latitude : this.Intento1.Latitude, Longitude: this.Intento1.Longitude }
	    	  	this.Mapa(payload)

	    	  	if(response.body[1] != undefined ){
	    	  		// console.log('Intento2', response.body[1])
	    	  		this.Intento2  = response.body[1]
	    	  	  const payload2 = { Latitude : this.Intento2.Latitude, Longitude: this.Intento2.Longitude }
	    	  		this.Mapa2(payload2)
	    	  	}

    	  	}

      	}).catch(function(error){
      	  console.log(error)
      	})
    	},
    	// Funiona para hacer el estatus dinamico
    	IdEstatus(payload){
    		var estatus = payload.Estatus 
    		var tipoent = payload.Tipoent

    		// console.log('Estatus', estatus , 'Tipoent', tipoent)

    		switch(estatus){

          case 1 : // Pendiente
            this.Estatus = " TU TARJETA ESTA EN RUTA"
            break;

          case 3:  // Entregada
	          if(tipoent == 'D'){
	            this.Estatus = "ENTREGADA EN DOMICILIO"
	          }

	          if(tipoent == 'S'){
	            this.Estatus = "ENTREGADA EN SUCURSAL"
	          }
            this.EntregadaEn = tipoent
            break;

          case 4: // Devuelta
            this.EstatuS = "TARJETA DEVUELTA"
            break;
        }
    	},
    	// Mapa para primer intento
     	Mapa(payload){
	    	var me = this
	    	    		
	    	var latitud 	= parseFloat(payload.Latitude)
	    	var longitud 	= parseFloat(payload.Longitude)
		     
	      //Funcion que se ejecuta cuando esta disponible la funcionalidad de la ruta
	      var onSuccess = function() {

	        //Crear una variable que contendra solo la longitud y la latitud
	        var myLatLng 
	        //Creo un objeto con la latitud y la longitud
	        myLatLng = {lat: latitud , lng: longitud}
					// myLatLng = {lat: position.coords.latitude , lng: position.coords.longitude}

	        //Aquí es donde se crea el mapa
	        //cear un nuevo mapa y le dices en donde se dibujara
	        me.map = new google.maps.Map(document.getElementById('map'), {

	          //center: la ubicación
	          center: myLatLng,
	          //Zoom solo es la distancia a la que se vera el mapa
	          zoom: 15,
	          //activa el tipo de mapa para satelite o relieve
	          // mapTypeControl: true,
	          mapTypeControlOptions: {
	              //Defines en donde quieres que se vea la opcion
	              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
	              position: google.maps.ControlPosition.TOP_LEFT
	          },
	          //activa la función del control
	          zoomControl: true,
	          zoomControlOptions: {
	              //Defines en donde quieres que se vea la opcion
	              position: google.maps.ControlPosition.RIGHT_CENTER
	          },
	          //para definir el tipo de escala
	          scaleControl: true,
	          streetViewControl: false,
	          streetViewControlOptions: {
	              //Defines en donde quieres que se vea la opcion
	              position: google.maps.ControlPosition.LEFT_TOP
	          },
	          //activa la pantalla completa
	          fullscreenControl: true,

	          disableDefaultUI: true,

	      	});

	        var marker = new google.maps.Marker({
				    position: myLatLng,
				    map: me.map,
				    title: 'Localización'
				  });
				}
	       
	      function onError(error) {
	        alert('code: '    + error.code    + '\n' +
	            'message: ' + error.message + '\n');
	      }

	      //Aqui tu vas a mandar a llamar el mapa(se puede, no se puede)
	      navigator.geolocation.getCurrentPosition(onSuccess, onError);
	    },
	    // Mapa para segundo intento
	    Mapa2(payload2){
	    	var me = this
	    	    		
	    	var latitud 	= parseFloat(payload2.Latitude)
	    	var longitud 	= parseFloat(payload2.Longitude)
		    
	      var onSuccess = function() {

	        var myLatLng 
	        myLatLng = {lat: latitud , lng: longitud}

	        //Aquí es donde se crea el mapa
	        //cear un nuevo mapa y le dices en donde se dibujara
	        me.map2 = new google.maps.Map(document.getElementById('map2'), {
	          center: myLatLng,
	          zoom: 15,
	          mapTypeControlOptions: {
	              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
	              position: google.maps.ControlPosition.TOP_LEFT
	          },
	          zoomControl: true,
	          zoomControlOptions: {
	              position: google.maps.ControlPosition.RIGHT_CENTER
	          },
	          scaleControl: true,
	          streetViewControl: false,
	          streetViewControlOptions: {
	              position: google.maps.ControlPosition.LEFT_TOP
	          },
	          fullscreenControl: true,
	          disableDefaultUI: true,

	      	});

	        var marker2 = new google.maps.Marker({
				    position: myLatLng,
				    map: me.map2,
				    title: 'Localización'
				  });
				}
	       
	      function onError(error) {
	        alert('code: '    + error.code    + '\n' +
	            'message: ' + error.message + '\n');
	      }

	      //Aqui tu vas a mandar a llamar el mapa(se puede, no se puede)
	      navigator.geolocation.getCurrentPosition(onSuccess, onError);
	    },
	    // Mapa para segundo intento
	    Mapa3(payload3){
	    	var me = this
	    	
	    	var latitud 	= parseFloat(payload3.Latitude)
	    	var longitud 	= parseFloat(payload3.Longitude)
		    
	      var onSuccess = function() {

	        var myLatLng 
	        myLatLng = {lat: latitud , lng: longitud}

	        //Aquí es donde se crea el mapa
	        //cear un nuevo mapa y le dices en donde se dibujara
	        me.map3 = new google.maps.Map(document.getElementById('map3'), {
	          center: myLatLng,
	          zoom: 15,
	          mapTypeControlOptions: {
	              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
	              position: google.maps.ControlPosition.TOP_LEFT
	          },
	          zoomControl: true,
	          zoomControlOptions: {
	              position: google.maps.ControlPosition.RIGHT_CENTER
	          },
	          scaleControl: true,
	          streetViewControl: false,
	          streetViewControlOptions: {
	              position: google.maps.ControlPosition.LEFT_TOP
	          },
	          fullscreenControl: true,
	          disableDefaultUI: true,

	      	});

	        var marker3 = new google.maps.Marker({
				    position: myLatLng,
				    map: me.map3,
				    title: 'Localización'
				  });
				}
	       
	      function onError(error) {
	        alert('code: '    + error.code    + '\n' +
	            'message: ' + error.message + '\n');
	      }

	      //Aqui tu vas a mandar a llamar el mapa(se puede, no se puede)
	      navigator.geolocation.getCurrentPosition(onSuccess, onError);
	    },

	    // Mapa para segundo intento
	    Mapa4(payload4){
	    	var me = this
	    	 
	    	var latitud 	= parseFloat(payload4.Latitude)
	    	var longitud 	= parseFloat(payload4.Longitude)
		    
	      var onSuccess = function() {

	        var myLatLng 
	        myLatLng = {lat: latitud , lng: longitud}

	        //Aquí es donde se crea el mapa
	        //cear un nuevo mapa y le dices en donde se dibujara
	        me.map4 = new google.maps.Map(document.getElementById('map4'), {
	          center: myLatLng,
	          zoom: 15,
	          mapTypeControlOptions: {
	              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
	              position: google.maps.ControlPosition.TOP_LEFT
	          },
	          zoomControl: true,
	          zoomControlOptions: {
	              position: google.maps.ControlPosition.RIGHT_CENTER
	          },
	          scaleControl: true,
	          streetViewControl: false,
	          streetViewControlOptions: {
	              position: google.maps.ControlPosition.LEFT_TOP
	          },
	          fullscreenControl: true,
	          disableDefaultUI: true,

	      	});

	        var marker4 = new google.maps.Marker({
				    position: myLatLng,
				    map: me.map4,
				    title: 'Localización'
				  });
				}
	       
	      function onError(error) {
	        alert('code: '    + error.code    + '\n' +
	            'message: ' + error.message + '\n');
	      }

	      //Aqui tu vas a mandar a llamar el mapa(se puede, no se puede)
	      navigator.geolocation.getCurrentPosition(onSuccess, onError);
	    },

	  }
     
  };
</script>

<style scoped>

	.tituloCliente{
			font-weight:bold;
			background: #E65100;
			color:white;
			margin: 5px;
	}

	.Intentos{
			font-weight:bold;
			background: #E65100;
			color:white;
			margin: 5px;
			padding: 3px;
	}

	.DatosCliente{
			padding: 15px;
			margin: 5px;
	}

	.tabla{ width: 100%; }
	.nombre{ width: 30%; font-weight:bold; padding: 4px; font-size: 12px}
	.cliente{ width: 15%; font-weight:bold; font-size: 12px}

	.datosExtras{
	  margin: 5px;
		background: #E65100; 
		color: white;
		font-weight:bold;
		text-align: center;
		font-size: 15px;
	}

	.asignacion{
  	text-align: left;
  	width:25%;
		font-weight:bold;
		font-size: 12px
		
  }
  .asignacion2{
  	text-align: left;
  	width: 35%;
  	font-size: 12px
  }

  .domicilio{
  	text-align: left;
  	width: 6%;
    font-weight:bold;
  	font-size: 12px
  }
  .domicilio2{
  	text-align: left;
  	width: 80%;
  	font-size: 12px
  }

  .procesoEntrega{
		padding: 5px;
		margin: 5px;
		background: #E65100; 
		color: white;
		text-align: center;
		font-size: 15px;
		font-weight:bold;
	}

	.titulos{
		padding: 15px;
		font-weight:bold;
	}

	.datos{ padding: 5px; }

	.sucursal{
		font-weight:bold;
  	text-align: left;
  	width: 9%;
  	padding: 5px;
  	margin : 10px;
  	font-size: 12px
  }
	
	.estatus{
		padding: 10px;
		font-size:21px;
		margin: 5px;
		background: #0F384F;
		color: white;
		min-height: 60px;
		max-height: 80px;
	}


	.footer{
		background: #0F384F;  
		padding: 35px;
		margin: 5px;
  }
  .sait{
		width: 120px;
		padding: 10px;
	}

	 #map {
    height:180px;
    width: 100%;
    margin: 1px;
  }

  #map2 {
    height:180px;
    width: 100%;
    margin: 1px;
  }

  #map3 {
    height:265px;
    width: 98%;
    text-align: center;
    margin: 1px;
  }

  #map4 {
    height:160px;
    width: 100%;
    text-align: center;
    margin: 1px;
  }

</style>
