<template>
	<v-layout  align-center justify-center row wrap  >
	
		<v-flex xs12 >

      <v-snackbar
        v-model="snackbar"
        :timeout="4000"
        top
        color="blue" 
        >
        {{ text }}
        <v-btn
          color="white"
          flat
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </v-snackbar>

      <v-flex xs12 sm6 md5 class=" transparent hidden-xs-only" >
        <v-toolbar color="primary" dark >
          <v-toolbar-title > RASTREA TU ENVÍO AQUÍ </v-toolbar-title>
        </v-toolbar>
      </v-flex>

      <v-flex xs12 sm6 md5 class=" transparent hidden-lg-only hidden-sm-only hidden-md-only">
        <v-toolbar color="primary" dark >
          <v-toolbar-title style="font-size:15px "> RASTREA TU ENVÍO AQUÍ </v-toolbar-title>
        </v-toolbar>
      </v-flex>
			
			<v-card align="right" round class="transparent elevation-0 hidden-xs-and-up my-5">
		    <v-flex xs12 sm5 md5 text-xs-right>
	        <v-form>
	          <v-text-field v-model="Numguia" append-icon="credit_card" solo label="Número de guía" type="text" class="pa-2" v-on:keyup.enter="BusNumguia"></v-text-field>
	        </v-form>
     	  </v-flex>
				
				<v-btn  large color="primary" @click="BusNumguia" >Rastrear</v-btn>
      </v-card>
	  </v-flex>
	</v-layout>
</template>

<script>
  export default {
    data () {
      return {
        Numguia:'',
        snackbar: false,
        text:   ''
      }

    },

    created () {
      var me = this
      if(this.$route.params.texto != ''){
        me.MuestraMje(me.$route.params.texto)
      }

    },

     methods:{   

     	BusNumguia(){
     		var numguia   = this.Numguia
        const Numguia = { numguia: numguia } 

        this.$http.post('api/v1/rastreotarjeta', Numguia).then(function(response){ 
           // console.log('General', response.body[0]) 

        if(response.body[0] == 'n'){
          this.snackbar = true ; this.text = "El número de guia no existe "
          return
        }
            
        if(response.body[0].Nombre == 'Sin Asignar'){
          this.snackbar = true ; this.text = "Esta guía no ha sido asignada. "
          this.Numguia = ''
          return
        }

        this.$router.push({name:'misenvios', params: {numguia: numguia}})

        }).catch(function(error){
          console.log(error)
        })

     	},	

     MuestraMje(texto){
      if(texto == '1' ){
          this.snackbar = true ; this.text = "El número de guia no existe "
          this.$route.params.texto = ''
      }
      if(texto == '2'){
          this.snackbar = true ; this.text = "Esta guía no ha sido asignada. "
          this.$route.params.texto = ''
      }

     }
    },
  };
</script>



<style scoped>


 
  div .layout{
    background-image: url('/home.jpeg');
    background-size:  100% 100%;
  }


</style>
