<template>
  <v-layout row wrap align-center justify-center class="pa-4">
    <v-flex xs10>
      <v-card class="elevation-12">
        <v-toolbar dark color="primary">
          <!-- TITULOS DE LA VISTA -->
          <v-toolbar-title> Editar Clasificacion   </v-toolbar-title>
        </v-toolbar>

        <v-card-text>
          <v-form>
            <v-layout row wrap justify-space-between>  
              <!-- LABELS -->
              <v-flex xs12 class="my-1 py-1">
                <v-text-field
                  prepend-icon="person"
                  v-model="cargarClasifAEdit.nomclasif"
                  label="Nombre de la Clasificacion"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-form>
        </v-card-text>

        <v-card-actions>
          <v-layout  justify-space-around row >
            <v-flex xs4>
               <v-btn  block color="primary" @click="agregar"> Grabar <v-icon right>send</v-icon></v-btn>
            </v-flex>

            <v-flex xs4>
              <v-btn  block color="warning" :to="{name: 'catclasif'}"> Cancelar <v-icon right>clear</v-icon></v-btn>
            </v-flex>
          </v-layout>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import {mapGetters, mapState, mapActions} from 'vuex'
  export default{
    data(){
      return{
          nomclasif:''
      }
    },

    created(){      
      this.busIdClasif(this.$route.params.id)
    },

    computed:{

      ...mapGetters('clasificacion', ['cargarClasifAEdit']),
      
      validaInfo(){
        return  this.cargarClasifAEdit.nomclasif    !==  '' 
      }
    },

    methods:{
      //Importar acciones del moudlo de ordenes
      ...mapActions('clasificacion',['modiClasif', 'busIdClasif']),

      //Botón de agregar una nueva clasificacion
      agregar(){    

        if(!this.validaInfo){
          console.log('Faltan campos por agregar')
          return
        }

        const formData = {
          idclasif:      this.cargarClasifAEdit.idclasif, 
          nomclasif:     this.cargarClasifAEdit.nomclasif
        }

        console.log("formdata", formData)

        this.modiClasif(formData)
        this.$router.push({name:'catclasif'})

       },

   }


 }
</script>}
