<template>
  <v-layout row wrap justify-center class="pa-4">
    <v-flex xs12 md7 lg7>
       
    <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      color="blue" 
      >
      {{text}}
      <v-btn
        color="white"
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

      <v-card>
        <v-flex xs12>
          <v-toolbar color="primary" dark>
            <v-toolbar-title >Nueva Servicio </v-toolbar-title>
          </v-toolbar>
        </v-flex>
      </v-card>
   
      <v-card class="elevation-5 mt-1 pa-1">
        <v-form> 
          <v-layout row wrap  class="mx-5">
            <v-flex xs12 md12 lg12 class=""  > 
              <v-text-field
                prepend-icon="ring_volume"
                v-model="Nomserv"
                label="Nombre del Servicio"
              ></v-text-field>
            </v-flex>


            <v-flex xs12 md12 class="mt-1">
              <v-select
                :items="Nombre"
                label="Cliente"
                item-text="Nomcli"
                v-model="Nomcli"
                class="text-xs-center"
                prepend-icon="person"
                sinlge-lin hide-details 
              ></v-select>
            </v-flex>

            <!-- <v-card class=" mt-4"> -->
              <v-layout row wrap  class="mt-3">
                
                <v-flex xs6 sm4 md4>
                  <v-checkbox
                    v-model="ubicacion"
                    label="Ubicación"
                    color ="success"
                  ></v-checkbox>
                </v-flex>
                <v-flex xs6 sm4 md4>
                  <v-checkbox
                    v-model="fotoacuse"
                    label="Foto Acuse"
                    color ="success"
                  ></v-checkbox>
                </v-flex>
                <v-flex xs6 sm4 md4>
                  <v-checkbox
                    v-model="firma"
                    label="Firma"
                    color ="success"
                  ></v-checkbox>
                </v-flex>
                <v-flex xs6 sm4 md4>
                  <v-checkbox
                    v-model="fecha_hora"
                    label="Fecha y Hora"
                    color ="success"
                  ></v-checkbox>
                </v-flex>
                <v-flex xs6 sm4 md4>
                  <v-checkbox
                    v-model="fotoCasa"
                    label="Foto Casa"
                    color ="success"
                  ></v-checkbox>
                </v-flex>
          
              </v-layout>
            <!-- </v-c<ard> -->

  
          </v-layout>

          <v-divider class="mx-5"></v-divider>
          
          <v-layout row wrap justify-center>
            <v-flex xs4 md2 class="mt-2 ">

              <v-btn color="primary" @click="validaCampos" >Agregar</v-btn>
            </v-flex>
            <v-flex xs4 md2 class="mt-2">
              <v-btn color="error" :to="{name:'catservicios'}">Cancelar</v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default{
    data () {    
      return {
        Nomserv:    '',
        ubicacion:  0,
        fotoacuse:  0,
        firma:      0,
        fecha_hora: 0,
        fotoCasa:   0,

        Nomuser: '',

        Nombre: [],   // Arreglo para mostrar
        Idcliente:'', //Id - para grabar 
        Nomcli: '',   // v-model
        clientes:[],  // Arreglo para watch
        
        snackbar: false,
        text:     ''

      }
    },

    created () {
      var me = this

      // Busqueda de Clientes
      this.$http.get('api/v1/clientes').then(function(response){
        // console.log('respuesta',response.body)
        response.body.forEach(function(element) {
          me.Nombre.push(element.nomcli)
          me.clientes.push(element)
        })
      })

    },

    watch:{
      Nomcli: function() {
        var me = this
        this.clientes.forEach(function(element) {
          if(me.Nomcli == element.nomcli){
              me.Idcliente = element.ID
      
          }
        })
      }
    },

  computed:{

      ...mapGetters('login',['getdatosUsuario']),

    
    validaInfo(){
        return  this.Nomserv      !==  '' &&       
                this.Nomcli       !==  '' 
      }
   },

   methods:{

    validaCampos(){

      if(this.ubicacion == true){
        this.ubicacion = 1
      }else{
        this.ubicacion = 0
      }

      if(this.fotoacuse == true){
        this.fotoacuse = 1
      }else{
        this.fotoacuse = 0
      }

      if(this.firma == true){
        this.firma = 1
      }else{
        this.firma = 0
      }

      if(this.fecha_hora == true){
        this.fecha_hora = 1
      }else{
        this.fecha_hora = 0
      }

      if(this.fotoCasa == true){
        this.fotoCasa = 1
      }else{
        this.fotoCasa = 0
      }

      this.agregar()
    },
    
     agregar(){
      
      if(!this.validaInfo){
          this.snackbar = true ; this.text = "Faltan campos por agregar"
        return
      }

      var fecha = new Date(); 
        var mes   = fecha.getMonth()+1; 
        var dia   = fecha.getDate(); 
        var ano   = fecha.getFullYear(); 
        var hora  = fecha.getHours();
        var min   = fecha.getMinutes();
        var seg   = fecha.getSeconds()

      if(dia<10)
        dia='0'+dia; //agrega cero si el menor de 10
      if(mes<10)
        mes='0'+mes

      // Crear variables para enviar
      var fechaActual = ano  +"-" + mes + "-" + dia
      var HoraActual  = hora +":" + min + ":" + seg

      var FECHA = fechaActual + ' ' + HoraActual

      
      const formData = {
        nomserv      :  this.Nomserv,
        nomcli       :  this.Nomcli,
        idcliente    :  parseInt(this.Idcliente),
        ubicacion    :  this.ubicacion,
        fecha_hora   :  this.fecha_hora,
        firma        :  this.firma,
        fotoAcuse    :  this.fotoacuse,
        fotoCasa     :  this.fotoCasa,
        usuario_Gen  :  parseInt(this.getdatosUsuario.idusuariosweb),
        fecha        :  FECHA,
        status       :  1
      }
      
      console.log(formData)

      this.$http.post('api/v1/servicios', formData)
      .then(function(response){

          this.snackbar=true ; this.text="El Servicio se agrego correctamente"
          setTimeout(function(){ me.$router.push({name: 'catservicios'}) }, 2000);

      }).catch(function(error){
        console.log(error)
      })
  }

 }
};
</script>

<style scoped>
s