<template>
  <v-app id="inspire">
    <!-- CONTENIDO PRINCIPAL -->
    <v-layout row wrap>
      <v-flex xs12 v-if="visible == true">
        <v-btn color="primary" dark outline value="Print this page" onClick="window.print()" @click="show" >Imprimir Acuse <v-icon right>print</v-icon></v-btn>
        <v-btn color="primary" dark outline value="Print this page" @click="regresar">Regresar<v-icon right>print</v-icon></v-btn>
        <!-- <v-btn color="primary" dark outline value="Print this page" onClick="window.print()" @click="show" v-else-if="visible == false">Regresar</v-btn> -->
      </v-flex>
      <v-flex xs6 v-for="(acuse, i) in folios" :key="i" >
        <v-card  style="height: 239px;" v-if="acuse.Numguia">
          <v-layout row wrap >
            <v-flex xs6>
              <v-card-text style="font-size: 11px;" class="pa-2 pb-0">
                Cliente: {{ acuse.Nomcli }}<br/>
                Dirección: {{ acuse.Calle }}<br/>
                Número: {{ acuse.Numext }}<br/>
                Colonia:{{ acuse.Colonia }}<br/>
                <!-- Estado: {{ acuse.Estado }}<br/> -->
              </v-card-text>
            </v-flex>
            <v-flex xs6>
              <v-card-text style="font-size: 11px;" class="mb-0 pa-2 pb-0">
                Teléfono: {{ acuse.Tel1 }}<br/>
                Ciudad: {{ acuse.Ciudad }}<br/>
                CP: {{ acuse.Cp }}<br/>
                Folio: {{acuse.Numcli}}<br/>
                Remesa: {{acuse.Numrem}}<br/>
                
              </v-card-text>
            </v-flex>
          </v-layout>
          <v-card-text style="font-size: 1px;" class="pa-0">
            <barcode :value="acuse.Numguia" height ="80" width="2" fontSize="15">
              Show this if the rendering fails.
            </barcode>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-app>
</template>


<script>
  import {mapActions} from 'vuex'
  import store from '@/store'
  import VueBarcode from 'vue-barcode';

export default{
  data() {
    return{
      barcodeValue: 'test',
      folios:[],
      visible: true,
    }
  },

  components: {
    'barcode': VueBarcode
  },

  created(){
    this.folios = store.state.acuses
  },

  methods:{
    ...mapActions('barras',['showBarra']),

    regresar(){
      this.showBarra(true)
      this.$router.push({name:'catremesas'})
    },

    imprimir(){
      this.visible =! this.visible
    },

    show(){
      this.visible =! this.visible
      setTimeout(this.imprimir,2000);
    }
  }
};
</script>
<style scoped>
  .vue-barcode-element{
    width: 200px !important;
  }

  rect{
    width: 200px !important;
  }
</style>
