<template>
  <v-layout row wrap justify-center class="pa-3">
    <v-flex xs12 sm11>

      <v-layout row wrap>
        <!-- <v-flex xs12> -->
          <!-- <v-layout row wrap> -->
            
            <v-flex xs12 sm3 md1 lg1>
              <h4> Tarjetas</h4>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs12 sm8 md6 lg4>
              <v-text-field
                v-model="search"
                label="Búsqueda"
                id="id"
                append-icon="search"
              ></v-text-field>
            </v-flex>

            <v-spacer></v-spacer>
            <v-flex xs12 sm3 class="my-2 " >
              <v-select
                :items="ESTATUS"
                item-text="status"
                v-model="estatus"
                label="Estatus"
                class="text-xs-center" 
                append-icon="data_usage"
                sinlge-lin hide-details
                solo
              ></v-select>
            </v-flex>
          <!-- </v-layout> -->
        <!-- </v-flex> -->

        <v-flex xs12 sm3 md3 class="pa-1" >
          <v-select
            :items="Cliente"
            item-text="Nomcli"
            v-model="Nomcli"
            append-icon="person"
            label ="Cliente"
            persistent-hint
            :disabled ="disabled"
          ></v-select>
        </v-flex>
        <v-flex xs12 sm3 md3  class="pa-1" >
          <v-select
            :items="Nombre"
            label="Mensajero"
            item-text="mensajero"
            v-model="mensajero"
            class="text-xs-center"
            append-icon="local_shipping"
            sinlge-lin hide-details 
            
          ></v-select>
        </v-flex>


        <v-spacer></v-spacer>
        <v-flex xs12 sm5 md5>
          <v-layout row wrap >
            
              <!-- FILTRO DE FECHAS -->
           <!--  <v-flex xs4 sm3 md4 class="mx-1" >
              <v-menu
                ref="fechaDesde"
                v-model="fechaDesde"
                :close-on-content-click="false"
                :nudge-right="20"
                :return-value.sync="date"
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="date"
                    label="Desde"
                    append-icon="event"
                    readonly
                    v-on="on"

                  ></v-text-field>
                </template>
                
                <v-date-picker v-model="date" locale="es-ES"  no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn flat color="primary" @click="fechaDesde = false">Cancel</v-btn>
                  <v-btn flat color="primary" @click="$refs.fechaDesde.save(date)">OK</v-btn>
                </v-date-picker>
              </v-menu>
            </v-flex> -->
          
            <!-- FECHA 2 -->
           <!--  <v-flex xs4 sm3 md4 class="mx-1" >
              <v-menu
                ref="menu"
                v-model="fechaHasta"
                :close-on-content-click="false"
                :nudge-right="20"
                :return-value.sync="date2"
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="date2"
                    label="Hasta"
                    append-icon="event"
                    readonly
                    v-on="on"
                    
                  ></v-text-field>
                </template>
                <v-date-picker v-model="date2" locale="es-ES"  no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                  <v-btn flat color="primary" @click="$refs.menu.save(date2)">OK</v-btn>
                </v-date-picker>
              </v-menu>
            </v-flex> -->
        
            <!-- <v-flex xs2 class="pa-2">
                <v-btn small color="primary" @click="Buscar">Buscar</v-btn>
            </v-flex> -->
          </v-layout>
        </v-flex>
        
        <!-- <v-flex xs2 md2> -->
          <!-- <ExpExcelGuia/> -->
        <!-- </v-flex> -->

      </v-layout>

      <v-flex xs12 class= ""> 
        <v-alert
          :value="alerta"
          type="warning"
          transition="expand"
        >
          Lo sentimos no hay información para mostrar
        </v-alert>
      </v-flex>
      
    <template v-if ="Tarjetas == '' ">
      <v-progress-linear height="4" :indeterminate="true" v-if="alerta == false"></v-progress-linear>
    </template>

    <v-flex xs12 v-if="Tarjetas != '' ">
      <v-card class="box pa-1 elevation-0" v-if ="Tarjetas != null">
        <vue-scrolling-table
          scroll-horizontal
          scroll-vertical
          >
          <template slot="thead" >
            <tr>
              <th v-for="head in headers"
              class="text"
              :key="head.value"
              >
                <span v-if = "head.text == 'TOTAL' ">{{head.text}} </span>
                <span v-else-if= "head.text == 'Remesa' ">{{head.text}} </span>
                <span v-else >{{head.text}} </span>
              </th>
            </tr>

          </template>
          <template slot="tbody">
            <tr v-for="tarjeta in Tarjetas"  
                v-bind:style="tarjeta.nomestatus=='Entregada'? 'color:green; font-weight: bold;' : '' "
            >
              <td v-for="head in headers"
                :class="head.cssClasses"
                 v-on:dblclick="edit(tarjeta.Numguia)"
                :key="head.value">{{ tarjeta[head.value] }}</td>
            </tr>
          </template>
        </vue-scrolling-table>
      </v-card>
    </v-flex> 
    </v-flex> 
  </v-layout>
</template>

<script>
  import jsPDF from 'jspdf'
  import AutoTable from 'jspdf-autotable'
  import {mapActions, mapGetters} from 'vuex'

  import VueScrollingTable from "vue-scrolling-table"
  // import ExpExcelGuia from '@/views/Tarjetas/ExpExcelGuia'
 
  export default {
    components: {
      VueScrollingTable,
      // ExpExcelGuia
    },
    data(){
      return{
        //buscador
        search:'',

        date       : new Date().toISOString().substr(0, 10) ,
        date2       : new Date().toISOString().substr(0, 10),
        fechaDesde : false,
        fechaHasta : false,

        disabled: false,

        // SELECTOR MENSAJERO
        idMensajero:'', //Id - para grabar 
        mensajero: '',   // v-model
        Nombre: [],   // Arreglo para mostrar
        mensajeros:[],  // Arreglo para watch

         // Selector Clientes
        Idcliente:'',   //Id - para grabar 
        Nomcli   :'',   // v-model
        Cliente  :[],   // Arreglo para mostrar
        clientes :[],   // Arreglo para watch

        desorden  :'',
        search    : '',
        pagination: {},
        elected   : [],
        dialog    : false,
        Nomvend   :'',
        
        estatus   :'Pendientes',
        EstatusAEnviar : '',
        loading   : true,
        Tarjetas   :[],
        TarjetasOrg: [],
        ordentotal: true,
        ordenarNombre: true,
        alerta    : false,

        headers: [
          { text: 'FOLIO'          ,  value: 'Numguia'    , cssClasses: "nombre"},
          { text: 'Cliente'        ,  value: 'Numcli'     , cssClasses: "anio" },
          { text: 'Nombre'         ,  value: 'Nomcli'     , cssClasses: "num" },
          { text: 'Remesa'         ,  value: 'Numrem'     , cssClasses: "num" },
          { text: 'Codigo'         ,  value: 'Codigo'     , cssClasses: "num" },
          { text: 'Estatus'        ,  value: 'nomestatus' , cssClasses: "estatus" },
          { text: 'Mensajero'      ,  value: 'Nombre'     , cssClasses: "num" },
          { text: 'Recibe'         ,  value: 'Nomrecibe'  , cssClasses: "num" },
          { text: 'Fecha Entrega'  ,  value: 'Fecha_entrega' , cssClasses: "num" },
        ],

        // ARREGLO PARA EL AÑO
        ESTATUS:[
          { status:'Por Validar' }, //0
          { status:'Pendientes' },  //1
          { status:'Entregada' },   //3
          { status:'Devuelta' },    //4

        ],
     
      }
    },  

    computed:{
      ...mapGetters('login',['getdatosUsuario', 'getLogeado']),
    },

    watch:{

      search: function(){
        this.Tarjetas = []
        for (var i = this.TarjetasOrg.length - 1; i >= 0; i--) {
          if(this.TarjetasOrg[i].Nomcli.indexOf(this.search.toUpperCase()) >= 0
            || this.TarjetasOrg[i].nomestatus.indexOf(this.search) >= 0
            || this.TarjetasOrg[i].Numcli.indexOf(this.search.toUpperCase()) >= 0
            || this.TarjetasOrg[i].Numrem.indexOf(this.search) >= 0){
            this.Tarjetas.push(this.TarjetasOrg[i])
          }
        }
      },

      mensajero: function() {
        var me = this
        this.mensajeros.forEach(function(element) {
          if(me.mensajero == element.Nombre){
              me.idMensajero = element.ID
              // console.log('idmensajero',me.idMensajero)
          }
        })

      },

      estatus: function() {
        
        this.Tarjetas = ''
        this.alerta = false

        switch(this.estatus){

          case 'Por Validar' :
            this.EstatusAEnviar = 0
            break;

          case 'Pendientes' :
            this.EstatusAEnviar = 1
            break;

          case 'Entregada':
            this.EstatusAEnviar = 3
            break;

          case 'Devuelta':
            this.EstatusAEnviar = 4
            break;

          default:
            this.EstatusAEnviar = 'Pendientes'
            break;

        }
          // Mandar estatus selecccionado
          const payload = {
            Estatus    : this.EstatusAEnviar,
            Idcliente  : parseInt(this.Idcliente),
          }
          this.consultar(payload)
      },

      // SELECTOR DE CLIENTES
      Nomcli: function() {
        var me = this
        this.clientes.forEach(function(element) {
          if(me.Nomcli == element.nomcli){
              me.Idcliente = element.ID
          }
        })

        const payload = {
          Estatus    : this.EstatusAEnviar,
          Idcliente  : parseInt(this.Idcliente),
        }
          this.consultar(payload)

      },

    },

    created () {
      // Busqueda de Clientes
      this.$http.get('api/v1/clientes').then(function(response){
        response.body.forEach(function(element) {
          me.Cliente.push(element.nomcli)
          me.clientes.push(element)

        })
      })

      // CONSULTA DE MENSAJEROS
      var me = this
      this.$http.get('api/v1/mensajeros').then(function(response){
        response.body.forEach(function(element) {
          me.Nombre.push(element.Nombre)
          me.mensajeros.push(element)
        })
      })

      // Asignar Autocliente
      this.Idcliente      = this.getdatosUsuario.Idcliente
      // Asignar primer Estatus
      this.EstatusAEnviar = 1
      // Formo el payload para la consulta
      const payload = { Estatus: this.EstatusAEnviar , Idcliente  : parseInt(this.Idcliente)}
      // Consultar
      this.consultar(payload)
      // VALIDA USUARIO
      this.ValidaUsuario()
      
    },

    methods: {

      ValidaUsuario(){
        // Validar que el nivel sea Sait
        if(this.getdatosUsuario.Nivel == "SOLEMEX"){

        this.Idcliente =  this.getdatosUsuario.Idcliente 
        this.Nomcli    =  this.getdatosUsuario.Nomcli
        this.disabled  = false 

        }else { // Si tiene un nivel diferente bloqueo selector Nomcli
          
          this.Idcliente =  this.getdatosUsuario.Idcliente 
          this.Nomcli    =  this.getdatosUsuario.Nomcli
          this.disabled = true 
        }
      },

      Buscar(){
        var fechaDesde = new Date().toISOString().substr(5, 2) - 1
        console.log('fechadesde', fechaDesde)
      },

      consultar(payload){
      
        var me = this
        this.alerta   = false
        this.Tarjetas = ''

        this.$http.post('api/v1/tarjetaxstatus', payload).then(function(response){

         if(response.body == "null"){

          this.alerta = true 
         }else{

          me.TarjetasOrg = response.body
          me.Tarjetas = response.body
          
         }

        }).catch(function(error){
          console.log(error)
          
        }) 
      },

      edit(item){
        this.$router.push({name:'rastreotarj', params: {id: item} })
      }

    }
  };
</script>

<style scoped>

  .box {
    padding: 0;
    min-height: auto;
    max-height: 450px;
    min-width: auto;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  .num{
    text-align: right;
    width: 9em;
    min-width: 9em;
    max-width: 9em;
    padding: 3px;
    color : black;

  }
  
  .estatus{
    text-align: right;
    width: 9em;
    min-width: 9em;
    max-width: 9em;
    padding: 3px;
    /*color: green;*/
  }

  .text{
    text-align: center;
    width: 9em;
    min-width: 9em;
    max-width: 9em;
    padding: 3px;
  }

  .nombre{
    text-align: left;
    width: 9em;
    min-width: 9em;
    max-width: 9em;
    padding: 3px;
    color : black;

  }

  .centro{
    text-align: center;
    width: 9em;
    min-width: 9em;
    max-width: 9em;
    padding: 3px !important;
    /*margin: 50px !important;*/
  }
  .anio{
    text-align: center;
    width: 9em;
    min-width: 9em;
    max-width: 9em;
    padding: 3px;
    color: #EF6C00 ;
  }


  th{
    background: #E65100 !important;
    color: #fff;
    text-align: center;
    width: 9em !important;
    min-width: 9em !important;
    max-width: 9em !important;
    font-size: 14px !important;
    padding: 5px !important;

  }

    h4{
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
     font-size: 21px !important;
     padding: 10px !important;
    }

    td{
     font-size: 14px !important;
    }

    td:hover {background-color: #E65100 ; color: #fff;}
</style>