<template>
	<v-layout row wrap justify-center class="pa-4">
	  <v-flex xs12 sm11 md7>	

	  	<v-snackbar
	      v-model="snackbar"
	      :timeout="3000"
	      top
	      color="blue" 
	      >
	      {{text}}
	      <v-btn
	        color="white"
	        flat
	        @click="snackbar = false"
		    >
	        Cerrar
      	</v-btn>
      </v-snackbar>

	  	<v-layout row wrap>
				<v-flex xs12 sm4 class="mt-1 ma-1">
		      <v-select
		        :items="Remesas"
		        label="Remesas por Validar"
		        item-text="Numrem"
		        v-model="Numrem"
		        class="text-xs-center"
		        append-icon="email"
		        sinlge-lin hide-details 
		        box
		      ></v-select>
		    </v-flex>
		   
	  	</v-layout>
			
			<v-flex xs12  > 
				<v-card flat class="my-1 mx-1 elevation-3" color="primary" dark>
					<h3 class="titulo"> Tarjetas sin Sucursal </h3>
				</v-card> 
				
				<v-layout row wrap v-if="Numrem != '' ">
				  <v-flex xs5 v-if="Numrem != '' ">
						<v-card flat class="my-2 mx-1 elevation-3" color="primary" dark>
							<h3 class="titulo2"> Cliente </h3>
						</v-card> 
				  </v-flex> 
				 	<v-flex xs7 v-if="Numrem != '' ">
						<v-card flat class="my-2 mx-1 elevation-3" color="primary" dark>
							<h3 class="titulo2"> Sucursal asignada </h3>
						</v-card> 
				 	</v-flex>
				</v-layout>
				
					<!-- Ciclo para agregar desserts -->
			  <v-card class=" mx-1 elevation-2 pa-0 ma-1" v-for="(sob, i) in SucBr" :key="i">
					<v-layout row wrap >
						<v-flex xs6 sm5 text-xs-center class="pa-4" v-if="Numrem != '' ">
				   		<h3>{{sob.numcli}}</h3>
						</v-flex>

				   	<v-flex xs6 sm4 class="pa-1" text-xs-center v-if="Numrem != '' ">
				      <v-select
				        :items="Sucursal"
				        v-model="sob.idsucbr"
				        value  ="sob.idsucbr"
				        append-icon="business"
				        label ="Sucursal"
				        persistent-hint
				      ></v-select>
			      </v-flex>

						<v-flex xs12 sm3 class="pa-3 " text-xs-right v-if="Numrem != '' ">
				      <v-btn small class="elevation-4" @click="procesar(sob.idsucbr, sob.id)" color="success">
				      	Guardar<v-icon >save</v-icon></v-btn>
						</v-flex>

					</v-layout>
				</v-card>

				<v-alert
					class="ma-1"
		      :value="true"
		      type="info"
		      v-model ="alerta"
		    >
		      {{ text_alerta }}
		    </v-alert>
	
			</v-flex>
	  </v-flex>
	</v-layout>
</template>

<script>
	import { mapGetters} from 'vuex'

  export default {
    data(){
      return{
        SucBr       : [],
      	sucursal    : '',
      	Id 					:'',
      	Numcli      : '',
      	snackbar    :false,
        text        :'',
        alerta      :false,
        text_alerta : '',
      	headers     : [ { text: 'Cliente' , value: 'Numcli'   }, 
      	                { text: 'Sucursal', value: 'Sucursal' }
                      ],

         // Selector Clientes
        Idsucursal  :'',   //Id - para grabar 
        Nomsuc      :'',   // v-model
        Sucursal    :[],   // Arreglo para mostrar
        sucursal    :[],   // Arreglo para watch

        // SELECTOR REMESAS
      	Remesas     :[],
      	Idremesa    : '',
      	NumRemesa   :[],
      	Numrem      : '',

      }
    },

    computed:{
      ...mapGetters('login',['getdatosUsuario', 'getLogeado']),
    },
      
    created () {
    	
    	if(this.$route.params.id != undefined){
    		this.Numrem = this.$route.params.id
        this.GetTarjSinSuc()

    	}else{
    		this.Numrem = ''
    	}

       var me = this

      this.$http.get('api/v1/remxvalidar').then(function(response){
          response.body.forEach(function(element) {
          me.Remesas.push(element.Numrem)
          me.NumRemesa.push(element)
        })
      })

       const payload = { Idcliente  : parseInt(this.getdatosUsuario.Idcliente) }
       this.$http.post('api/v1/sucursalesxcli', payload).then(response =>{
        response.body.forEach(function(element) {
          me.Sucursal.push( element.numsuc )
          me.sucursal.push(element)
        })
      }).catch(error =>{ console.log(error) })

    },

    watch:{
    	// Funciones para actualizar Id's(Numrem,Nomplaza,Nommensajeria)
      Numrem: function() {
      	this.alerta = false
        var me = this 
        if(this.Numrem == ''){
        	return
        } 

        this.NumRemesa.forEach(function(element) {
          if(me.Numrem  == element.Numrem){
              me.Idremesa = element.ID
          }
        })
        	this.GetTarjSinSuc()
      },
    },

    methods: {

    	GetTarjSinSuc(){
    		const payload = { Numrem: this.Numrem, Idsucbr : "DEFAULT" }

      	this.$http.post('api/v1/tarjsinsuc', payload).then(response =>{
	        console.log('response get ', response.body )
	        this.SucBr  = response.body
	        this.Id     = response.body[0].id
	        this.Numcli = response.body[0].numcli

	        if(this.SucBr == "null"){
	        	this.alerta = true ; this.text_alerta = "No se encontraron errores"
	        	this.Numrem = ''
	        }

      	}).catch(error =>{ console.log(error) })

    	},

    	// REALIZAR CICLO EN LA API PARA GRABAR
    	procesar(idsucbr, id){
    		var ID = id 
				const payload = { Idsucbr: idsucbr, Numcli: this.Numcli }

				this.$http.put('api/v1/putidsucbr/'+  id , payload).then(response =>{
					console.log('response', response.body)
					this.snackbar = true ; this.text = "Se Actualizo Correctamente"
				})
    	}
    },
  };
</script>

<style scoped>
	.numcli:hover {
	}

	.titulo{
		padding: 4px;
		text-align: center;
		font-size: 20px
	}

	.titulo2{
		padding: 3px;
		text-align: center;
		font-size: 15px
	}


</style>

