<template>
  <v-layout row wrap justify-center class="pa-4">
    <v-flex xs12 md10 lg10>
      <v-layout row wrap>
          
        <v-flex xs12 md3 lg3 class="mx-2">
         <h2>Mensajerías</h2>  
        </v-flex> 

        <!-- BUSQUEDA -->
        <v-flex xs12 md4 lg4 >
          <v-text-field
          class="text-xs-center" v-model="search" append-icon="search" label="Búsqueda de Mensajeria" sinlge-lin hide-details
          sinlge-lin hide-details
          ></v-text-field>
        </v-flex>
       <v-spacer></v-spacer> 

        <!-- BOTON NUEVO VENDEDOR -->
        <v-flex xs8 md3 lg3 >
          <v-btn  color="primary" sinlge-lin hide-details dark class="mb-2" :to="{name: 'newmensaje'}" >Nueva Mensajeria</v-btn>
        </v-flex>
         <v-flex xs1 class="mx-2">
            <div><ExpExcelMensaje/></div> 
          </v-flex>
      </v-layout>

      <v-data-table
        hide-actions
        :headers="headers"
        :items="Mensajerias"
        :search="search"
        :pagination.sync="pagination"
        class="elevation-1 mt-2"
        :loading="loading"
      >
       <v-progress-linear v-slot:progress color="primary" indeterminate></v-progress-linear>

        <template slot="items" slot-scope="props">
          <td class="text-xs-left" v-on:dblclick="edit(props.item.Id)">{{ props.item.Nommensajeria }}</td>
          <td class="text-xs-left" v-on:dblclick="edit(props.item.Id)">{{ props.item.Contacto }}</td>
          <td class="text-xs-left" v-on:dblclick="edit(props.item.Id)">{{ props.item.Email }}</td>
          <td class="text-xs-left" v-on:dblclick="edit(props.item.Id)">{{ props.item.Telefono }}</td>
          <td class="text-xs-left" v-on:dblclick="edit(props.item.Id)">{{ props.item.Estado }}</td>
          
        </template>
          
         <!-- Botón que aparecera en caso de no ser generada la infomación -->
        <template slot="no-data">
          <v-alert :value="true" color="error" icon="warning">
            No se econctraron datos en el sistema
          </v-alert>
        </template>
      </v-data-table>

        <!-- Paginación -->
      <div class="text-xs-center">
        <v-pagination
          v-model="pagination.page"
          :length="pages"
          :total-visible="7"
        ></v-pagination>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
  import jsPDF from 'jspdf'
  import AutoTable from 'jspdf-autotable'
  import ExpExcelMensaje from '@/views/mensajerias/ExpExcelMensaje'

  // import ImprimirOrdenes from '@/componentes/asesores/ImprimirOrdenes'

  export default {
    components:{
      ExpExcelMensaje
    },
    data(){
      return{
        search: '',
        pagination: {},
        elected: [],
        dialog: false,
        Mensajerias:[],
        loading: false,
        headers: [
          { text: 'Mensajeria'  ,  value: 'Nommensajeria' },
          { text: 'Contacto'    ,  value: 'Contacto' },
          { text: 'Email'       ,  value: 'Email' },
          { text: 'Telefono'    ,  value: 'Telefono' },
          { text: 'Estado'      ,  value: 'Estado' }
          
        ],
      }
    },
      
    computed: {
      pages () {
        if (this.pagination.rowsPerPage == null || this.pagination.totalItems == null ) {
          return 0
        }else{
          this.pagination.rowsPerPage = 8
          return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
        }
      },
    },

    created () {
      this.loading = true 

      this.$http.get('api/v1/mensajeria').then(function(response){
            // console.log(response.body)
            this.Mensajerias = response.body
            this.paginas(response.body)

            this.loading = false
            
          }).catch(function(error){
            console.log(error)
          })
    },

    methods: {
      edit(item){
        this.$router.push({name:'editmensaje', params: {id: item}})
      },

      // inicar paginacion
      paginas(value){

        var pag = value.length
        
        if ( pag <= 0 ) {
          return 0
        }else{
          this.pagination.rowsPerPage = 8 ; this.pagination.totalItems  = pag
          return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
        }

      }
    }
  }
</script>