<template>
  <v-layout row wrap justify-center class="pa-4">
    <v-flex xs12 md7 lg7>
       
     <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      color="blue" 
      >
      {{text}}
      <v-btn
        color="white"
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

      <v-card>
        <v-flex xs12>
          <v-toolbar color="primary" dark>
            <v-toolbar-title > Editar Mensajeria </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn  flat color="blak" dark @click="DeleteMensajeria">Eliminar<v-icon>delete_forever</v-icon></v-btn>
          </v-toolbar>
        </v-flex>
      </v-card>
   
      <v-card class="elevation-5 mt-1 pa-1">
        <v-form> 
          <v-layout row wrap  class="mx-5">
            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="copyright"
                v-model="cargarMensajeriaAEdit.Nommensajeria"
                label="Mensajeria"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="location_city"
                v-model="cargarMensajeriaAEdit.Contacto"
                label="contacto"
              ></v-text-field>
            </v-flex>

            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="ring_volume"
                v-model="cargarMensajeriaAEdit.Telefono"
                label="Telefono "
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="email"
                v-model="cargarMensajeriaAEdit.Email"
                label="Email"
              ></v-text-field>
            </v-flex>
             
             <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="email"
                v-model="cargarMensajeriaAEdit.Estado"
                label="Estado"
              ></v-text-field>
            </v-flex>
              
            <v-flex xs12 md6 lg6  > 
              <h3 class="mx-3">Estatus</h3>
              <v-radio-group v-model="estatus" :mandatory="false">
                <v-layout row wrap>
                  <v-flex xs3  class="mx-3">
                    <v-radio label="Activo"  color="success" value="activo-si"></v-radio>           
                  </v-flex> 

                  <v-flex xs3  class="mx-3">
                    <v-radio label="Inactivo"  color="red"   value="activo-no"></v-radio>
                  </v-flex>                 
                </v-layout>
              </v-radio-group>
            </v-flex>

          </v-layout>

          <v-divider class="mx-5"></v-divider>
          
          <v-layout row wrap justify-center>
            <v-flex xs4 md2 class="mt-2 ">

              <v-btn color="primary" @click="agregar" >Editar</v-btn>
            </v-flex>
            <v-flex xs4 md2 class="mt-2">
              <v-btn color="error" :to="{name:'catmensajerias'}">Cancelar</v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default{
    data () {    
      return {
        Nommensajeria:   '',
        Contacto:   '',
        Telefono: '',
        Email:    '',
        estatus: '',
        Estado: '',
        snackbar: false,
        text:     '',
        cargarMensajeriaAEdit: '',
      }
    },

    created () {
      this.busIdMensajeria(this.$route.params.id)
    },

  computed:{
    
    validaInfo(){
        return  this.cargarMensajeriaAEdit.Nommensajeria  !==  '' &&       
                this.cargarMensajeriaAEdit.Contacto       !==  '' && 
                this.cargarMensajeriaAEdit.Email          !==  '' &&
                this.cargarMensajeriaAEdit.estatus        !==  '' 
      }
   },

   methods:{
    
     agregar(){
       var me = this
      if(!this.validaInfo){
          this.snackbar = true ; this.text = "Faltan campos por agregar"
        return
      }

      if(this.estatus == "activo-si"){
        this.estatus = 1
      }else {
        this.estatus = 0
      }

      this.$http.put('api/v1/mensajeria/' + this.cargarMensajeriaAEdit.Id,{
        
        'Nommensajeria':  this.cargarMensajeriaAEdit.Nommensajeria,
        'Contacto'     :  this.cargarMensajeriaAEdit.Contacto,
        'Telefono'     :  this.cargarMensajeriaAEdit.Telefono,
        'Email'        :  this.cargarMensajeriaAEdit.Email,
        'estatus'      :  this.estatus,
        'Estado'       :  this.cargarMensajeriaAEdit.Estado,
        'Nummensajeria':  this.cargarMensajeriaAEdit.Nummensajeria,
        'Estado'       :  this.cargarMensajeriaAEdit.Estado

      })
      .then(function(response){
          this.snackbar= true ; this.text =" Los cambios se guardaron correctamente"
          setTimeout(function(){ me.$router.push({name: 'catmensajerias'}) }, 2000);
      }).catch(function(error){
        console.log(error)
      })
  },

  // BUSCAR UN CLIENTE 
    busIdMensajeria(id){
      var temp = ''

      this.$http.get('api/v1/mensajeria/' + id).then(function(response){ 
        // console.log('busCliente', response.body) 
        this.cargarMensajeriaAEdit = response.body
         temp = response.body.Estatus

        if(temp == '1'){
          this.estatus = "activo-si"
        }else{
          this.estatus = "activo-no"
        }
        
        }).catch(function(error){
          
          console.log(error)
        })


    },

    DeleteMensajeria(){
      var me = this
      var id = this.cargarMensajeriaAEdit.Id

      this.$http.delete('api/v1/mensajeria/' + id)
      .then(function(response){
        this.snackbar= true ; this.text =" La mensajeria fue eliminada correctamente"
          setTimeout(function(){ me.$router.push({name: 'catmensajerias'}) }, 2000);
      }).catch(function(error){
        console.log(error)
      })


    },

 }
};
</script>