<template>
  <v-layout row wrap justify-center class="pa-4">
    <v-flex xs12 md7 lg7>
       
     <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      color="blue" 
      >
      {{text}}
      <v-btn
        color="white"
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

      <v-card>
        <v-flex xs12>
          <v-toolbar color="primary" dark>
            <v-toolbar-title >Nueva Mensajeria </v-toolbar-title>
          </v-toolbar>
        </v-flex>
      </v-card>
   
      <v-card class="elevation-5 mt-1 pa-1">
        <v-form> 
          <v-layout row wrap  class="mx-5">
            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="copyright"
                v-model="Nommensajeria"
                label="Mensajeria"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="location_city"
                v-model="Contacto"
                label="contacto"
              ></v-text-field>
            </v-flex>

            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="ring_volume"
                v-model="Telefono"
                label="Telefono "
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="email"
                v-model="Email"
                label="Email"
              ></v-text-field>
            </v-flex>
             
             <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="email"
                v-model="Estado"
                label="Estado"
              ></v-text-field>
            </v-flex>
              
            <v-flex xs12 md6 lg6  > 
              <h3 class="mx-3">Estatus</h3>
              <v-radio-group v-model="estatus" :mandatory="false">
                <v-layout row wrap>
                  <v-flex xs3  class="mx-3">
                    <v-radio label="Activo"  color="success" value="activo-si"></v-radio>           
                  </v-flex> 

                  <v-flex xs3  class="mx-3">
                    <v-radio label="Inactivo"  color="red"   value="activo-no"></v-radio>
                  </v-flex>                 
                </v-layout>
              </v-radio-group>
            </v-flex>

          </v-layout>

          <v-divider class="mx-5"></v-divider>
          
          <v-layout row wrap justify-center>
            <v-flex xs4 md2 class="mt-2 ">

              <v-btn color="primary" @click="agregar" >Agregar</v-btn>
            </v-flex>
            <v-flex xs4 md2 class="mt-2">
              <v-btn color="error" :to="{name:'catmensajerias'}">Cancelar</v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default{
    data () {    
      return {
        Nommensajeria:   '',
        Contacto:   '',
        Telefono: '',
        Email:    '',
        estatus: '',
        Estado: '',
        snackbar: false,
        text:     ''
      }
    },

  computed:{
    
    validaInfo(){
        return  this.Nommensajeria  !==  '' &&       
                this.Contacto       !==  '' && 
                this.Email          !==  '' &&
                this.estatus        !==  '' 
      }
   },

   methods:{
    
     agregar(){
      var me = this
      if(!this.validaInfo){
          this.snackbar = true ; this.text = "Faltan campos por agregar"
        return
      }

      if(this.estatus == "activo-si"){
        this.estatus = 1
      }else {
        this.estatus = 0
      }

      const formData = {
        Nommensajeria:  this.Nommensajeria,
        Contacto     :  this.Contacto,
        Telefono     :  this.Telefono,
        Email        :  this.Email,
        estatus      :  this.estatus,
        Estado       :  this.Estado
      }
        // console.log(formData)
      this.$http.post('api/v1/mensajeria', formData)
      .then(function(response){
        this.snackbar= true ; this.text =" La mensajeria se creo correctamente"
        setTimeout(function(){ me.$router.push({name: 'catmensajerias'}) }, 2000);
      }).catch(function(error){
        console.log(error)
      })
  }

 }
};
</script>