<template>
	<v-layout row wrap class="mx-4 pa-2" >
		<v-flex xs12>
			<v-snackbar
	      v-model="snackbar"
	      :timeout="2000"
	      top
	      color="blue" 
	    	>
	      {{text}}
	      <v-btn
	        color="white"
	        flat
	        @click="snackbar = false"
	      >
	        Cerrar
	      </v-btn>
    	</v-snackbar>
		 
	  	<v-card-text>
	  		<h2>ASIGNACIÓN DE TARJETAS A MENSAJEROS</h2>
	  		<v-divider></v-divider>
	  	</v-card-text>
			
			<v-layout row wrap>
		  	<v-flex xs12 sm5 md3 class="my-1 mx-3">
		  		<v-flex xs12 class="mx-1 " >
            <span >Seleccione una mensajería</span>
          </v-flex>
	        <v-select
	          :items="mensaje"
	          label="Mensajeria"
	          item-text="mensajería"
	          v-model="mensajeria"
	          class="text-xs-center"
	          append-icon="email"
	          sinlge-lin hide-details 
	          outline
	        ></v-select>
	      </v-flex>

	      <v-flex xs12 sm5 md4 class="my-1 mx-3"  v-if="Nombre != '' " >
	      	<v-flex xs12 class="mx-1 " >
            <span >Seleccione un mensajero</span>
          </v-flex>
	        <v-select
	          :items="Nombre"
	          label="Mensajero"
	          item-text="mensajero"
	          v-model="mensajero"
	          class="text-xs-center"
	          append-icon="local_shipping"
	          sinlge-lin hide-details 
	          outline
	        ></v-select>
	      </v-flex>
			</v-layout>
			
			<v-flex  class="my-3">
			  
			</v-flex>
		  <v-flex xs12 class="mx-3 "  v-if="mensajero != ''  ">
		  	<span >Ingresé el folio de la guía</span>
		  </v-flex>

			<v-card-actions  v-if="mensajero != ''  ">
			  
			  <v-flex xs8 sm5 md5 lg3 class="mx-2" > 
			      <v-text-field
			        append-icon="credit_card"
			        v-model="Numguia"
			        label="Número de Guía"
			        outline
			        type="Input"
							v-on:keyup.enter="asignaTarjeta"

			      ></v-text-field>
			    </v-flex>
				
			    <v-flex xs3 md2 lg2 class="ma-1 pa-2 ">
			      <v-btn color="primary" @click="asignaTarjeta">Asignar</v-btn>
			    </v-flex>
			</v-card-actions>

			<v-divider></v-divider>

			<v-card-actions class="contenedor">
				<v-layout row wrap>
				  
					<v-flex xs12 	 md5  v-if ="Correctas != '' "> 
						<v-card flat class="my-2 elevation-3" color="primary" dark>
						  <h3 class="titulo" > Asignaciones a: {{NombreAsig}}  </h3>
						</v-card> 

						<!-- Ciclo para agregar OK -->
					  <v-card class=" numguia  elevation-3" v-for="(ok, i) in Correctas" :key="i">
					   	 <h3>{{ok.Numguia}}</h3>
					  </v-card>
					</v-flex>

				</v-layout>
			</v-card-actions>

		</v-flex>
	</v-layout>
</template>

<script> 
	import {mapGetters} from 'vuex'
  export default {
    data(){
      return{
      	Id:'',
      	Numguia:'',
      	text    : '',
      	snackbar: false,
      	Correctas:[],
      	NombreAsig: '',
      	Nomuser: '',


      	Nombre: [],   // Arreglo para mostrar
        idMensajero:'', //Id - para grabar 
        mensajero: '',   // v-model
        mensajeros:[],  // Arreglo para watch

        mensaje:        [],
        IdMensajeria: '',
        mensajeria:  '',
        Nummensajeria:  [],
      }
    },

    created(){
    	var me = this
      // Busqueda de Mensajeros
      // this.$http.get('api/v1/mensajeros').then(function(response){
      //   // console.log('mensajeros',response.body)
      //   response.body.forEach(function(element) {
      //     me.Nombre.push(element.Nombre)
      //     me.mensajeros.push(element)
      //   })
      // })	


      this.$http.get('api/v1/mensajeria').then(function(response){
        // console.log('respuesta',response.body)
        response.body.forEach(function(element) {
          me.mensaje.push(element.Nommensajeria)
          me.Nummensajeria.push(element)
        })

      })

      var fecha = new Date(); 
			  var mes 	= fecha.getMonth()+1; 
			  var dia 	= fecha.getDate(); 
			  var ano 	= fecha.getFullYear(); 
			  
			  var hora 	= fecha.getHours();
			  var min  	= fecha.getMinutes();
			  var seg  	= fecha.getSeconds()

		  if( dia < 10 ){ dia = '0' + dia } 
		  if( mes < 10 ){ mes = '0' + mes }
		  if(hora < 10 ){ hora = '0'+ hora}
		  if(min  < 10 ){ min  = '0' + min }
		  if(seg  < 10 ){ seg  = '0' + seg }

		  // Crear variables para enviar
		  var fechaActual = ano  +"-" + mes + "-" + dia
		  var HoraActual  = hora +":" + min + ":" + seg

		  // console.log(HoraActual)
    },

    watch:{
      mensajero: function() {
        var me = this
        this.mensajeros.forEach(function(element) {
          if(me.mensajero == element.Nombre){
              me.idMensajero = element.Id
      				 // console.log('idmensajero',me.idMensajero)
          }
        })
      },

      mensajeria: function() {
        var me = this
        
        this.Nummensajeria.forEach(function(element) {
          if(me.mensajeria == element.Nommensajeria){
              me.IdMensajeria = element.Id
              // console.log('Numero de mensajeria ', me.IdMensajeria)
          }
        })
          this.buscarMensajeros()

      }
    },

    computed:{
      ...mapGetters('login',['getdatosUsuario']),

	    validaInfo(){
	    	if(this.Numguia !== ''){
	        return  this.Numguia   !==  '' &&
	        				this.mensajero !==  ''
	    	}
	    }
   },


  methods:{

  	GetCorreo(){

  		var email = ""

  		var cId = this.Id.toString()
  		// console.log(cId)
  		var me = this

  		this.$http.get('api/v1/getemailxid/' + cId).then(function(response){
          // console.log("Get id " , response.body)
          email  = response.body.email
      
					const formData = {
						Email:   email,   
						subject: "Tarjeta en Proceso Entrega",
						cuerpo:  "cuerpo",
						Numguia: this.Numguia   
					}

					// MANDA LLAMAR Función para ENVIAR EL CORREO DE Asignación EN RUTA
					// console.log(formData)
					me.Enviarcorreo(formData)
        })

			

		},

		Enviarcorreo (formData){
		
			this.$http.post('api/v1/sendasignamen',formData).then(function(response){
        if(response.status == 200){
        	this.color = 'success'
        	this.snackbar = true
        	this.text = 'El correo sa ha enviado con exito'
        	this.to=''
        	this.subject=''
        	this.cuerpo=''
        }else{
        	this.color = 'red'
        	this.snackbar = true
        	this.text = 'Falla al enviar el correo'
        	this.to=''
        	this.subject=''
        	this.cuerpo=''
        }
        // Limpiar Numguia
	      this.Numguia=''

      })

	  },

	  buscarMensajeros(){
      var me = this 
      const formData = { Idmensajeria: this.IdMensajeria}
     
      this.$http.post('api/v1/menxmia',formData).then(function(response){
      	 // console.log('response', response)
        if(response.body != "null"){

          response.body.forEach(function(element) {
            
            me.Nombre.push(element.Nombre)
            //me.idMensajero.push(element.Id)
            me.mensajeros.push(element)
          })

        }else{

          this.snackbar = true ; this.text = "Esta mensajeria no tiene asignado ningun mensajero"
          me.Nombre     = []
          
          me.mensajeros = []
          me.mensajero  = ''
        }
      })
    },
		  

  	asignaTarjeta(){

			if(!this.validaInfo){
	  		this.snackbar = true ; this.text = "Faltan campos por seleccionar"
	     	return
	  	}

	  	var fecha = new Date(); 
			  var mes 	= fecha.getMonth()+1; 
			  var dia 	= fecha.getDate(); 
			  var ano 	= fecha.getFullYear(); 

			  var hora 	= fecha.getHours();
			  var min  	= fecha.getMinutes();
			  var seg  	= fecha.getSeconds()

		  if(dia<10)
		    dia='0'+dia; //agrega cero si el menor de 10
		  if(mes<10)
		    mes='0'+mes

		  // Crear variables para enviar
		  var fechaActual = ano  +"-" + mes + "-" + dia
		  var HoraActual  = hora +":" + min + ":" + seg


		  var idmen = this.idMensajero
		  // console.log (this.idMensajero)
			const formData = {
				Numguia					:  this.Numguia,
				IdPlaza					: 19,
				Fecha_asignacion: fechaActual,
				Hora_asignacion : HoraActual,
				Mensajero       : parseInt( this.idMensajero ) ,
				User_asignacion : parseInt(this.getdatosUsuario.idusuariosweb)
			}

			// console.log('formData',formData)

			this.$http.post('api/v1/asignar',formData).then(function(response){
				// console.log('response', response.body)
				
				if(response.body !=  ''){

					this.NombreAsig = this.mensajero
					this.Correctas.push({Numguia: this.Numguia}) 
					
					this.Id = response.body.Id
					this.GetCorreo()

				}else{
					this.snackbar = true; this.text="No se ha encontrado número de guía"
				}

				
			}).catch(function(error){
        		console.log(error)
        
      }) 
			   	
  	}

    },
   };
</script>

<style scoped>

	.numguia:hover {
		background-color: #E65100 ; 
		color: #fff;
	}

	h3{
		text-align: center;
	}

	.titulo{
		padding: 10px;
	}
  
 
</style>