<template>


	<v-layout row wrap justify-center>
    <v-flex xs12 sm12>
      <v-layout row wrap justify-center class="mt-3">
         <v-flex xs12 sm3 text-xs-left>
          <h3>Ruta pendiente por Mensajero </h3> 

          	<v-flex xs6 sm2  class="mt-3">
      		  		<v-btn  small color="primary" @click="getPosicion">Consultar </v-btn>
      			</v-flex>

          </v-flex>

					<!-- FORMAS => MAPA // FOTOS -->

				<v-flex xs12 sm12 md6>
					<v-layout row wrap>
					  
						<v-flex xs12 >
						  	<h4>Ubicacíon de entrega</h4>
						  	<div id="map"></div>
						</v-flex>

					  
					</v-layout>
				</v-flex>				
			</v-layout>
		</v-flex>
	</v-layout>	

	
</template>

<script>

export default {
	name: 'GMap',
	data(){
		return {
			lat: 0,
			lng: 0
		}
	},
	
	methods: {
	
		getPosicion(){
			console.log("get Posistion")
			var options = {
			  enableHighAccuracy: true,
			  timeout: 2000,
			  maximumAge: 0
			};

			var me2 = this
	
			function success(pos) {
				var crd = pos.coords;

			  console.log('Your current position is:');
			  console.log('Latitude : ' + crd.latitude);
			  console.log('Longitude: ' + crd.longitude);
			  console.log('More or less ' + crd.accuracy + ' meters.');
			  const formData ={
			    Latitude : crd.latitude,
			    Longitude: crd.longitude
	    	}

				console.log('formData',formData)
		  	me2.Mapa (formData)
			};

			function error(err) {
			  console.warn('ERROR(' + err.code + '): ' + err.message);
			};

			navigator.geolocation.getCurrentPosition(success, error, options);
		},

		Mapa(formData){
	
			console.log("mapa", formData)
	    	var me = this
	    	
	    	// var latitud 	= parseFloat(formData.Latitude)
	    	// var longitud 	= parseFloat(formData.Longitude)
	     	var latitud 	= formData.Latitude
	    	var longitud 	= formData.Longitude
	     

	      //Funcion que se ejecuta cuando esta disponible la funcionalidad de la ruta
	      var onSuccess = function() {

	        //Crear una variable que contendra solo la longitud y la latitud
	        var myLatLng 
	        //Creo un objeto con la latitud y la longitud
	        myLatLng = {lat: latitud , lng: longitud}
					// myLatLng = {lat: position.coords.latitude , lng: position.coords.longitude}

	        //Aquí es donde se crea el mapa
	        //cear un nuevo mapa y le dices en donde se dibujara
	        me.map = new google.maps.Map(document.getElementById('map'), {

	          //center: la ubicación
	          center: myLatLng,
	          //Zoom solo es la distancia a la que se vera el mapa
	          zoom: 15,
	          //activa el tipo de mapa para satelite o relieve
	          // mapTypeControl: true,
	          mapTypeControlOptions: {
	              //Defines en donde quieres que se vea la opcion
	              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
	              position: google.maps.ControlPosition.TOP_LEFT
	          },
	          //activa la función del control
	          zoomControl: true,
	          zoomControlOptions: {
	              //Defines en donde quieres que se vea la opcion
	              position: google.maps.ControlPosition.RIGHT_CENTER
	          },
	          //para definir el tipo de escala
	          scaleControl: true,
	          streetViewControl: false,
	          streetViewControlOptions: {
	              //Defines en donde quieres que se vea la opcion
	              position: google.maps.ControlPosition.LEFT_TOP
	          },
	          //activa la pantalla completa
	          fullscreenControl: true,

	          disableDefaultUI: true,

	      	});

	        var marker = new google.maps.Marker({
				    position: myLatLng,
				    map: me.map,
				    title: 'Localización'
				  });
				}
	       
	      function onError(error) {
	        alert('code: '    + error.code    + '\n' +
	            'message: ' + error.message + '\n');
	      }

	      //Aqui tu vas a mandar a llamar el mapa(se puede, no se puede)
	      navigator.geolocation.getCurrentPosition(onSuccess, onError);
	    },
     	
		
	}
};
</script>




<style>
 #map {
    height:180px;
    width: 100%;
  }
</style>