<template>
  <v-layout row wrap justify-center class="pa-3">
    <v-flex xs12 sm11>
    
        
    <v-layout row wrap justify-center class="mt-3">
      <v-flex xs12 sm3 text-xs-left>
          <h3>ASIGNACIÓN DE PLAZAS </h3>
        </v-flex>

        <!-- <v-divider ></v-divider> -->
      <!-- SELEC DE REMESAS PENDIENTES -->
      <v-flex xs12 sm3  >
        <v-flex xs12 class="mx-1 " >
          <span >Seleccione una remesa</span>
        </v-flex>
        <v-select
          :items="Remesas"
          label="Remesas por Validar"
          item-text="Numrem"
          v-model="Numrem"
          class="text-xs-center"
          append-icon="email"
          sinlge-lin hide-details 
          solo
        ></v-select>
      </v-flex>
      
      <v-flex xs6 sm2  class="mt-3">
        <v-btn  small color="primary" @click="busRemxPlaza">Buscar </v-btn>
      </v-flex>

      <!-- 
      <v-flex xs3 md2 lg2 class="ma-1 pa-2 ">
        <v-btn small color="secondary" @click="autoAsignar">Auto Asignar </v-btn>
      </v-flex> -->

      <v-flex xs6 sm2 class="mt-3 ">
        <v-btn  block small dark color="blue" @click="procesar">Procesar </v-btn>
      </v-flex>
    
    </v-layout>
  
    <!-- TABLA -->
    <v-flex xs12 class="mt-3" v-if = "remxplaza != '' ">
      <v-layout xs12 md10 justify-center>
        <v-flex md10 >
          <v-data-table
            :headers="headers"
            :items="remxplaza"
            :loading="loading"
            :rows-per-page-items=[-1]
            class="elevation-1"
          >
            <template v-slot:items="props">
              <td class="text-xs-left">{{ props.item.Estado }}</td>
              <td class="text-xs-right">{{ props.item.cant }}</td>
              
              <td>
                <v-edit-dialog
                  :return-value.sync="props.item.Guiamens"
                  lazy
                  @save="save"
                  @cancel="cancel"
                  @open="open"
                  @close="close"
                > {{ props.item.Guiamens }}
                  <template v-slot:input>
                    <v-text-field
                      v-model="props.item.Guiamens"
                      
                      label="Guia"
                      single-line
                      
                    ></v-text-field>
                  </template>
                </v-edit-dialog>
              </td>

             <!--  <td>
                <v-edit-dialog
                  :return-value.sync="props.item.mensajeria"
                  lazy
                  @save="save"
                  @cancel="cancel"
                  @open="open"
                  @close="close"
                > {{ props.item.mensajeria }}
                  <template v-slot:input>
                    <v-text-field
                      v-model="props.item.mensajeria"
                      :rules="[max25chars]"
                      label="Paqueteria"
                      single-line
                      counter
                    ></v-text-field>
                  </template>
                </v-edit-dialog>
              </td> -->

            <td>
             <v-select
              :items="paqueterias"
              label="Seleccionar Paqueteria"
              item-text="props.item.mensajeria"
              v-model="props.item.mensajeria"
              class="text-xs-center"
              prepend-icon="email"
              sinlge-line hide-details 
            ></v-select>
 
            </td>

              
              
          

            </template>

            <template v-slot:pageText="props">
            Total de Plazas {{ props.itemsLength }}
            </template>

          </v-data-table>
        </v-flex>
      </v-layout>
    </v-flex>

    <v-snackbar v-model="snack" :timeout="3000" :color="snackColor">
      {{ snackText }}
      <v-btn flat @click="snack = false">Close</v-btn>
    </v-snackbar>
    </v-flex>

  </v-layout>
</template>

<script>
  export default {
    data () {
      return {
        paqueterias:["DHL", "Estafeta", "Aeromar"],
        loading:false,
        
        mensajeria:  '',
        Numrem:'',

        mensaje:  [],
        Remesas:  [],
        
        Nummensajeria:  [],
        NumRemesa: [],

        IdMensajeria: '',
        Idremesa: '',
        
        snack: false,
        snackColor: '',
        snackText: '',
        max25chars: v => v.length <= 25 || 'Demasiado largo',
        pagination: {},

        headers: [
          {
            text: 'Estado',
            align: 'right',
            sortable: false,
            value: 'estado'
          },
          { text: 'Cantidad', align: 'left', sortable: false, value: 'cant' },
          { text: 'Guía',    sortable: false,    value: 'Guiamens' },
          { text: 'Paqueteria', sortable: false, value: 'mensajeria' },
           
         
        ],

        remxplaza:[]
      }
    },

    created () {

      //Consulta de Remesas en Proces
      const formData = {status: 0 }
      // console.log('consultar', formData)
      var me = this
      this.$http.post('api/v1/estatusremalta', formData).then(function(response){
           //console.log(response.body)
          //me.Remesas = response.body
          response.body.forEach(function(element) {
          me.Remesas.push(element.Numrem)
          me.NumRemesa.push(element)
        })
      })
    },

    watch:{
      Numrem: function() {
        var me = this  
        //console.log(me.Numrem)
        // Función para trar el id de remesa.
        this.NumRemesa.forEach(function(element) {
       // console.log(element)   
          if(me.Numrem  == element.Numrem){
              me.Idremesa = element.ID
               //console.log('Numero de Remesa ', me.Idremesa)
          }
        })
        this.busRemxPlaza()
      }
    },


    methods: {
      
      procesar (){
        // console.log("Actualizar Rem x Plaza")
        // console.log( this.remxplaza)

      // LLAMADA A GRABAR Datos

       this.$http.put('api/v1/updateremxplaza', this.remxplaza).then(function(response){
        // console.log(response.body)
          me.remxplaza = response.body

        }).catch(function(error){
          console.log(error)
          
        })        

      },

      busRemxPlaza () {
        this.remxplaza = '' 
        // mandar llamar CargarRemesa por Plaza.
        // console.log(this.Idremesa + this.Numrem)
        // Limpiando la tabla
        this.remxplaza = []
        var busnumrem= {"numrem":this.Numrem}
        // console.log(busnumrem)

        var me = this

         this.$http.post('api/v1/cargarremxplaza', busnumrem).then(function(response){
          // console.log(response.body)

            if (response.body == 'null'){
              this.snack = true ; this.snackText = " No se encontro información de esta remesa."; this.snackColor="blue"
            }else{

             me.remxplaza = response.body

            }

          }).catch(function(error){
            console.log(error)
            
          })
          this.loading= false

      },


      save () {
        this.snack = true
        this.snackColor = 'success'
        this.snackText  = 'Datos Grabados'
      },
      cancel () {
        this.snack = true
        this.snackColor = 'error'
        this.snackText  = 'Canceledado'
      },
      open () {
        this.snack = true
        this.snackColor = 'info'
        this.snackText  = 'Capturando'
      },
      close () {
        // console.log('Dialog closed')
      }



    }
  }
</script>