<template>
  <v-layout row wrap justify-center class="pa-3">
    <v-flex xs12 md10>
      <v-layout row wrap>
        
        <v-flex xs12>
          <v-layout row wrap class="my-1">

            <v-flex xs12 sm5 md6 >
             <h4> Catálogo de Remesas </h4>
            </v-flex>

            <v-flex xs8 sm3 md2  class="mx-1 " >
                <v-select
                  :items="ESTATUS"
                  item-text="status"
                  v-model="estatus"
                  menu-props="auto"
                  class="text-xs-center" 
                  label="Estatus"
                  sinlge-lin hide-details
                  solo
                  append-icon="data_usage"
                ></v-select>
            </v-flex>

            <v-flex xs3 sm2 class="mx-2">
              <ExpExcelRemesa/>
            </v-flex>

            <v-flex xs12 sm1 md1>
              <v-btn outline color="orange">
                <a href="https://solemex.pro/plantilla.xls" 
                   download="plantilla.xls" 
                   style="text-decoration:none">
                   <span style="color:'white">Plantilla<v-icon right>cloud_download</v-icon></span>
                </a>
              </v-btn>
            </v-flex>

          </v-layout>
        </v-flex>

        <!-- catalogo de clientes -->
        <v-flex xs12 sm3 md3 class="mx-1" >
          <v-select
            :items="Nombre"
            item-text="Nomcli"
            v-model="Nomcli"
            append-icon="person"
            label ="Cliente"
            persistent-hint
            :disabled ="disabled"
          ></v-select>
        </v-flex>  

        <!--  tIPOS DE sERVICIOS -->
        <v-flex xs12 sm3 md3 class="mx-1" >
          <v-select
            :items="Nomservicios"
            item-text="Nomserv"
            v-model="Nomserv"
            append-icon="ring_volume"
            label ="Servicios"
            persistent-hint
            
          ></v-select>
        </v-flex>
        <v-flex xs8 sm6 md4>
        
        <!-- <v-flex xs5 sm2 md2> -->
          <v-btn color="primary" dark  :to="{name: 'newremesa'}">Nueva Remesa</v-btn>
          
          <v-btn  icon color="blue" dark @click="Actualizar"><v-icon>autorenew</v-icon></v-btn>
          
          <!-- <v-btn  icon color="red" dark @click="Recontar"><v-icon>autorenew</v-icon></v-btn> -->
        
        </v-flex>
    
      </v-layout>

      <v-flex xs12 class= "mt-1" v-if="alerta == true "> 
        <v-alert
          :value="alerta"
          type="warning"
          transition="expand"
          color="blue"
        >
          Lo sentimos no hay información para mostrar
        </v-alert>
        <v-btn color="primary" @click="consultar" v-if ="Remesas == null">Consultar</v-btn>


      </v-flex>

      <template v-if ="Remesas == '' && alerta == false">
        <v-progress-linear height="4" :indeterminate="true" v-if="alerta == false"></v-progress-linear>
      </template>

    <v-flex xs12 v-if ="Remesas != '' ">
      <v-card class="box pa-1 elevation-0" v-if ="Remesas != '' ">
        <vue-scrolling-table
          scroll-horizontal
          scroll-vertical
          >
          <template slot="thead" >
            <tr>
              <th v-for="head in headers"
              class="text"
              :key="head.value"
              >
                <span v-if = "head.text == 'TOTAL' ">{{head.text}} </span>
                <span v-else-if= "head.text == 'Remesa' ">{{head.text}} </span>
                <span v-else >{{head.text}} </span>
              </th>
            </tr>
          </template>
          <template slot="tbody">
            <tr v-for="rem in Remesas"  >
              <td v-for="head in headers"
                :class="head.cssClasses"
                 v-on:dblclick="edit(rem.ID)"
                :key="head.value">{{ rem[head.value] }}</td>
            </tr>
            <!--  <v-icon v-text="assignment"></v-icon> -->
          </template>
        </vue-scrolling-table>
      </v-card>
    </v-flex> 
    </v-flex> 
  </v-layout>
</template>

<script>
  import jsPDF from 'jspdf'
  import AutoTable from 'jspdf-autotable'
  import {mapActions, mapGetters} from 'vuex'
  import VueScrollingTable from "vue-scrolling-table"
  import ExpExcelRemesa from '@/views/remesas/ExpExcelRemesa'

  export default {
    components: {
      VueScrollingTable,
      ExpExcelRemesa
    },
    data(){
      return{
        // variables
        nomvend:'',
        // Estatus
        estatus:'Por Validar',
        EstatusAEnviar: '',
        // Loading y alerta
        loading: true,
        alerta: false,

        // Bloqueo para filtro
        BloqueoNomcli: false,
        // Arreglo principal
        Remesas:[],
        // bloque de campo
        disabled: false,

        headers: [
          { text: 'Remesa'          ,   value: 'Numrem'    , cssClasses: "nombre"},
          { text: 'F.Entrega'       ,   value: 'Fingreso'  , cssClasses: "anio" },
          { text: 'F.Vencimiento'   ,   value: 'Fvenc'     , cssClasses: "num" },
          { text: 'Asignadas'       ,   value: 'Asig'      , cssClasses: "num" },
          { text: 'No Asignadas'    ,   value: 'Na'        , cssClasses: "num" },
          { text: 'Entregadas'      ,   value: 'En'        , cssClasses: "num" },
          { text: 'Devueltas'       ,   value: 'Di'        , cssClasses: "num" },
          { text: 'Pendientes'      ,   value: 'pendientes'        , cssClasses: "num" },
          { text: 'Adicionales'      ,   value: 'Ex'        , cssClasses: "num" },
          
    
          { text: 'Totales'         ,   value: 'Tot'       , cssClasses: "num" },
          { text: '%Efec'           ,   value: 'Tiporem'   , cssClasses: "num" },
        ],

        // ARREGLO PARA ESTATUS 
        ESTATUS:[
          { status:'Por Validar' },
          { status:'En proceso' },
          { status:'Cerradas' }
        ],

        // Selector Clientes
        Nomcli   :'',   // v-model
        Idcliente:'',   //Id - para grabar 
        Nombre   :[],   // Arreglo para mostrar
        clientes :[],   // Arreglo para watch

        // Selector Servicios 
        Nomserv      :'',   // v-model
        Idservicio   :'',   //Id - para grabar 
        Nomservicios :[],   // Arreglo para mostrar
        SERVICIOS    :[],   // Arreglo para watch
        }
    },

    computed:{
      ...mapGetters('login',['getdatosUsuario', 'getLogeado']),
    },



    created () {
      
      this.estatus = 'Por Validar'
      // Asignar Idcliente} a una variable
      this.Idcliente = this.getdatosUsuario.Idcliente
      // console.log("getdatosUsuario")

      var me = this
      // Busqueda de Clientes
      this.$http.get('api/v1/clientes').then(function(response){
        response.body.forEach(function(element) {
          me.Nombre.push(element.nomcli)
          me.clientes.push(element)
        })
      })
    
      // Busqueda de SERVICIOS
      this.$http.get('api/v1/servicios').then(function(response){
        response.body.forEach(function(element) {
          me.Nomservicios.push(element.Nomserv)
          me.SERVICIOS.push(element)

          if(element.Nomserv == "Banregio Crédito" ){
            me.Nomserv = element.Nomserv
            // me.Idservicio = element.Id
          }
        })
      })
    
      this.ValidaUsuario()

    },
      
    watch:{
      // SELECTOR DE CLIENTES
      Nomcli: function() {
        var me = this
        this.alerta = false

        this.clientes.forEach(function(element) {
          if(me.Nomcli == element.nomcli){
              me.Idcliente = element.ID
              me.BloqueoNomcli = true
          }
        })
        const payload = { status    : this.EstatusAEnviar,
                        Idcliente : parseInt(this.Idcliente),
                        Idservicio: 21
                      }    
        this.consultar(payload)

      },
       // SELECTOR DE SERVICIOS
      Nomserv: function() {
        var me = this
        this.SERVICIOS.forEach(function(element) {
          if(me.Nomserv == element.Nomserv){
              me.Idservicio = element.Id
          }
        })

      },

      estatus: function() {
        this.Remesas = '' 
        switch(this.estatus){

          case 'Por Validar' :
            this.EstatusAEnviar = 0
            break;

          case 'En proceso' :
            this.EstatusAEnviar = 1
            break;

          case 'Cerradas':
            this.EstatusAEnviar = 3
            break; 

          default:
            this.EstatusAEnviar = 'Por Validar'
            break;

        }

        const payload = {
          status    : this.EstatusAEnviar,
          Idcliente : parseInt(this.Idcliente),
          Idservicio: parseInt(this.Idservicio)
        }

        this.consultar(payload)
      },
    },

  
    methods: {

      Recontar(){
        // console.log(this.Remesas)

        for (var i = this.Remesas.length - 1; i >= 0; i--) {          
          //ACTUALIZAR CONTADORES DE REMESAS
          // console.log("Mandando actualizarem id" ,this.Remesas[i].ID )
           this.$http.put('api/v1/actualizarem/' + this.Remesas[i].ID).then( response => {
            // console.log('Actualizar CONTADORES', response.body)
          }).catch(error => {
            console.log(error)
          }).finally(()  => this.loading = false) 
        // console.log(this.Remesas[i].ID)
        }
    
      },

      consultar(payload){

       var me = this
       this.Remesas = ''
       this.BloqueoNomcli = false

       

       // console.log("Consultar", payload)
       this.$http.post('api/v1/estatusrem', payload).then(function(response){
          if(response.body == "null"){
            this.alerta = true 
           }else{
              me.Remesas = response.body
              // console.log (me.Remesas)
              //Actualizar contadores
              this.Recontar()
              // Mando a llamar calculo de efectividad
              this.PjeEfectividad()
              this.loading = false
              this.alerta  = false

              // if(this.BloqueoNomcli === false){
              //   this.ValidaUsuario()
              // }
           }
        }).catch(function(error){
          console.log(error)
        })  
      },

      PjeEfectividad(){

        for (var i = 0; i < this.Remesas.length; i++) {
         
          // Verifico que ambos campos no sean cero (No se puede dividir ceros)
          if(this.Remesas[i].En != 0 && this.Remesas[i].Tot != 0){
            // Realizo calculo de efectividad > Entradas / Total * 100 

            var Efectividad = (this.Remesas[i].En / this.Remesas[i].Tot  ) * 100
        

          }else{
            // Si los dos campos son 0 no realizo calculo
            Efectividad = 0 
          }

          // Verifico que Efectividad no sea 0 para poder recortarlo
          if ( Efectividad != 0 ){
            // Creo una varibale para asignar caracter de porcentaje
            var EfectividadStr = Efectividad.toFixed(2) +'%' 
            // Asigno valor al arrelo
            this.Remesas[i].Tiporem = EfectividadStr

          }else{
            // Si Efectividad es igual a cero solo le asigno caracter
            this.Remesas[i].Tiporem = 0 + '%'
          }
        }
      },

      ValidaUsuario(){
        var me = this
        // Validar que el nivel sea Sait
        if(me.getdatosUsuario.Nivel == 'SOLEMEX'){
          // console.log('Tiene acceso')
          me.disabled  = false 
          //Al iniciar solo pone las remesas en Proceso.
          this.EstatusAEnviar = 0
          const payload = { status    : this.EstatusAEnviar,
                            Idcliente : parseInt(this.Idcliente),
                            Idservicio: 21
                          }    
          //this.consultar(payload)

        }else { // Si tiene un nivel diferente bloqueo selector Nomcli
          // console.log('NO TIENE ACCESO')
          me.Idcliente =  me.getdatosUsuario.Idcliente 
          me.Nomcli    =  me.getdatosUsuario.Nomcli
          me.disabled = true

          //Al iniciar solo pone las remesas en Proceso.
          this.EstatusAEnviar = 0
          const payload = { status    : this.EstatusAEnviar,
                            Idcliente : parseInt(this.Idcliente),
                            Idservicio: 21
                          }    
          //this.consultar(payload)
        }
      },

      Actualizar(){
        this.Remesas = ''
        this.alerta  = false

        const payload = {
          status    : this.EstatusAEnviar,
          Idcliente : parseInt(this.Idcliente),
          Idservicio: parseInt(this.Idservicio)
        }

        this.consultar(payload)

      },

      edit(item){
        this.$router.push({name:'tarjetas', params: {id: item}})
      },
    }
  };

</script>

<style scoped>

  .dowload{
    background: orange;
    padding: 10px;
    text-align: center;
    margin: 10px;
    font-size: 15px;
  }

  .box {
    padding: 0;
    min-height: auto;
    max-height: 450px;
    min-width: auto;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  .num{
    text-align: right;
    width: 9em;
    min-width: 9em;
    max-width: 9em;
    padding: 3px;
  }

  .text{
    text-align: center;
    width: 9em;
    min-width: 9em;
    max-width: 9em;
    padding: 3px;
  }

  .nombre{
    text-align: left;
    width: 9em;
    min-width: 9em;
    max-width: 9em;
    padding: 3px;
  }

  .centro{
    text-align: center;
    width: 9em;
    min-width: 9em;
    max-width: 9em;
    padding: 3px !important;
    /*margin: 50px !important;*/
  }
  .anio{
    text-align: center;
    width: 9em;
    min-width: 9em;
    max-width: 9em;
    padding: 3px;
    color: #EF6C00 ;
  }


  th{
    background: #E65100 !important;
    color: #fff;
    text-align: center;
    width: 9em !important;
    min-width: 9em !important;
    max-width: 9em !important;
    font-size: 14px !important;
    padding: 5px !important;

  }

    h4{
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
     font-size: 17px !important;
     padding: 10px !important;
    }

    td{
     font-size: 14px !important;
    }

    td:hover {background-color: #E65100 ; color: #fff;}
</style>