<template>
  <div class="app-container">
    <upload-excel-component :on-success="handleSuccess" :before-upload="beforeUpload"/>
<!--     <v-data-table :data="tableData" border highlight-current-row style="width: 100%;margin-top:20px;">
      <v-data-table-column v-for="item of tableHeader" :prop="item" :label="item" :key="item"/>
    </v-data-table> -->
  </div>
</template>

<script>
import UploadExcelComponent from '@/components/UploadExcel.vue'
export default {
  name: 'UploadExcel',
  components: { UploadExcelComponent },
  data() {
    return {
      tableData: [],
      tableHeader: []
    }
  },
  methods: {
    beforeUpload(file) {
      const isLt1M = file.size / 1024 / 1024 < 1
      if (isLt1M) {
        return true
      }
      this.$message({
        message: 'Please do not upload files larger than 1m in size.',
        type: 'warning'
      })
      return false
    },
    handleSuccess({ results, header }) {
      this.tableData = results
      this.tableHeader = header

      console.log('results',results)
    }
  }
}
</script>