<template>
  <v-layout justify-center class="pa-4">
    <v-flex xs11 >
      <blockquote class="blockquote">
        Arrastra y Suelta tu documento dentro de la zona punteada.
      </blockquote>  

      <div id="drop" @drop="handleDrop" 
        @dragover="handleDragover" 
        @dragenter="handleDragover">Pegar Archivo Excel
      </div>

      <v-layout row wrap>
        <v-flex xs12>
        
          <div id="scrolltable">
              <table class="table" >
                <thead>
                  <tr>
                    <th v-for="item in headers">{{item}}</th>
                  </tr>
                </thead>
                
                <tbody>
                  <tr v-for="item in tickets">
                    <td v-for="key in item">
                      <label>{{key}}</label>
                      <p>{{item.key}}</p>
                    </td>
                  </tr>
                </tbody>
                <tfoot></tfoot>
              </table>
          </div>

          <div v-if = "headers != '' " style=" float:right; text-align:right;">
            <v-btn  color="primary" dark class="mb-2" @click="SubirRemesa">
            <v-icon left>chrome_reader_mode</v-icon>Subir Remesa</v-btn>
          </div>
        </v-flex>
      </v-layout>
    </v-flex>
    </v-layout>
</template>

<script>
import XLSX from 'xlsx'
export default {
  data() {
    return {
      tickets:[],
      headers:[]
    }
  },

  created(){
    console.log('hola')
  },

  methods: {
    /** HELPERS **/
     get_header_row(sheet) {
        var headers = [], range = XLSX.utils.decode_range(sheet['!ref']);
        var C, R = range.s.r; /* start in the first row */
        for(C = range.s.c; C <= range.e.c; ++C) { /* walk every column in the range */
            var cell = sheet[XLSX.utils.encode_cell({c:C, r:R})] /* find the cell in the first row */
            var hdr = "UNKNOWN " + C; // <-- replace with your desired default 
            if(cell && cell.t) hdr = XLSX.utils.format_cell(cell);
            headers.push(hdr);
        }
        return headers;
    },

     fixdata(data) {
      var o = "", l = 0, w = 10240;
      for(; l<data.byteLength/w; ++l) o+=String.fromCharCode.apply(null,new Uint8Array(data.slice(l*w,l*w+w)));
      o+=String.fromCharCode.apply(null, new Uint8Array(data.slice(l*w)));
      return o;
    },


     workbook_to_json(workbook) {
      var result = {};
      workbook.SheetNames.forEach(function(sheetName) {
        var roa = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
        if(roa.length > 0){
          console.log('es menos que cero', roa.length)
          result[sheetName] = roa;
        }
      });
      return result;
    },

    /** PARSING and DRAGDROP **/
     handleDrop(e) {
      var me = this
      e.stopPropagation();
      e.preventDefault();
      console.log("DROPPED");
      
      var files = e.dataTransfer.files, i, f;
      for (i = 0, f = files[i]; i != files.length; ++i) {
        var reader = new FileReader(),
            name = f.name;
        reader.onload = function(e) {
          var results, 
              data = e.target.result, 
              fixedData = me.fixdata(data),
              workbook= XLSX.read(btoa(fixedData), {type: 'base64'}), 
              firstSheetName = workbook.SheetNames[0], 
              worksheet = workbook.Sheets[firstSheetName];
          me.headers=me.get_header_row(worksheet);
          results=XLSX.utils.sheet_to_json(worksheet);
          me.tickets=results;
          console.log(me.tickets)
        };
        reader.readAsArrayBuffer(f);
      }
    },

     handleDragover(e) {
      e.stopPropagation();
      e.preventDefault();
      e.dataTransfer.dropEffect = 'copy';
    },

    // SubirRemesa(remesas){
    //   Vue.http.post('api/v1/remesas',{
    //     'ARCHIVO': remesas.numrem
    //   }) 
    //   .then(function(response){
    //     console.log(response.body)
    //   })      
    // }

    SubirRemesa() {
    // AGREGAR REMESAS
      var remesas = this.tickets
      console.log (this.tickets)
      // this.$http.post('api/v1/remesas',{
      //   'Numrem': remesas.ARCHIVO

      // }) 
      // .then(function(response){
      //   console.log(response.body)
      // }) 
    }
  }
};
</script>

<style scoped>
  #drop{
    border: 3px dashed #EC4811;
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font: 20pt bold,"Verdana";
    color: #bbb;
  }

  #blockquote{
    font: 20pt bold,"Verdana";
  }

  .table{
    max-height: 100% !important;
    max-width: 100% !important;
    min-height: 100% !important;
    min-width: 100% !important;
    font-size: 15px !important;
  }

  #scrolltable { margin-top: 30px; height: 370px; overflow: auto; }
  #scrolltable th div { position: absolute; margin-top: -20px; }
</style>