<template>
	<v-layout row wrap class="mx-4">
		<v-flex xs12>

			<v-snackbar
	      v-model="snackbar"
	      :timeout="8000"
	      top
	      color="blue" 
	    	>
	    	{{text}}
	      <!-- No Hay Información de esta Tarjeta -->
	      <v-btn
	        color="white"
	        flat
	        @click="snackbar = false"
	      >
	        Close
	      </v-btn>
    	</v-snackbar>
		  
		  <!-- <v-flex xs12> -->
			<v-layout row wrap>
			  
				<v-flex xs12 sm4>
					<h3>RASTREO DE TARJETAS  </h3> 
				</v-flex>

				<v-flex xs12 sm8 text-xs-right v-if="prioridad==true">
				  <h3 block class="TituloPrioridad"> TARJETA CON PRIORIDAD DE ENTREGA</h3>
				</v-flex>
			</v-layout>		    
		  <!-- </v-flex> -->
			
		  <v-flex xs12 class="mt-3">
		  	<span >Ingresé el folio de la guía</span>
		  </v-flex>

			<v-layout row wrap>
			  <v-flex xs8  sm4 md3 lg3 > 
			      <v-text-field
			        append-icon="credit_card"
			        v-model="Numguia"
			        label="Número de Tarjeta"
			        outline
			        type="Input"
			      ></v-text-field>
			    </v-flex>
					
					  
			    <v-flex xs3 md2 lg2 class="ma-1 pa-2 ">
			      <v-btn color="primary" @click="Mapa">Rastrear</v-btn>
			    </v-flex>

			    <v-spacer></v-spacer>
					
					<v-card-actions >

			      <v-btn outline color="blue lighten-1" dark @click="Avisos" v-if ="aviso == false">Avisos
							<v-badge color="primary">
					      <template v-slot:badge>
					        <span v-if ="avisos != 0 ">{{ avisos }}</span>
					      </template>
					      <v-icon right >notifications_active</v-icon>
					    </v-badge>	
			      </v-btn>
							
							<!-- Prioridad -->
            	<v-btn flat icon color="yellow accent-4" dark @click="Prioridad" v-if="prioridad == true">
              	<v-icon large>star</v-icon>
            	</v-btn>
            	<v-btn flat icon color="grey " dark @click="Prioridad" v-if=" prioridad == false ">
			      <v-icon  >star</v-icon>
              	
            	</v-btn>
				
					<!--  -->

			      <v-btn outline color="error" dark @click="Avisos" v-if="aviso == true">Cancelar <v-icon right>highlight_off</v-icon></v-btn>

					</v-card-actions>

					<v-flex xs12 md10 v-if="aviso == true">
            <v-textarea
              v-model="Aviso"
              color="primary"
              placeholder ="Escribe el aviso que aparecerá en la app"
            >
              <template v-slot:label>
                <div>
                  Aviso <small>(optional)</small>
                </div>
              </template>
            </v-textarea>
          </v-flex>	

          <v-card-actions v-if="aviso == true">

	          <v-flex xs12 md2 v-if="aviso == true"> 
	            <v-btn color="primary" @click="EnviarAviso">Enviar Aviso</v-btn>
	          </v-flex>
          </v-card-actions>

			</v-layout>

			<v-divider></v-divider>
			<v-layout row wrap>
					
					<v-flex xs12 >
					  <h2>Información General</h2>
					</v-flex>
					
					<v-flex xs12  lg4 class="">  
						<v-card flat class="my-3">
								<table>
							  	<tr>
								    <td class="titulo mx-1">Cliente</td>
								    <td class="contenido">{{ InfoTarjeta.Nomcli }}</td> 
									</tr>
								  <tr>
								    <td class="titulo">Folio cliente</td>
								    <td >{{ InfoTarjeta.Numcli }}</td>
								  </tr>
								  <tr>
								    <td class="titulo">Alta de Remesa</td>
								    <td> {{ InfoTarjeta.fecha_captura }} </td>
								  </tr>
								  <tr>
								    <td class="titulo">Fecha Validación</td>
								    <td>	29-Abr-2019</td>
								  </tr>
								  <tr>
								    <td class="titulo">Fecha Impresión</td>
								    <td> {{ InfoTarjeta.fecha_print }}  {{ InfoTarjeta.Hora_print}}	</td>
								  </tr>
								  <tr>
								    <td class="titulo">Fecha Asignación</td>
								    <td>{{ InfoTarjeta.fecha_asignacion }}    {{ InfoTarjeta.hora_asignacion }}</td>
								  </tr>
								  <tr>
								    <td class="titulo">Adicionales</td>
								    <td>{{ InfoTarjeta.Cant }}</td>
								  </tr>
								  <tr>
								    <td class="titulo">Estatus</td>
								    <td>	{{ InfoTarjeta.Nomestatus }}</td>
								  </tr>
								  <tr>
								    <td class="titulo">Fecha Entrega</td>
								    <td> {{ InfoTarjeta.Fecha_entrega }} </td>
								  </tr>
								  <tr>
								    <td class="titulo">Hora Entrega</td>
								    <td>	{{ InfoTarjeta.Hora_entrega }}</td>
								  </tr>
								  <tr>
								    <td class="titulo">Recibió</td>
								    <td> {{ InfoTarjeta.Nomrecibe }}</td>
								  </tr>
								  <tr>
								    <td class="titulo">Parentesco</td>
								    <td>	{{ InfoTarjeta.Parentesco }}</td>
								  </tr>
								  <tr>
								    <td class="titulo">Mensajero</td>
								    <td> {{ InfoTarjeta.Nombre }}</td>
								  </tr>
								  <tr>
								    <td class="titulo">Cierre Remesa</td>
								    <td> {{ InfoTarjeta.Fcierre }}</td>
								  </tr>
								  <tr>
								    <td class="titulo">Intentos</td>
								    <td> {{ InfoTarjeta.num_intentos }}</td>
								  </tr>

								</table>
						</v-card>
					</v-flex>

					<v-flex xs12 md8 >
						<v-layout row wrap justify-center>  
							
							<v-flex xs12  md6 lg6 class="imagenes" >
							  <!-- <v-card flat class="imagenes"> -->
							  	<h4>Ubicacíon de entrega</h4>
							  	<div id="map"></div>
							  <!-- </v-card>  -->
							</v-flex>

							<v-flex xs12  md5 lg5  class="imagenes " >
							  	<h4>Firma</h4> 
							  	<!-- <img :src="`${Firma}.png`" alt="alt" height="230px" width="300px" > -->
							  	<img class="firma" :src="`${url}firmas/${Numguia}.png`" alt="alt" height="230px" width="300px" >

							</v-flex>

							<v-flex xs12 md6 lg6  class="imagenes" > 
							  <!-- <v-card flat class="imagenes"> -->
							  	<h4>Domicilio</h4> 
							  	<!-- <img :src= "`domicilios/${domicilio}.jpg`" alt="alt" height="230px" width="300px" > -->
							  	<img :src="`${url}domicilios/${Numguia}.png`" alt="alt" height="230px" width="300px" >

							  <!-- </v-card>  -->
							</v-flex>

							<v-flex xs12  md5 lg5 class="imagenes" >
							  <!-- <v-card flat class="imagenes" > -->
							  	<h4> Acuse</h4> 
							  	<!-- <img :src= "`acuses/${acuses}.jpg`" alt="alt" height="230px" width="300px" > -->
							  	<img :src="`${url}acuses/${Numguia}.png`" alt="alt" height="230px" width="300px" >

							  <!-- </v-card>  -->
							</v-flex>			  
						</v-layout>
					</v-flex>

			</v-layout>
		
		</v-flex>
	</v-layout>
</template>

<script>
	import {mapGetters} from 'vuex'
  export default {
    data(){
      return{

      	url         : 'https://solemex.ws/sol/imagen/',
      	Numguia	 		: '',
      	avisos      : 0,
      	// FOTOS
      	// acuses	 		: '',
      	domicilio 	: '',
      	Firma 	 		: '',
      	
      	prioridad   : false, 
      	InfoTarjeta : [],
      	
      	// VARIABLES PARA MAPA
      	Latitude    : '',
      	Longitude   : '',
      	
      	Aviso 			: '',    //v-model
      	aviso   		: false, //activar forma
      	
      	// Snackbar
      	snackbar    : false,
      	text        : '',

      	// Datos externos
      	IdUsuario   : ''
      }
    },

    computed:{
      ...mapGetters('login',['getdatosUsuario']),
      },

    created(){

    	// Identificar IdUsuario
    	this.IdUsuario = this.getdatosUsuario.idusuariosweb

    	// guarda los nombre de fotos
    	// this.acuses    ="acuse" 
    	this.domicilio ="casa"
    	this.Firma     ="firma"

    	// Mandar a Consultar el id que recibe
    	this.busInfoTarjeta(this.$route.params.id)    	
    },

    methods:{

    	busInfoTarjeta(id){
   				// 2019052334346
    		const Numguia = { numguia: id } 

    		this.$http.post('api/v1/rastreotarjeta', Numguia).then(function(response){ 
      			 console.log('rastreo Guia', response.body[0]) 
	    	  	
	    	  	this.InfoTarjeta = response.body[0]
	    	  	this.prioridad   = response.body[0].Prioridad

	    	  	const formData ={
		    	  	Latitude : this.InfoTarjeta.Latitude,
		    	  	Longitude: this.InfoTarjeta.Longitude
	    	  	}

	    	  	this.Mapa(formData)

	    	  	if(this.InfoTarjeta.Numguia != ''){
	    	  		this.Numguia = this.InfoTarjeta.Numguia

	    	  	}

      	  }).catch(function(error){
      	    console.log(error)
      	  })
    	},

    	Mapa(formData){
	    	var me = this

	    	var latitud 	= parseFloat(formData.Latitude)
	    	var longitud 	= parseFloat(formData.Longitude)
	     
	      //Funcion que se ejecuta cuando esta disponible la funcionalidad de la ruta
	      var onSuccess = function() {

	        //Crear una variable que contendra solo la longitud y la latitud
	        var myLatLng 
	        //Creo un objeto con la latitud y la longitud
	        myLatLng = {lat: latitud , lng: longitud}
					// myLatLng = {lat: position.coords.latitude , lng: position.coords.longitude}

	        //Aquí es donde se crea el mapa
	        //cear un nuevo mapa y le dices en donde se dibujara
	        me.map = new google.maps.Map(document.getElementById('map'), {

	          //center: la ubicación
	          center: myLatLng,
	          //Zoom solo es la distancia a la que se vera el mapa
	          zoom: 15,
	          //activa el tipo de mapa para satelite o relieve
	          mapTypeControl: true,
	          mapTypeControlOptions: {
	              //Defines en donde quieres que se vea la opcion
	              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
	              position: google.maps.ControlPosition.TOP_LEFT
	          },
	          //activa la función del control
	          zoomControl: true,
	          zoomControlOptions: {
	              //Defines en donde quieres que se vea la opcion
	              position: google.maps.ControlPosition.RIGHT_CENTER
	          },
	          //para definir el tipo de escala
	          scaleControl: true,
	          streetViewControl: false,
	          streetViewControlOptions: {
	              //Defines en donde quieres que se vea la opcion
	              position: google.maps.ControlPosition.LEFT_TOP
	          },
	          //activa la pantalla completa
	          fullscreenControl: true,

	          disableDefaultUI: true,

	      	});

	        var marker = new google.maps.Marker({
				    position: myLatLng,
				    map: me.map,
				    title: 'Localización'
				  });
				}
	       
	      function onError(error) {
	        alert('code: '    + error.code    + '\n' +
	            'message: ' + error.message + '\n');
	      }

	      //Aqui tu vas a mandar a llamar el mapa(se puede, no se puede)
	      navigator.geolocation.getCurrentPosition(onSuccess, onError);
	    },

	    Avisos(){
	    	if( this.aviso == true){
	    		this.aviso = false
	    	}else{
	    		this.aviso = true
	    	}
	    },

	    EnviarAviso(){

	    	var fecha = new Date(); 
			  var mes 	= fecha.getMonth()+1; 
			  var dia 	= fecha.getDate(); 
			  var ano 	= fecha.getFullYear(); 
			  var hora 	= fecha.getHours();
			  var min  	= fecha.getMinutes();
			  var seg  	= fecha.getSeconds()

			  if(dia<10)
			    dia='0'+dia; //agrega cero si el menor de 10
			  if(mes<10)
			    mes='0'+mes

			  // Crear variables para enviar
			  var fechaActual = ano  +"-" + mes + "-" + dia
			  var HoraActual  = hora +":" + min + ":" + seg
		   

				var DatosAviso = {
					Numguia 		: this.InfoTarjeta.Numguia,
					Aviso   		: this.Aviso,
					Idmensajero : this.InfoTarjeta.Mensajero,
					Fecha   		: fechaActual,
					Hora    		: HoraActual,
					Idusuario 	: parseInt(this.IdUsuario)
				}
		    	
		    	// console.log(DatosAviso)

		    	var id = this.InfoTarjeta.Numguia
		    	// console.log('Numero de tarjeta', id)
		    	// console.log('Enviar Aviso en remesas',this.Aviso )
		
		    	// INSRTAR AVISO
	   		 	this.$http.post('api/v1/avisos', DatosAviso  ).then(function(response){
			 			console.log (response.body)
			 			this.snackbar = true ; this.text= "El aviso se agregó correctamente"

				}).catch(function(error){
					console.log(error)
				})
	    },


	    Prioridad(){

		    var PRIORIDAD = 0
							

				if(this.prioridad == true){
					
					PRIORIDAD  = 0
					this.prioridad = false

				} else{

					PRIORIDAD  = 1
					this.prioridad = true

				}

				const formData = { Numguia  : this.Numguia , 
													 Prioridad: PRIORIDAD
												 }

   		 	this.$http.put('api/v1/addprioridad', formData).then(function(response){
					console.log('response', response.body)
				}).catch(function(error){
					console.log(error)
				})
   	
	    }

    },
   };
</script>

<style scoped>
	
	td{
		padding: 6px;
		width: 150px;	
	}

	tr:hover {
		background-color: #E65100 ; 
		color: #fff;
	}

	.titulo{
		font-weight:bold;
	}

	#map {
    height:230px;
    width: 300px;
    width-top: 300px;
   }

   .imagenes{
   		margin: 9px; 
   		/*width: 100%;*/
    	width-top: 300px;
   }

   .contenido{
   	width: 60%;
   }

  .TituloPrioridad{
  	color : #E65100;
  }
  .tarjetaP{
  	color : #E65100;
  }

  .firma{
  	border: solid;

  }

</style>