<template>
  <v-layout row wrap justify-center class="pa-2">

    <v-snackbar
        v-model="snackbar"
        :timeout="5000"
        top
        color="blue" 
        >
        {{text}}
        <v-btn
          color="white"
          flat
          @click="snackbar = false"
        >
          Cerrar
        </v-btn>
      </v-snackbar>

    <v-flex xs12 sm11 md10>

      <v-layout row wrap>
        <v-flex xs4 sm4 md4  >
          <h4> Tarjetas </h4>  

        </v-flex>

        <v-flex xs5 sm3 class=" mx-2 my-1" text-xs-center>
          <div style="background: #1E88E5; color: white; padding: 4px; margin:2px elevation-7">
            <span style="font-weight: bold; font-size:18px;">Remesa:</span> 
            <span style="font-size:18px;"> {{ Numrem }}</span>
          </div>
        </v-flex>
        <v-flex xs12 sm3 md2 class="mx-1 ">
          <v-btn block  dark @click="CerrarRemesa"> Cerrar Remesa </v-btn>
        </v-flex>
        
        <v-flex xs12 sm5 md3 class="my-1 mx-1" text-xs-center>
          <v-text-field
            v-model="search"
            label="Búsqueda"
            id="id"
            append-icon="search"
          ></v-text-field>
        </v-flex>


        <v-flex xs8 sm4 md2  class="mx-1 pa-1  " >
          <v-select
            :items="ESTATUS"
            item-text="status"
            v-model="estatus"
            label="Estatus"
            class="text-xs-center" 
            append-icon="data_usage"
            sinlge-lin hide-details
            solo
          ></v-select>
        </v-flex>


        <v-flex xs1  class="mx-2 pa-1">
            <v-btn  icon color="blue" dark @click="Actualizar"><v-icon>autorenew</v-icon></v-btn>

        </v-flex>
        
        <v-flex xs8 sm4 class="pa-1">
          <v-layout row wrap>
            
            <v-flex xs6 sm4 >
              <ExpExcelGuia/>
            </v-flex>
          
            <!-- <v-flex xs5 sm4>
              <ImprimirAcuses/>
            </v-flex> -->

            <v-flex xs6 sm6>
              <v-btn color="primary" dark small
                @click="impracuse">Imprimir Acuse 
                
              </v-btn>
            </v-flex>
  
            <v-flex xs2 sm2>
              <v-btn color="primary" dark small 
                @click="MarcarAdicionales">Adicionales 
              </v-btn>
            </v-flex>


          </v-layout>
        </v-flex>

      </v-layout>
          

      <template v-if ="Tarjetas == '' ">
        <v-progress-linear height="4" :indeterminate="indeterminate"></v-progress-linear>
      </template>

      <v-flex xs12 v-if="Tarjetas != '' ">
        <v-card class="box pa-1 elevation-0" v-if ="Tarjetas != null">
          <vue-scrolling-table
            scroll-horizontal
            scroll-vertical
            >
            <template slot="thead" >
              <tr>
                <th v-for="head in headers"
                class="text"
                :key="head.value"
                >
                  <span v-if = "head.text == 'TOTAL' ">{{head.text}} </span>

                  <span v-else-if= "head.text == 'Remesa' ">{{head.text}} </span>

                  <span v-else >{{head.text}} </span>
                  <!-- {{ head.text }} -->
                </th>
              </tr>

            </template>
            <template slot="tbody">
              <tr v-for="tarjeta in Tarjetas" 
                v-bind:style="tarjeta.Nomestatus=='Entregada'? 'color:green; font-weight: bold;' : '' "
               >
                <td v-for="head in headers"
                  :class="head.cssClasses"
                	 v-on:dblclick="edit(tarjeta.Numguia)"

                  :key="head.value">{{ tarjeta[head.value] }}</td>
              </tr>
              <!--  <v-icon v-text="assignment"></v-icon> -->
            </template>
          </vue-scrolling-table>
        </v-card>
      </v-flex> 
    </v-flex> 
  </v-layout>
</template>

<script>
  import store from '@/store'
  import jsPDF from 'jspdf'
  import AutoTable from 'jspdf-autotable'
  import {mapActions} from 'vuex'
  import VueScrollingTable from "vue-scrolling-table"
  import ExpExcelGuia   from '@/views/remesas/ExpExcelGuia'

  export default {
    components: {
      VueScrollingTable,
      ExpExcelGuia,
    },
    data(){
      return{
        Numrem    : '',
        desorden  :'',
        search    : '',
        pagination: {},
        elected   : [],
        dialog    : false,
        Nomvend   :'',
        indeterminate: true ,

        estatus   :'',
        EstatusAEnviar : '',

        loading   : true,
        snackbar  : false ,
        text      :'',
        // Arreglo principal
        Tarjetas   :[],  // Arreglo para mostrar 
        TarjetasOrg: [], // Arreglo completo 
        TarjetasSearch: [], // Arreglo completo 


        DiferenciasRemesas:[],  

        ordentotal: true,
        ordenarNombre: true,
        // alerta    : false,

        Nombre: [],   // Arreglo para mostrar
        Idcliente:'', //Id - para grabar 
        Nomcli: '',   // v-model
        clientes:[],  // Arreglo para watch
        Idremesa:'',

        headers: [
          { text: 'FOLIO'			     ,  value: 'Numguia'       , cssClasses: "nombre"},
          { text: 'Cliente'   	   ,  value: 'Numcli'        , cssClasses: "anio" },
          { text: 'Nombre' 	       ,  value: 'Nomcli'        , cssClasses: "num" },
          { text: 'Codigo'         ,  value: 'Codigo'        , cssClasses: "num" },
          { text: 'Estatus'        ,  value: 'Nomestatus'    , cssClasses: "estatus" },
          { text: 'Mensajero'      ,  value: 'Nombre'        , cssClasses: "num" },
          { text: 'Recibe'         ,  value: 'Nomrecibe'     , cssClasses: "num" },
          { text: 'Fecha Entrega'  ,  value: 'Fecha_entrega' , cssClasses: "num" },

        ],

        // ARREGLO PARA ESTATUS 
        ESTATUS:[
          { status:'Por Validar' }, //0
          { status:'Pendiente' },  //1
          { status:'Entregada' },   //3
          { status:'Devuelta' },    //4
          { status:'Todas' },    
        ],
      }
    },      

    watch:{
      search: function(){
        this.Tarjetas = []
        for (var i = this.TarjetasSearch.length - 1; i >= 0; i--) {
          if(this.TarjetasSearch[i].Nomcli.indexOf(this.search.toUpperCase()) >= 0
            || this.TarjetasSearch[i].Numcli.indexOf(this.search.toUpperCase()) >= 0
            || this.TarjetasSearch[i].Nombre.indexOf(this.search.toUpperCase()) >= 0
            || this.TarjetasSearch[i].Codigo.indexOf(this.search) >= 0){
            this.Tarjetas.push(this.TarjetasSearch[i])
          }
        }

        if(this.search == ''){
          this.Tarjetas = this.TarjetasSearch
        }
      },

      estatus: function() {
        
        // this.alerta = false

        switch(this.estatus){

          case 'Por Validar' :
            this.EstatusAEnviar = 0
            break;

          case 'Pendiente' :
            this.EstatusAEnviar = 1
            break;

          case 'Entregada':
            this.EstatusAEnviar = 3
            break;

          case 'Devuelta':
            this.EstatusAEnviar = 4
            break;

          default:
            this.EstatusAEnviar = 'Pendientes'
            break;

        }
          // this.busTarjetas(payload)
          if(this.estatus != 'Todas'){
            this.FiltrarxEstatus()
          }else{
            this.Actualizar()
          }
      },

    },

    created () {

      this.estatus = 'Todas'
      // Validar si existe parametro para consultar
      if( this.$route.params.id   == null){
        // Si no tengo parameto consulto el ultimo id
        var ID = localStorage.getItem("id");
      
      }else{
        // si hay parametro actualizo el id y lo consulto
        localStorage.setItem("id", this.$route.params.id);
        var ID = localStorage.getItem("id");

      }
      // Mando a consultar con ID
      this.busTarjetas(ID) 

    },

    methods: {

      MarcarAdicionales (){
        console.log( this.TarjetasOrg)
        this.Idremesa = this.TarjetasOrg[1].Idremesa
        console.log(this.Idremesa)

         //Consultar api/v1/cerrarrem
        this.loading = true
        this.$http.put('api/v1/adicionales.update/' + this.Idremesa).then( response => {
          console.log('Diferencias Remesa ', response.body)
          this.DiferenciasRemesas = response.body
          console.log (this.DiferenciasRemesas)
        }).catch(error => {
          console.log(error)
        }).finally(()  => this.loading = false) 


      },


      // Mandar Imprimir acuse
      impracuse(){
        this.$router.push({name:'impacuse'})
      },

      CerrarRemesa(){
        console.log("Cerrar Remesas")

       var fecha = new Date(); 
        var mes   = fecha.getMonth()+1; 
        var dia   = fecha.getDate(); 
        var ano   = fecha.getFullYear(); 

        var hora  = fecha.getHours();
        var min   = fecha.getMinutes();
        var seg   = fecha.getSeconds()

      if(dia<10)
        dia='0'+dia; //agrega cero si el menor de 10
      if(mes<10)
        mes='0'+mes

      // Crear variables para enviar
      var fechaActual = ano  +"-" + mes + "-" + dia
      var HoraActual  = hora +":" + min + ":" + seg



        //  console.log(this.Idremesa)
        const payload = { 
          Id: parseInt(this.Idremesa) , 
          status : 3 ,
          fcierre: fechaActual,
          hora_cierre:  HoraActual
        }

      //console.log ("Payload", payload)
        this.$http.put('api/v1/cerrarrem', payload).then(function(response){
            this.snackbar = true ; this.color = "success"; this.text = "La remesa se ha cerrado"
            // MANDO A consultar remesas
            this.$router.push({name: 'catremesas' })
          })
        .catch(function(error){
            console.log(error)
          })

      },



      acuses(){
        this.dialog = true
        
      },
     
      busTarjetas(id){
        
        var ID = id 
        var me = this
        this.Tarjetas = ''

        //ACTUALIZAR CONTADORES DE REMESAS
        console.log("Mandando actualizarem id" ,ID )
         this.$http.put('api/v1/actualizarem/' + ID) .then( response => {
          console.log('Actualizar CONTADORES', response.body)
        }).catch(error => {
          console.log(error)
        }).finally(()  => this.loading = false) 

  

       this.$http.get('api/v1/tarjetasxrem/' +ID).then(function(response){
          store.state.acuses = response.body

          me.Tarjetas    = response.body
          me.TarjetasOrg = response.body
          me.TarjetasSearch = response.body
          this.Numrem = me.Tarjetas[0].Numrem


        }).catch(function(error){
          console.log(error)
          this.Idremesa = me.Tarjetas[0].Idremesa
          //console.log('Numrem', this.Numrem)

          //console.log("idremesa", this.Idremesa)

          }).catch(function(error){
         // console.log(error)
          
        })  
      },

      edit(item){
        this.$router.push({name:'rastreotarj', params: {id: item} })

      },

      Actualizar(){

        this.Tarjetas = ''
        // this.alerta = false
        var id = localStorage.getItem("id");
        this.busTarjetas(id)

      },

      FiltrarxEstatus(){

        const TarjetasxEstatus = []
        for (var i = 0; i < this.TarjetasOrg.length; i++) {

          if(this.TarjetasOrg[i].Nomestatus == this.estatus){

            TarjetasxEstatus.push({  Numguia      : this.TarjetasOrg[i].Numguia,
                                     Numcli       : this.TarjetasOrg[i].Numcli,
                                     Nomcli       : this.TarjetasOrg[i].Nomcli,
                                     Codigo       : this.TarjetasOrg[i].Codigo,
                                     Nomestatus   : this.TarjetasOrg[i].Nomestatus,
                                     Nombre       : this.TarjetasOrg[i].Nombre,
                                     Nomrecibe    : this.TarjetasOrg[i].Nomrecibe,
                                     Fecha_entrega: this.TarjetasOrg[i].Fecha_entrega
                                  })
          }
        }

        if(TarjetasxEstatus != ''){
          this.Tarjetas = ''
          this.Tarjetas = TarjetasxEstatus
          this.TarjetasSearch = ''
          this.TarjetasSearch = TarjetasxEstatus

        }else{
          this.Tarjetas = ''
          this.snackbar = true  ; this.text=  "No hay guías" +' '+  this.estatus

        }

      },

      CerrarRemesa(){
        console.log("Cerrar Remesas")

       var fecha = new Date(); 
        var mes   = fecha.getMonth()+1; 
        var dia   = fecha.getDate(); 
        var ano   = fecha.getFullYear(); 

        var hora  = fecha.getHours();
        var min   = fecha.getMinutes();
        var seg   = fecha.getSeconds()

      if(dia<10)
        dia='0'+dia; //agrega cero si el menor de 10
      if(mes<10)
        mes='0'+mes

      // Crear variables para enviar
      var fechaActual = ano  +"-" + mes + "-" + dia
      var HoraActual  = hora +":" + min + ":" + seg



        //  console.log(this.Idremesa)
        const payload = { 
          Id: parseInt(this.Idremesa) , 
          status : 3 ,
          fcierre: fechaActual,
          hora_cierre:  HoraActual
        }

      //console.log ("Payload", payload)
        this.$http.put('api/v1/cerrarrem', payload).then(function(response){
            this.snackbar = true ; this.color = "success"; this.text = "La remesa se ha cerrado"
            // MANDO A consultar remesas
            this.$router.push({name: 'catremesas' })
          })
        .catch(function(error){
            console.log(error)
          })

      },
    }
  };
</script>

<style scoped>

  .box {
    padding: 0;
    min-height: auto;
    max-height: 450px;
    min-width: auto;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  .num{
    text-align: right;
    width: 9em;
    min-width: 9em;
    max-width: 9em;
    padding: 3px;
    color : black;
  }

  
  .estatus{
    text-align: right;
    width: 9em;
    min-width: 9em;
    max-width: 9em;
    padding: 3px;
    /*color: green;*/
  }

  .text{
    text-align: center;
    width: 9em;
    min-width: 9em;
    max-width: 9em;
    padding: 3px;
  }

  .nombre{
    text-align: left;
    width: 9em;
    min-width: 9em;
    max-width: 9em;
    padding: 3px;
    color: black;
  }

  .centro{
    text-align: center;
    width: 9em;
    min-width: 9em;
    max-width: 9em;
    padding: 3px !important;
    /*margin: 50px !important;*/
  }
  .anio{
    text-align: center;
    width: 9em;
    min-width: 9em;
    max-width: 9em;
    padding: 3px;
    color: #EF6C00 ;
  }


  th{
    background: #E65100 !important;
    color: #fff;
    text-align: center;
    width: 9em !important;
    min-width: 9em !important;
    max-width: 9em !important;
    font-size: 14px !important;
    padding: 5px !important;

  }

    h4{
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
     font-size: 23px !important;
     padding: 10px !important;
    }

    td{
     font-size: 14px !important;
    }

    td:hover {background-color: #E65100 ; color: #fff;}
</style>