<template>
	<v-layout row wrap class="mx-4 pa-2">
		<v-flex xs12>
			<v-snackbar
	      v-model="snackbar"
	      :timeout="3000"
	      top
	      color="blue" 
	    	>
	      {{text}}
	      <v-btn
	        color="white"
	        flat
	        @click="snackbar = false"
	      >
	        Close
	      </v-btn>
    	</v-snackbar>
		 
	  	<v-card-text>
	  		<h2>PENDIENTES POR MENSAJERO</h2>
	  		<v-divider></v-divider>
	  	</v-card-text>
			
			<v-layout row wrap>
		  	<v-flex xs12 sm5 md3 class="my-1 pa-2">
          <v-flex xs12 class="mx-1 " >
            <span >Seleccione una mensajería</span>
          </v-flex>
	        <v-select
	          :items="mensaje"
	          label="Mensajeria"
	          item-text="mensajería"
	          v-model="mensajeria"
	          class="text-xs-center"
	          append-icon="email"
	          sinlge-lin hide-details 
	          outline
	        ></v-select>
	      </v-flex>

	      <v-flex xs12 sm5 md4 class="my-1 pa-2" v-if="Nombre != ''  ">
          <v-flex xs12 class="mx-1 " >
            <span >Seleccione un mensajero</span>
          </v-flex>
	        <v-select
	          :items="Nombre"
	          label="Mensajero"
	          item-text="mensajero"
	          v-model="mensajero"
	          class="text-xs-center"
	          append-icon="local_shipping"
	          sinlge-lin hide-details 
	          outline
	        ></v-select>
	      </v-flex>

		    <v-flex xs3 sm2 md2 lg1 class="ma-2 pa-2 " v-if="mensajero != '' ">
		      <v-btn  color="primary" @click="buscarPendientes">Buscar</v-btn>
		    </v-flex>

        <v-flex xs3 sm2 md2 lg1 class="ma-2 pa-2 " v-if="mensajero != '' ">
          <v-btn @click="imprimir"><v-icon>print</v-icon></v-btn>
        </v-flex>

			</v-layout>

			<v-data-table 
        hide-actions
        :headers="headers"
        :items="Pendientes"
        class="elevation-1 mt-2"
        :loading="loading"
        v-if ="Pendientes != '' "
      >
       <v-progress-linear v-slot:progress color="primary" indeterminate></v-progress-linear>

        <template slot="items" slot-scope="props" class="head">
          <td class="text-xs-left">{{ props.item.Numguia }}</td>
          <td class="text-xs-left">{{ props.item.Nomcli }}</td>
          <td class="text-xs-left">{{ props.item.Numrem }}</td>
          <td class="text-xs-left">{{ props.item.Prioridad }}</td>
        </template>
          
         <!-- Botón que aparecera en caso de no ser generada la infomación -->
        <template slot="no-data">
          <v-alert :value="true" color="error" icon="warning">
            No se econtraron datos en el sistema 
          </v-alert>
        </template>
      </v-data-table>

	
		</v-flex>
	</v-layout>
</template>

<script> 
	import {mapGetters} from 'vuex'
  import AutoTable from 'jspdf-autotable'
  import jsPDF from 'jspdf'
  export default {
    data(){
      return{
      	// Snackbar
      	snackbar: false,
      	text    : '',

    		// variables
      	NombreAsig: '',
      	Nomuser: '',
      	// SELECTOR MENAJERO
      	Nombre: [],     // Arreglo para mostrar
        idMensajero:'', //Id - para grabar 
        mensajero: '',  // v-model
        mensajeros:[],  // Arreglo para watch

        // SELECTOR MENSAJERIA
        mensaje:        [],
        IdMensajeria: '',
        mensajeria:  '',
        Nummensajeria:  [],
      	
      	// Arreglo para tabla
      	Pendientes: [],
      	loading: true,
        headers: [
          { text: 'Número de Guía'  ,  value: 'Numguia' },
          { text: 'Cliente'         ,  value: 'Nomcli' },  
          { text: 'Remesa'          ,  value: 'Numrem' },         
          { text: 'Prioridad'      	,  value: 'Prioridad' },
        ],
      }
    },

    created(){
    	var me = this
      // Busqueda de Mensajeros
      // this.$http.get('api/v1/mensajeros').then(function(response){

      //   response.body.forEach(function(element) {
      //     me.Nombre.push(element.Nombre)
      //     me.mensajeros.push(element)
      //   })
      // })	

      this.$http.get('api/v1/mensajeria').then(function(response){
        response.body.forEach(function(element) {
          me.mensaje.push(element.Nommensajeria)
          me.Nummensajeria.push(element)
        })
      })
    },

    watch:{
      mensajero: function() {
        var me = this
        this.Pendientes = '' 

        this.mensajeros.forEach(function(element) {
          if(me.mensajero == element.Nombre){
              me.idMensajero = element.Id

          }
        })
              this.buscarPendientes()
      },

      mensajeria: function() {
        var me = this
        this.Pendientes = '' 
        this.Nummensajeria.forEach(function(element) {
          if(me.mensajeria == element.Nommensajeria){
              me.IdMensajeria = element.Id
          }
        })
          this.buscarMensajeros()
      }
    },

    computed:{
      // ...mapGetters('',['']),
   },


  	methods:{
  		buscarPendientes(){

  			var me = this

  			if(this.mensajero == '' ){
  				this.snackbar = true ; this.text =" Debe seleccionar un mensajero "
  				return
  			}
  			
  			const formData = {
  				idmensajero: parseInt(this.idMensajero) 
  			}

  			this.$http.post('api/v1/pendxmensajero', formData).then(function(response){
          console.log(response.body)
  				if(response.body == "null"){
  					this.snackbar = true ; this.text = "No se encontraron pendientes de esté mensajero"
  					this.Pendientes = ''
  				}else{

            // CAMBIO VALOR DE 1 Y 0 POR PALABRA EN PRIORIDAD
           for (var i = 0; i < response.body.length; i++) {
        
              if (response.body[i].Prioridad == 0){
                response.body[i].Prioridad  = 'No tiene Prioridad'
              }else{
                response.body[i].Prioridad = 'Si tiene Prioridad'
              }
            }
  					this.Pendientes = response.body 
          	this.loading = false

  				}

  			}).catch(function(error){
  				console.log(error)
  			})

  	 },

      buscarMensajeros(){

        var me = this 

        const formData = { Idmensajeria: this.IdMensajeria}
       
        this.$http.post('api/v1/menxmia',formData).then(function(response){

          if(response.body != "null"){

            response.body.forEach(function(element) {
              me.Nombre.push(element.Nombre)
              me.mensajeros.push(element)
            })

          }else{

            this.snackbar = true ; this.text = "Esta mensajeria no tiene asignado ningun mensajero"
            me.Nombre     = []
            me.mensajeros = []
            me.mensajero  = ''
          }
        })
      },

      imprimir(){

        var Nombre = this.mensajero

        var columns = [
          { title: 'Numero de Guía', dataKey: 'Numguia' },
          { title: 'Cliente'       , dataKey: 'Nomcli' },
          { title: 'Remesa '       , dataKey: 'Numrem' },
          { title: 'Prioridad'     , dataKey: 'Prioridad' }
        ];
        var rows = [];

        this.Pendientes.map(function(x){
          rows.push({
            Numguia:   x.Numguia,
            Nomcli:    x.Nomcli,
            Numrem:    x.Numrem,
            Prioridad: x.Prioridad
          });
        });


       
        // Only pt supported (not mm or in)
        var doc = new jsPDF('p', 'pt');
        doc.autoTable( columns , rows, {
          margin: {top: 60},
            
          didDrawPage : function(data){
              doc.text("Pendientes del Mensajero" + " "+ " ' " +  Nombre + " ' " , 40, 30);
              // doc.text('Pendientes del Mensajero', 40, 30);


          }
        });
        doc.save('Pendientes por Mensajero.pdf');
      }

	},
};
</script>

<style scoped>
  
  /*td : hover{ background: red ; }*/
	
</style>

