<template>
  <v-layout row wrap justify-center class="pa-4">
    <v-flex xs12 md10 lg10>
     <!--  <v-toolbar flat color="white"> -->
        <v-layout row wrap>
            
          <v-flex xs12 md2 lg2 class="">
           <h2>Clientes</h2>  
          </v-flex> 

          <!-- BUSQUEDA -->
          <v-flex xs12 md4 lg4 class="mx-3">
            <v-text-field
            class="text-xs-center" v-model="search" append-icon="search" label="Búsqueda de Clientes" sinlge-lin hide-details
            sinlge-lin hide-details
            ></v-text-field>
          </v-flex>
  
          <!-- BOTON NUEVO VENDEDOR -->
          <v-flex xs6 md3 lg3 class="mx-3" >
            <v-btn  color="primary" sinlge-lin hide-details dark class="mb-2" :to="{name: 'newcliente'}" ><v-icon left>chrome_reader_mode</v-icon>Nuevo Cliente</v-btn>
          </v-flex>
          <!-- EXPORTAR A EXCEL -->
          <v-flex xs1 class="mx-2">
            <div><ExpExcelCliente/></div> 
          </v-flex>
        </v-layout>

      <!-- </v-toolbar> -->
      <v-data-table 
        hide-actions
        :headers="headers"
        :items="Clientes"
        :search="search"
        :pagination.sync="pagination"
        class="elevation-1 mt-2"
        :loading="loading"
      >
       <v-progress-linear v-slot:progress color="primary" indeterminate></v-progress-linear>

        <template slot="items" slot-scope="props" class="head">
          <td  class="text-xs-left" v-on:dblclick="edit(props.item.ID)">{{ props.item.ID}}</td>
          <td class="text-xs-left" v-on:dblclick="edit(props.item.ID)">{{ props.item.nomcli }}</td>
          <td class="text-xs-left" v-on:dblclick="edit(props.item.ID)">{{ props.item.email }}</td>
          <td class="text-xs-left" v-on:dblclick="edit(props.item.ID)">{{ props.item.telefono }}</td>
          <td class="text-xs-left" v-on:dblclick="edit(props.item.ID)">{{ props.item.estado }}</td>


        </template>
          
         <!-- Botón que aparecera en caso de no ser generada la infomación -->
        <template slot="no-data">
          <v-alert :value="true" color="error" icon="warning">
            No se econtraron datos en el sistema 
          </v-alert>
        </template>
      </v-data-table>

        <!-- Paginación -->
        <div class="text-xs-center">
        <v-pagination
          v-model="pagination.page"
          :length="pages"
          :total-visible="7"
        ></v-pagination>
      </div>
        
    </v-flex>
  </v-layout>
</template>

<script>
  import jsPDF from 'jspdf'
  import ExpExcelCliente from '@/views/clientes/ExpExcelCliente'
  import AutoTable from 'jspdf-autotable'
  // import ImprimirOrdenes from '@/componentes/asesores/ImprimirOrdenes'

  export default {
    components:{
      ExpExcelCliente
    },
    data(){
      return{
        search: '',
        pagination: {},
        elected: [],
        dialog: false,
        Clientes: [],
        loading: true,
        headers: [
          { text: 'ID'                    ,  value: 'ID' },
          { text: 'Nombre'                ,  value: 'nomcli' },
          { text: 'Email'                 ,  value: 'email' },
          { text: 'Contacto'              ,  value: 'telefono' },  
          { text: 'Estado'              ,  value: 'estado' },         


        ],
      }
    },
      
    computed: {
     
      pages () {
        if (this.pagination.rowsPerPage == null || this.pagination.totalItems == null ) {
          return 0
        }else{
          this.pagination.rowsPerPage = 8
          return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
        }
      }
    },

    created () {
        // TRAER TODOS LOS CLIENTES
      
        this.$http.get('api/v1/clientes').then(function(response){
          // console.log(response.body)
          this.Clientes = response.body
          this.paginas(response.body)
          this.loading = false

        }).catch(function(error){
          console.log(error)
        })

    },

    methods: {

      edit(item){
        this.$router.push({name:'editcliente', params: {id: item}})
      },

      paginas(value){

        var pag = value.length
        
        if ( pag <= 0 ) {
          return 0
        }else{
          this.pagination.rowsPerPage = 8 ; this.pagination.totalItems  = pag
          return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
        }

      }
    }
  };
</script>

<style scoped="">


</style>