<template>
  <v-layout row wrap justify-center class="pa-4">
    <v-flex xs12 md7 lg7>
       
     <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      color="blue" 
    	>
      {{text}}
      <v-btn
        color="white"
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

      <v-card>
        <v-flex xs12>
          <v-toolbar color="primary" dark>
            <v-toolbar-title > Editar Cliente </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn  flat color="blak" dark @click="DeleteCliente">Eliminar<v-icon>delete_forever</v-icon></v-btn>

          </v-toolbar>
        </v-flex>
      </v-card>
   
      <v-card class="elevation-5 mt-1 pa-1">
        <v-form> 
          <v-layout row wrap  class="mx-5">

            <v-flex xs12 md12 lg12 class=""> 
              <v-text-field
                prepend-icon="account_box"
                v-model="cargarClienteAEdit.nomcli"
                label="Nombre del cliente"
              ></v-text-field>
            </v-flex>
            
            <v-flex xs12 md6 lg6 class="" > 
              <v-text-field
                prepend-icon="format_line_spacing"
                v-model="cargarClienteAEdit.calle"
                label="Calle"
              ></v-text-field>
            </v-flex>

            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="local_convenience_store"
                v-model="cargarClienteAEdit.numext"
                label="Numero Ext"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="format_shapes"
                v-model="cargarClienteAEdit.colonia"
                label="Colonia"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="business"
                v-model="cargarClienteAEdit.ciudad"
                label=" Ciudad"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="copyright"
                v-model="cargarClienteAEdit.Cp"
                label="CP"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="location_city"
                v-model="cargarClienteAEdit.estado"
                label="Estado"
              ></v-text-field>
            </v-flex>
<!--             <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="public"
                v-model="pais"
                label="Pais"
              ></v-text-field>
            </v-flex> -->
            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="ring_volume"
                v-model="cargarClienteAEdit.telefono"
                label="Telefono "
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="email"
                v-model="cargarClienteAEdit.email"
                label="Email"
              ></v-text-field>
            </v-flex>
          </v-layout>

          <v-divider class="mx-5"></v-divider>
          
          <v-layout row wrap justify-center>
            <v-flex xs4 md2 class="mt-2 ">
              <v-btn color="primary" @click="agregar" >Editar</v-btn>
            </v-flex>
            <v-flex xs4 md2 class="mt-2">
              <v-btn color="error" :to="{name:'catcliente'}">Cancelar</v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default{
    data () {    
      return {
        nomcli:   '',
        calle:    '',
        numext:   '',
        colonia:  '',
        ciudad:   '',
        Cp:       '',
        estado:   '',
        telefono: '',
        email:    '',
        snackbar: false,
        text:     '',
        cargarClienteAEdit: '',
      }
    },

    created () {
      this.busIdCliente(this.$route.params.id)
    },

  computed:{
  	
    validaInfo(){
        return  this.cargarClienteAEdit.nomcli   !==  '' &&       
                this.cargarClienteAEdit.estado   !==  '' &&
                this.cargarClienteAEdit.Cp     	!==  '' &&
                this.cargarClienteAEdit.email    !==  ''  
      }
   },

   methods:{
    
     agregar(){
      
      var me = this
      if(!this.validaInfo){
      		this.snackbar = true ; this.text = "Faltan campos por agregar"
        return
      }

      this.$http.put('api/v1/clientes/' + this.cargarClienteAEdit.ID,{
      	'ID':       this.cargarClienteAEdit.ID,
				'Nomcli':   this.cargarClienteAEdit.nomcli,
        'Calle':    this.cargarClienteAEdit.calle,
        'Numext':   this.cargarClienteAEdit.numext,
        'Colonia':  this.cargarClienteAEdit.colonia,
        'Ciudad':   this.cargarClienteAEdit.ciudad,
        'CP':       this.cargarClienteAEdit.Cp,
        'Estado':   this.cargarClienteAEdit.estado,
        'Telefono': this.cargarClienteAEdit.telefono,
        'Email':    this.cargarClienteAEdit.email,
        'Rfc':      this.cargarClienteAEdit.Rfc
			})
			.then(function(response){
        this.text="Se guardo la información correctamente"; this.snackbar =true 
        setTimeout(function(){ me.$router.push({name: 'catcliente'}) }, 2000);
    
			}).catch(function(error){
				console.log(error)
			})
  },

  // BUSCAR UN CLIENTE 
    busIdCliente(id){
      this.$http.get('api/v1/clientes/' + id).then(function(response){ 
        // console.log('busCliente', response.body) 
        this.cargarClienteAEdit= response.body
        }).catch(function(error){
          console.log(error)
        })
    },

    DeleteCliente(){
      var me = this 
      var id = this.cargarClienteAEdit.ID

      this.$http.delete('api/v1/clientes/' + id)
      .then(function(response){
        this.text="El cliente se elimino correctamente" ;this.snackbar =true 
        setTimeout(function(){ me.$router.push({name: 'catcliente'}) }, 2000);

      }).catch(function(error){
        console.log(error)
      })


    },

 }
};
</script>