<template>
  <v-layout row wrap justify-center class="pa-4">
    <v-flex xs12 md7 lg7>

      <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      color="blue" 
      >
      {{text}}
      <v-btn
        color="white"
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
       
      <v-card>
        <v-flex xs12>
          <v-toolbar color="primary" dark>
            <v-toolbar-title > Nuevo Cliente </v-toolbar-title>
          </v-toolbar>
        </v-flex>
      </v-card>
   
      <v-card class="elevation-5 mt-1 pa-1">
        <v-form> 
          <v-layout row wrap  class="mx-5">

            <v-flex xs12 md12 lg12 class=""> 
              <v-text-field
                prepend-icon="account_box"
                v-model="nomcli"
                label="Nombre del cliente"
              ></v-text-field>
            </v-flex>
            
            <v-flex xs12 md6 lg6 class="" > 
              <v-text-field
                prepend-icon="format_line_spacing"
                v-model="calle"
                label="Calle"
              ></v-text-field>
            </v-flex>

            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="local_convenience_store"
                v-model="numext"
                label="Numero Ext"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="format_shapes"
                v-model="colonia"
                label="Colonia"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="business"
                v-model="ciudad"
                label=" Ciudad"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="copyright"
                v-model="Cp"
                label="CP"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="location_city"
                v-model="estado"
                label="Estado"
              ></v-text-field>
            </v-flex>
<!--             <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="public"
                v-model="pais"
                label="Pais"
              ></v-text-field>
            </v-flex> -->
            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="ring_volume"
                v-model="telefono"
                label="Telefono "
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="email"
                v-model="email"
                label="Email"
              ></v-text-field>
            </v-flex>
          </v-layout>

          <v-divider class="mx-5"></v-divider>
          
          <v-layout row wrap justify-center>
            <v-flex xs4 md2 class="mt-2 ">
              <v-btn color="primary" @click="agregar" >Agregar</v-btn>
            </v-flex>
            <v-flex xs4 md2 class="mt-2">
              <v-btn color="error" :to="{name:'catcliente'}">Cancelar</v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default{
    data () {    
      return {
        nomcli:   '',
        calle:    '',
        numext:   '',
        colonia:  '',
        ciudad:   '',
        Cp:       '',
        estado:   '',
        telefono: '',
        email:    '',
        snackbar: false,
        text:     ''
      }
    },

    created () {
    },

  computed:{
  
    validaInfo(){
        return  this.nomcli   !==  '' &&       
                this.estado   !==  '' &&
                this.Cp       !==  '' &&
                this.email    !==  ''  
      }

   },

   methods:{
    
     agregar(){
      var me = this
      if(!this.validaInfo){
          this.snackbar = true ; this.text = "Faltan campos por agregar"
        return
      }

      const formData = {

        Nomcli:   this.nomcli,
        Calle:    this.calle,
        Numext:   this.numext,
        Colonia:  this.colonia,
        Ciudad:   this.ciudad,
        CP:       this.Cp,
        Estado:   this.estado,
        Telefono: this.telefono,
        Email:    this.email,
        Rfc  :    "",
      }

      // console.log("formdata", formData)

     this.$http.post('api/v1/clientes', formData).then(function(response){
      this.snackbar=true ; this.text="El cliente se agrego correctamente"
          setTimeout(function(){ me.$router.push({name: 'catcliente'}) }, 2000);
          
      })
        .catch(function(error){
        console.log(error)
      })

    }

  }
};
</script>