<template>
  <v-layout row wrap justify-center class="pa-4">
    <v-flex xs12 md10 lg10>
     <!--  <v-toolbar flat color="white"> -->
        <v-layout row wrap>
            
          <v-flex xs12 md3 lg3 class="mx-2">
           <h2>Plazas</h2>  
          </v-flex> 

          <!-- BUSQUEDA -->
          <v-flex xs6 md4 lg4 class="mx-3">
            <v-text-field
            class="text-xs-center" v-model="search" append-icon="search" label="Búsqueda de Plazas" sinlge-lin hide-details
            sinlge-lin hide-details
            ></v-text-field>
          </v-flex>
         <v-spacer></v-spacer> 
  
          <!-- BOTON NUEVO VENDEDOR -->
          <!-- <v-flex xs6 md3 lg3 >
            <v-btn  color="primary" sinlge-lin hide-details dark class="mb-2" :to="{name: 'newcliente'}" ><v-icon left>chrome_reader_mode</v-icon>Nueva Plaza</v-btn>
          </v-flex> -->
          <!-- EXPORTAR A EXCEL -->
          <v-flex xs1 class="mx-2">
            <!-- <div><ExpExcelCliente/></div>  -->
          </v-flex>
        </v-layout>

      <!-- </v-toolbar> -->
      <v-data-table 
        hide-actions
        :headers="headers"
        :items="Plazas"
        :search="search"
        :pagination.sync="pagination"
        class="elevation-1 mt-2"
        :loading="loading"
      >
       <v-progress-linear v-slot:progress color="primary" indeterminate></v-progress-linear>

        <template slot="items" slot-scope="props" class="head">
          <td  class="text-xs-left" v-on:dblclick="edit(props.item.ID)">{{ props.item.ID}}</td>
          <td class="text-xs-left"  v-on:dblclick="edit(props.item.ID)">{{ props.item.Entidad }}</td>
          <td class="text-xs-left" v-on:dblclick="edit(props.item.ID)">{{ props.item.Nomplaza }}</td>
          <td class="text-xs-left" v-on:dblclick="edit(props.item.ID)">{{ props.item.Ciudad }}</td>
          <!-- <td class="text-xs-left" v-on:dblclick="edit(props.item.id)">{{ props.item.estado }}</td> -->
<!-- `SELECT id, entidad, nomplaza, ciudad, Idmensajeria FROM plazas`) -->

        </template>
          
         <!-- Botón que aparecera en caso de no ser generada la infomación -->
      <!--   <template slot="no-data">
          <v-alert :value="true" color="error" icon="warning">
            No se econtraron datos en el sistema 
          </v-alert>
        </template> -->
      </v-data-table>

        <!-- Paginación -->
        <div class="text-xs-center">
        <v-pagination
          v-model="pagination.page"
          :length="pages"
          :total-visible="7"
        ></v-pagination>
      </div>
        
    </v-flex>
  </v-layout>
</template>

<script>
  import jsPDF from 'jspdf'
  // import ExpExcelCliente from '@/views/clientes/ExpExcelCliente'
  import AutoTable from 'jspdf-autotable'
  // import ImprimirOrdenes from '@/componentes/asesores/ImprimirOrdenes'

  export default {
    // components:{
    //   ExpExcelCliente
    // },
    data(){
      return{
        search: '',
        pagination: {},
        elected: [],
        dialog: false,
        Plazas: [],
        loading: true,
        headers: [
          { text: 'ID'          ,  value: 'ID' },
          { text: 'Entidad'     ,  value: 'Entidad' },
          { text: 'Plaza'       ,  value: 'Nomplaza' },
          { text: 'Ciudad'      ,  value: 'Ciudad' },  

        ],
      }
    },
      
    computed: {
     
      pages () {
        if (this.pagination.rowsPerPage == null || this.pagination.totalItems == null ) {
          return 0
        }else{
          this.pagination.rowsPerPage = 8
          return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
        }
      }
    },

    created () {
        // TRAER TODAS LAS PLAZAS
        this.$http.get('api/v1/plazas').then(function(response){
          // console.log(response.body)
          this.Plazas = response.body
          this.paginas(response.body)
          this.loading = false

        }).catch(function(error){
          console.log(error)
        })

    },

    methods: {

      edit(item){
        this.$router.push({name:'editplaza', params: {id: item}})
      },

      paginas(value){

        var pag = value.length
        
        if ( pag <= 0 ) {
          return 0
        }else{
          this.pagination.rowsPerPage = 8 ; this.pagination.totalItems  = pag
          return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
        }

      },

      consultar(){
        this.$http.get('sol/api/v1/plazas').then(function(response){
          // console.log(response.body)
          this.Plazas = response.body
          this.paginas(response.body)
          this.loading = false

        }).catch(function(error){
          console.log(error)
        })
      }
    }
  };
</script>

<style scoped="">


</style>