<template>
  <v-layout row wrap justify-center class="pa-4">
    <v-flex xs12 md7 lg7>
       
     <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      color="blue" 
      >
      {{text}}
      <v-btn
        color="white"
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

      <v-card>
        <v-flex xs12>
          <v-toolbar color="primary" dark>
            <v-toolbar-title > Editar Plaza </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn  flat color="blak" dark @click="DeletePlaza">Eliminar<v-icon>delete_forever</v-icon></v-btn>

          </v-toolbar>
        </v-flex>
      </v-card>
    
      <v-card class="elevation-5 mt-1 pa-1">
        <v-form> 
          <v-layout row wrap  class="mx-5">
              
            <v-flex xs12 md12 lg12 class=""> 
              <v-text-field
                prepend-icon="account_box"
                v-model="cargarPlazasAEdit.Nomplaza"
                label="Nombre de la Plaza"
                disabled
              ></v-text-field>
            </v-flex>
            
            <v-flex xs12 md6 lg6 class="" > 
              <v-text-field
                prepend-icon="format_line_spacing"
                v-model="cargarPlazasAEdit.Entidad"
                label="Entidad"
                disabled
              ></v-text-field>
            </v-flex>

            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="local_convenience_store"
                v-model="cargarPlazasAEdit.Ciudad"
                label="Ciudad"
                disabled
              ></v-text-field>
            </v-flex>

            <v-flex xs12 md6 class="mt-1">
              <v-select
                :items="mensaje"
                label="Mensajeria"
                item-text="mensajeria"
                v-model="mensajeria"
                class="text-xs-center"
                prepend-icon="email"
                sinlge-lin hide-details 
              ></v-select>
            </v-flex>

          </v-layout>

          <v-divider class="mx-5 mt-4"></v-divider>
          
          <v-layout row wrap justify-center>
            <v-flex xs4 md2 class="mt-2 ">
              <v-btn color="primary" @click="agregar" >Editar</v-btn>
            </v-flex>
            <v-flex xs4 md2 class="mt-2">
              <v-btn color="error" :to="{name:'catplazas'}">Cancelar</v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default{
    data () {    
      return {
        nommensajeria:'',
       //Variables para selec
        mensajeria    : '', 
        mensaje       : [],
        Nummensajeria : [],
        IdMensajeria  : '',

        show1         : true,
        snackbar      : false,
        text          : '',
        cargarPlazasAEdit: '',
      }
    },

    created () {
      // Mandar a llamar consulta plaza id
      this.busIdPlazas(this.$route.params.id)

      // Buscar Mensajerias
      var me = this
      this.$http.get('api/v1/mensajeria').then(function(response){
        // console.log('respuesta',response.body)
        response.body.forEach(function(element) {
          me.mensaje.push(element.Nommensajeria)
          me.Nummensajeria.push(element)

        })
      })
      
    },

    watch:{
      mensajeria: function() {
        var me = this
        
        this.Nummensajeria.forEach(function(element) {
          if(me.mensajeria == element.Nommensajeria){
              me.IdMensajeria = element.Id
          }
        })
      }
    },

  computed:{
    
    validaInfo(){
        return  this.cargarPlazasAEdit.Nomplaza     !==  '' &&       
                this.cargarPlazasAEdit.Entidad      !==  '' &&
                this.cargarPlazasAEdit.mensajeria   !==  '' 
      }
   },

   methods:{
    
     agregar(){
      var me = this 
      
      if(!this.validaInfo){
          this.snackbar = true ; this.text = "Faltan campos por agregar"
        return
      } 

      this.$http.put('api/v1/plazas/' + this.cargarPlazasAEdit.ID,{
        'Nomplaza'     : this.cargarPlazasAEdit.Nomplaza,
        'Entidad'      : this.cargarPlazasAEdit.Entidad,
        'Ciudad'       : this.cargarPlazasAEdit.Ciudad,
        'IdMensajeria' : parseInt(this.IdMensajeria)
      })
      .then(function(response){

          this.snackbar=true ; this.text="La información se guardo correctamente"
          setTimeout(function(){ me.$router.push({name: 'catplazas'}) }, 2000);

      }).catch(function(error){
        console.log(error)
      })
  },

  // BUSCAR UN CLIENTE 
    busIdPlazas(id){

      this.$http.get('api/v1/plazas/' + id).then(function(response){
          this.cargarPlazasAEdit = response.body
          this.IdMensajeria      = response.body.Idmensajeria
          this.mensajeria        = response.body.nommensajeria

        }).catch(function(error){
          // console.log(error)
        })
    },

    DeletePlaza(){
      var me = this 
      var id = this.cargarPlazasAEdit[0].ID

      this.$http.delete('api/v1/plazas/' + id).then(function(response){
          this.$router.push({name:'catplazas'})
          this.snackbar=true ; this.text="La plaza se elimino correctamente"
          setTimeout(function(){ me.$router.push({name: 'catplazas'}) }, 2000);
      }).catch(function(error){
        // console.log(error)
      })


    },

 }
};
</script>