<template>
	<v-layout row wrap justify-center class="pa-4">
		<v-flex xs12 >
			<img class= ""       src="mensajeria.png"   max-height="120" width="120"/>
			<img class="sol"     src="Sol.jpg" 			width="960" height="640"/>
			<img class="anio" 	 src="SolemexPro.png"   width="960" height="640"/>
			<img class="carrito" src="SolemexEnvio.png" width="960" height="640"/>
			<img class="mapa"    src="SolemexTerr.png"  width="960" height="640"/>
		</v-flex>

		<v-flex xs12>
		  
		<a href="https://saiterp.com/fabrica.php">
				<v-footer  class="footer mt-3">
					  <img class="sait" src="sait2.png"/>
					 
					  <v-spacer></v-spacer>
					  <img class="sait" src="mensajeria2.png"/>

				</v-footer>
			</a>
		</v-flex>
	</v-layout>
   
</template>

<script>
  export default {
    data () {
      return {
        items: [
          {
            src: 'sol.png'
          }
         
        ]
      }
    }
  };
</script>

<style scoped>

div.container {
	width: 96%;
	max-width: 960px;
	margin: 0 auto;
}

.sol{
	width: 100%;
	height: auto;
}

.carrito {
	width: 100%;
	height: auto;
	background: #BDBDBD;
}

.anio{
	width: 100%;
	height: auto;
}

.mapa{
	width: 100%;
	height: auto;
}

.sait{
	width: 120px;
	padding: 10px;
}
.footer{
	background: #0F384F;  
	padding: 35px;
	width: 100%
}
</style>
