<template>
  <v-container class= "mt-5">
   
    <v-layout align-center justify-center>
    
      <v-snackbar
        v-model="snackbar"
        :timeout="8000"
        top
        color="orange" dark
      >
        {{text}}
        <v-btn
          color="white"
          flat
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </v-snackbar>

      <v-flex xs12 md5 lg4 class="my-2">
        <v-card class="elevation-12">
    <!--       <v-toolbar dark color="primary">
            <v-toolbar-title align="center">Login</v-toolbar-title>
          </v-toolbar> -->
          <v-card-text class="mt-2">
                <div class="logo my-5" alt="DevCode" >
                  <img src="solemex.png" width="200" height="80%" class="mb-5" >
                </div>
            
            <v-form>
              
                <!-- EMAIL -->
              <v-text-field
                autofocus
                v-model="email" 
                prepend-icon="email" 
                label="Correo" 
                required
                type="text">
              </v-text-field>

                <!-- PASSWORD -->
              <v-text-field
                v-model="password"
                prepend-icon="lock"
                :append-icon="show1 ? 'visibility' : 'visibility_off'"
                :rules="[rules.required, rules.min]"
                :type="show1 ? 'text' : 'password'"
                label="contraseña"
                hint="At least 8 characters"
                counter
                @click:append="show1 = !show1"
              ></v-text-field>

              <v-flex xs12>
                <v-card v-if="error" color="red lighten-1" class=" px-2 py-2">
                  <div class="white--text">
                    {{ error }}
                  </div>
                </v-card>
              </v-flex>

            </v-form>
          </v-card-text>
          

          <v-flex xs12 text-xs-center>
            <v-btn color="success" @click="ingresar2">Login</v-btn>
            
          </v-flex>
              
              <!-- BOTONES -->
         <!--  <v-card-actions class="mt-2 mx-3">
            <v-spacer></v-spacer>
            <v-btn color="success" @click="ingresar2">Login</v-btn>
            <v-btn color="primary" :to="{name: 'registro'}">Registrarse</v-btn>
          </v-card-actions> -->
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import router from '@/router'
import {mapActions , mapGetters} from 'vuex'
  export default {
    data(){
      return{
        password: '',
        email:'',
        snackbar: false,
        y: 'top',
        x: null,
        mode: '',
        timeout: 8000,
        text: '',
        isPaste: false,
        drawer: null,
        show1: false,
        error: '',


        rules: {
          required: value => !!value || 'Requerido.',
          min: v => v.length >= 8 || 'Minimo 8 caracteres',
          emailMatch: () => ('El correo y/o la contraseña no son correctos')
        },

        NombreAsig: '',
        Nomuser: '',
      }
    },

    computed:{
      ...mapGetters('login',['getdatosUsuario']),
   },

    
    methods:{
      ...mapActions('login',['validarUser']),

      ingresar2 (){
        this.error  = null
        var md5     = require('md5')
        var usuario = { "email": this.email, "password": md5(this.password)}
        var user    = { "email": this.email, "password": md5(this.password)}
        
        // console.log('param',user)

        this.validarUser(usuario).then(response => {
         
          if(response === false){
            
            this.text     = "No existe el usuario o sus datos son incorrectos"
            this.snackbar = true 
            return

          }else{

            response.token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1NTQzMTI2NzQsImlkIjoibWFudWVsQHNhaXQuY29tLm14MzMiLCJvcmlnX2lhdCI6MTU1NDMwOTA3NH0.GlMMRYXFDwEKskyYkS1oaqRp8qAuPbGB-U1lxNUK5PQ"
           
            // Obtengo el nievel del usuario
            var Nivel = this.getdatosUsuario.Nivel           
            // formo arreglo para mandar token con el nivel de usario
            const formData = { token: response.token,
                               nivel: Nivel 
                             }

            this.$store.dispatch("guardarToken", formData)

            this.$router.push({ name: 'home' })  
          }
          
        })
      
        // this.$http.post('login', user).then(respuesta => {
        //     console.log('respuesta',respuesta.data)
            
        //     if (respuesta.data == "no"){
        //       this.text = "El correo" + "  "+ this.email + "  "+ "no existe"
        //       this.snackbar = true 
        //     }

        //     return respuesta.data
        // })
        // .then(data => {   
        //     data.token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1NTQzMTI2NzQsImlkIjoibWFudWVsQHNhaXQuY29tLm14MzMiLCJvcmlnX2lhdCI6MTU1NDMwOTA3NH0.GlMMRYXFDwEKskyYkS1oaqRp8qAuPbGB-U1lxNUK5PQ"
        //     this.$store.dispatch("guardarToken", data.token)
        //     this.$router.push({ name: 'home' })
        // })
        // .catch(err => {
        //   if (err.status==401){
        //       this.error="No es un email válido";
        //   } else if (err.status==404 || err.status== 403 ){
        //       this.error="No existe el usuario o sus datos son incorrectos";
        //   }else if (err.status== 500){  
        //       this.error="Ocurrió un error";
        //   }
        // })
      // }
      // ingresar2(){
      //   this.error = null
      //   var md5     = require('md5')
      //   var usuario = { "email": this.email, "password": md5(this.password)}

      //this.buscarUsuarioWeb(usuario).then(function =>{
      //this.$router.push({name: 'home' })

      }
    }
  };

 //      (err) => {
   // //       console.log("Err", err)
   //        console.log(err.response.status)

   //        if (err.status==401){
   //              this.error="No es un email válido";
   //          } else if (err.status==404 ){
   //              this.error="No existe el usuario o sus datos son incorrectos";
   //          }else{
   //              this.error="Ocurrió un error";
   //          }
   //      }


</script>

<style scoped>
  
  .logo{
    align-content: "center";
    text-align: center;

  }

</style>


  