<template>
  <v-layout row wrap align-center justify-center>
    <v-flex xs12 sm6  class="my-5">
      <v-card class="elevation-12">
        <v-snackbar
          v-model="snackbar"
          :timeout="4000"
          top
          :color="color"
        >
          {{text}}
          <v-btn
            color="white"
            flat
            @click="snackbar = false"
          >
            Close
          </v-btn>
        </v-snackbar>

        <v-card-text >
          <v-form>
            <v-layout row wrap justify-space-between  align-center justify-center>
              <v-flex xs12>
                <v-layout  align-center justify-center row >
                    <img src="solemex.png" alt="alt" width="200" height="80%" class="my-4">
                </v-layout>
              </v-flex>    
              
              <v-divider class="mx-5 "></v-divider>

              <v-flex xs12 class="mt-2 ">
                <v-text-field
                  :disabled="disabled"
                  prepend-icon="person"
                  v-model="getdatosUsuario.Nomuser"
                  label="Nombre"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 md6 lg6 class="">
                <v-text-field
                  :disabled="disabled"
                  prepend-icon="email"
                  v-model="getdatosUsuario.Email"
                  label="Correo"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 md6 lg6 class="">
                <v-text-field
                  :disabled="disabled"
                  prepend-icon="local_phone"
                  v-model="getdatosUsuario.Telefono"
                  label="Teléfono"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 md6 lg6 class="pr-1">
                <v-text-field
                  :disabled="disabled"
                  prepend-icon="work"
                  v-model="getdatosUsuario.Depto"
                  label="Departamento"
                ></v-text-field>
              </v-flex>
            
              <v-flex xs12 v-if="cambia == true ">
               <v-btn round color= "success" dark :disabled="disabled" @click="CambiarPassword" >Cambiar Contraseña</v-btn>
              </v-flex>

              <v-flex xs12  v-else >
               <v-btn  round color= "red" dark  @click="CambiarPassword">Cancelar</v-btn>
              </v-flex>
          
              <v-flex xs12 md6 lg6 class="mt-1" v-if="cambia == false  ">
                <v-text-field
                  v-model="password"
                  prepend-icon="lock"
                  :append-icon="show1 ? 'visibility_off' : 'visibility'"
                  :rules="[rules.required, rules.min]"
                  :type="show1 ? 'text' : 'password'"
                  name="input-10-1"
                  label="Contraseña"
                  hint="At least 8 characters"
                  counter
                  @click:append="show1 = !show1"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 md6 lg6 class="mt-1" v-if="cambia == false">
                <v-text-field
                  v-model="password2"
                  prepend-icon="lock"
                  :append-icon="show2 ? 'visibility_off' : 'visibility'"
                  :rules="[rules.required, rules.min]"
                  :type="show2 ? 'text' : 'password'"
                  name="input-10-1"
                  label=" Confirmar Contraseña"
                  hint="At least 8 characters"
                  counter
                  @click:append="show2 = !show2"
                ></v-text-field>
                  
              </v-flex>

            </v-layout>
          </v-form>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn v-if="editar" block color="primary" @click="habilitar"> Editar<v-icon right>edit</v-icon></v-btn>
          <v-btn v-else block color="success" @click="validaInfo"> Guardar<v-icon right>send</v-icon></v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'
  export default{
    data(){
      return{

        perfilUser: '',
        editar: true,
        disabled: true,
        snackbar: false,
        text:    '',
        color:   '',

        // VARIABLES PARA CONTRASEÑA
        password:'',
        password2:'',
        PasswordAEdit:'',
        PasswordActual: '',
         // BOTON PARA EDITAR CONTRASEÑA
        cambia: true,

        // VER PASSWORD
        show1: true,
        show2: true,

        rules: {
          required: value => !!value || 'Requerido.',
          min: v => v.length >= 5 || 'Minimo 5 caracteres',
          emailMatch: () => ('El correo y/o la contraseña no son correctos')
        }
      }
    },

    computed:{  
      validaPassword(){
          return this.password  !== '' &&
                 this.password2 !== ''    
      }
    },

    methods:{
      ...mapActions('login',['saveInfoUsuario']),

      habilitar(){
        this.editar = !this.editar
        this.disabled = !this.disabled
      },

      //Funcion para mostrar Campos de contraseña
      CambiarPassword(){
      if(this.cambia == true){

        this.cambia = false
      }else{
        this.cambia = true
      }

      },

      datosMyPerfil(){

        var id = parseInt(this.getdatosUsuario.idusuariosweb)
        var me = this
        this.$http.get('auth/api/v1/usuariosweb/' + id).then(function(response){ 
          // this.perfilUser = response.body
          console.log('response.body' ,response.body)
          me.PasswordActual = response.body.Password

          console.log('PasswordActual',this.PasswordActual)

        }).catch(function(error){
          console.log(error)
        })
      },

      validaInfo(){
        console.log(this.cambia)
        if(this.cambia === false){
          // COMPARO LAS CONTRASEÑAS => TIENEN QUE SER IGUAL
          if(this.password.localeCompare(this.password2) ){
            this.text     = "Las contraseñas no coinciden"
            this.snackbar = true ; this.color ="blue"
            return

          }else 
            console.log('Contraseñas si coinciden')

            // MANDO A LLAMAR validaPassword() DE COMPUTED
            if(this.password == ''){
              this.text     = "No se puede omitir las contraseñas"
              this.snackbar = true; this.color ="blue"
              return

            }else{
              // ASIGNO LA NUEVA CONTRASEÑA A VARIABLE PARA GRABAR
              var md5 = require('md5');
              this.PasswordAEdit = md5(this.password)

              this.grabarDatos()
            }
        }else{
          // SI NO SE MODIFICO LA CONTRASEÑA CONSERVO LA ACTUAL
          // console.log('contraseñas actual', this.PasswordActual)
          this.PasswordAEdit = this.PasswordActual

          this.grabarDatos()
        }
      },

      grabarDatos(){

        var id =  this.getdatosUsuario.idusuariosweb

        const payload = {
            Nomuser:      this.getdatosUsuario.Nomuser,
            Email:        this.getdatosUsuario.Email,
            Nivel:        '',
            Telefono:     this.getdatosUsuario.Telefono,
            Depto:        this.getdatosUsuario.Depto,
            Password:     this.PasswordAEdit,
            Idnivel:      parseInt(this.getdatosUsuario.Idnivel),
            Numcli:       '',
            Suc:          '',
            Empresa:      '',
            Idcliente :   parseInt(this.getdatosUsuario.Idcliente),
            IdMensajeria :parseInt(this.getdatosUsuario.idmensajeria),
            estatus : "2"
        }

        console.log('payload', payload)

        this.$http.put('auth/api/v1/usuariosweb/'+ id, payload).then(function(response){
          this.snackbar = true ; this.text ="Los datos han sido actualizados "
          this.color ="green"
        })

        this.editar = !this.editar
        this.disabled = !this.disabled
        this.cambia   = true
        this.password = '' ; this.password2 = ''
      }

    },
    computed:{
      ...mapGetters('login', ['getdatosUsuario'])
    },

    created () {
    console.log('getdatosUsuario',this.getdatosUsuario) 
    this.datosMyPerfil() 

    }
  };
</script>