<template>
  <v-app id="inspire">
    <!-- CONTENIDO PRINCIPAL -->
    <v-layout row wrap>
      <v-flex xs12 v-if="visible == true">
        <v-btn color="primary" dark outline value="Print this page" onClick="window.print()" @click="show" >Imprimir Acuse <v-icon right>print</v-icon></v-btn>
        <v-btn color="primary" dark outline value="Print this page" @click="regresar">Regresar<v-icon right>print</v-icon></v-btn>
        <!-- <v-btn color="primary" dark outline value="Print this page" onClick="window.print()" @click="show" v-else-if="visible == false">Regresar</v-btn> -->
      </v-flex> 
      <v-flex xs6 v-for="(acuse, i) in folios"  v-if="i <= 3 " :key="i"  >
        <v-card  style="height: 200px; padding: 8px; margin: 1px" v-if="acuse.Numguia">
          <v-layout row wrap >
            <v-flex xs12>
              <table style="font-size: 11px; padding: 1px; margin:0px">
                <tr>
                  <td class="titulo mx-1">At:</td>
                  <td class="contenido"> {{ acuse.Nomcli }} </td> 

                  <td class="titulo mx-1">Tel:</td>
                  <td class="contenido"> {{ acuse.Tel1 }} </td>
                </tr>
                <tr>
                  <td class="titulo">Dir:</td>
                  <td > {{ acuse.Calle }}</td>

                  <td class="titulo mx-1">Cd:</td>
                  <td class="contenido"> {{ acuse.Ciudad }} </td>
                </tr>
                <tr>
                  <td class="titulo">Núm:</td>
                  <td> {{ acuse.Numext }} </td>

                  <td class="titulo mx-1">Cp:</td>
                  <td class="contenido"> {{ acuse.Cp }} </td>
                </tr>
                <tr>
                  <td class="titulo">Col:</td>
                  <td> {{ acuse.Colonia }} </td>
                </tr>
                <tr>
                  <td class="titulo">F:</td>
                  <td> {{acuse.Numcli}} </td>

                  <td class="titulo mx-1">R:</td>
                  <td class="contenido"> {{acuse.Numrem}} </td>
                </tr>
              </table>
              </v-card-text> 
            </v-flex>
          </v-layout>
          <v-card-text style="font-size: 1px;" class="pa-0" align="center">
            <barcode :value="acuse.Numguia" height ="30" width="2" fontSize="15">
              Show this if the rendering fails.
            </barcode>
          </v-card-text>

        </v-card>
      </v-flex>

    </v-layout>
  </v-app>
</template>


<script>
  import {mapActions} from 'vuex'
  import store from '@/store'
  import VueBarcode from 'vue-barcode';

export default{
  data() {
    return{
      barcodeValue: 'test',
      folios:[],
      visible: true,
    }
  },

  components: {
    'barcode': VueBarcode
  },

  created(){
    this.folios = store.state.acuses
  },

  methods:{
    ...mapActions('barras',['showBarra']),

    regresar(){
      this.showBarra(true)
      this.$router.push({name:'catremesas'})
    },

    imprimir(){
      this.visible =! this.visible
    },

    show(){
      this.visible =! this.visible
      setTimeout(this.imprimir,2000);
    }
  }
};
</script>
<style scoped>
  .vue-barcode-element{
    width: 200px !important;
  }

  rect{
    width: 200px !important;
  }

  .titulo{
    font-weight:bold;
  }

  .contenido{
    width: 60%;
   }

   #salto_pagina_despues{
 
page-break-after:always;

}
</style>
