<template>
  <v-layout row wrap align-center justify-center>
    <v-flex xs10>
      <v-card class="elevation-12">
        <v-toolbar dark color="primary">
          <!-- TITULOS DE LA VISTA -->
          <v-toolbar-title> Avisos para Mensajeros</v-toolbar-title>
        </v-toolbar>

        <v-card-text>
          <v-form>
            <v-layout row wrap justify-space-between>     
              <!-- LABELS -->
              <v-flex xs12 md6 class="my-1 py-1">
                <v-text-field
                  prepend-icon="person"
                  v-model="nomclasif"
                  label="Nombre de la Clasificacion"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-form>
        </v-card-text>

        <v-card-actions>  
          <v-layout row wrap justify-space-around>

            <v-flex xs4>
               <v-btn  block color="primary" @click="agregar"> Guardar <v-icon right>send</v-icon></v-btn>
            </v-flex>

            <v-flex xs4>
              <v-btn  block color="red" dark :to="{name: 'catclasif'}"> Cancelar <v-icon right>clear</v-icon></v-btn>
            </v-flex>
            
          </v-layout>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
