<template>
  <div id="capture">
  <v-layout row wrap>
    <v-flex xs12>
      <v-btn color="primary" dark outline @click="impracuse">Imprimir Acuse <v-icon right>print</v-icon></v-btn>
    </v-flex>
  </v-layout>
</div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'

export default{
  data() {
    return{
    }
  },


  methods:{
    ...mapActions('barras',['showBarra']),

    impracuse(){
      this.showBarra(false)
      this.$router.push({name:'acuses'})
    },

 
  }
}
</script>