<template>
<v-layout row wrap class="pa-4">
  <v-snackbar
    v-model="snakcbar"
    top
  >
    {{errores}}
    <v-btn flat color="primary" @click.native="snakcbar = false">Close</v-btn>
  </v-snackbar>
  <!-- Loader -->
  <div class="text-xs-center">
    <v-dialog
      v-model="dialog"
      hide-overlay
      persistent
      width="400"
      height="200"
    >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          Se esta procesando la remesa
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>

  <v-flex xs12>
    <v-toolbar flat color="white"> 
      <v-toolbar-title>Remesas</v-toolbar-title>
     
      <v-spacer></v-spacer>
 
      <!-- BOTON PROCESAR REMESA -->
      <v-btn  color="info" dark class="mb-2"
        :disabled="disabled"
        @click="agregar">
      <v-icon left>chrome_reader_mode</v-icon>Procesar Remesa</v-btn>

    </v-toolbar>
    <v-divider class="mx-2 my-2"></v-divider>
    
    <v-layout row wrap class="my-1">

      <!-- catalogo de clientes -->
      <v-flex xs12 sm3 md3 class="mx-1" >
        <v-select
          :items="Nombre"
          item-text="Nomcli"
          v-model="Nomcli"
          append-icon="person"
          label ="Cliente"
          persistent-hint
          disabled 
        ></v-select>
      </v-flex>  

      <!--  tIPOS DE sERVICIOS -->
      <v-flex xs12 sm3 md3 class="mx-1" >
        <v-select
          :items="Nomservicios"
          item-text="Nomserv"
          v-model="Nomserv"
          append-icon="ring_volume"
          label ="Servicios"
          persistent-hint
          disabled 
        ></v-select>
      </v-flex> 

      <v-flex xs4>
        <upload-excel-component :on-success="handleSuccess" :before-upload="beforeUpload"/>
      </v-flex>
        
      <v-flex xs12>
           
        <v-card>
          <v-card-title primary-title>
            <div>
              <h5 class="headline mb-0">Remesa :  {{ numrem }}  </h5>
              <h5 class="headline mb-0">Fecha  :  {{ fenvio }}</h5>
              <h4 class="headline mb-0">Tarjetas  :  {{ tot }}</h4>
            
            </div>
          </v-card-title>

        </v-card>
      </v-flex>
    </v-layout>
    <v-flex xs12 v-if="noSucursales.length > 0">
      <v-card >
        <v-card-title primary-title>
          <h3>Surcursales que no estan dadas de alta</h3>
        </v-card-title>
        <v-card-text class="red--text">
          <div v-for="(suc, i) in noSucursales">Número de sucursal: {{suc.sucursal}} </div>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-flex>  
</v-layout>
</template>

<script>
import UploadExcelComponent from '@/components/UploadExcel.vue'
import { mapGetters} from 'vuex'
export default {
  name: 'UploadExcel',
  components: { UploadExcelComponent }, 
  data() {
    return {
      // loader
      noSucursales:[],
      errores: '',
      snakcbar: false,

      dialog: false,

      disabled: true,
      loading: false,
      headers: [
        {
          text: 'REMESA',
          align: 'left',
          sortable: true,
          value: 'ARCHIVO'
        },

        { text: 'FOLIO', value: 'FOLIO' },
        { text: 'NOMBRE', value: 'NOMBRE' },
       
      ],

      tableData: [],
      tableHeader: [],
      remesa:{},
      tarjetas:[],
      numrem :'',
      fenvio:'',
      fvenc: '',
      tot: 0,
      concat2:'',

      // Selector Clientes
      Nomcli   :'',   // v-model
      Idcliente:'',   //Id - para grabar 
      Nombre   :[],   // Arreglo para mostrar
      clientes :[],   // Arreglo para watch

      // Selector Servicios 
      Nomserv      :'',   // v-model
      Idservicio  :'',   //Id - para grabar 
      Nomservicios :[],   // Arreglo para mostrar
      SERVICIOS    :[],   // Arreglo para watch

      Sucursales: [],
    }
  },


  computed:{
      ...mapGetters('login',['getdatosUsuario', 'getLogeado']),
  },

  created () {

    // console.log('getdatosUsuario',this.getdatosUsuario)
    var me = this
    // Busqueda de Clientes
    this.$http.get('api/v1/clientes').then(function(response){
      response.body.forEach(function(element) {
        me.Nombre.push(element.nomcli)
        me.clientes.push(element)
      })
    })

    // Busqueda de SERVICIOS
    this.$http.get('api/v1/servicios').then(function(response){
      response.body.forEach(function(element) {
        me.Nomservicios.push(element.Nomserv)
        me.SERVICIOS.push(element)

        if(element.Nomserv == 'Banregio Crédito'){
          me.Nomserv = element.Nomserv
        }

      })
    })

    // this.ValidaUsuario()
     // console.log('idcliente', this.getdatosUsuario.Idcliente)
      // console.log('idservicio', this.idservicio)
  },

  watch:{
    // SELECTOR DE CLIENTES
    Nomcli: function() {
      var me = this
      this.clientes.forEach(function(element) {
        if(me.Nomcli == element.nomcli){
            me.Idcliente = element.ID
        }
      })

    },

     // SELECTOR DE SERVICIOS
    Nomserv: function() {
      var me = this
      this.SERVICIOS.forEach(function(element) {
        if(me.Nomserv == element.Nomserv){
            me.Idservicio = element.Id
        }
      })

    },
  },

  methods: {

    // ValidaUsuario(){
    //   // Validar que el nivel sea Sait
    //   if(this.getdatosUsuario.Nivel == "SAIT"){

    //   this.Idcliente =  this.getdatosUsuario.Idcliente 
    //   this.Nomcli    =  this.getdatosUsuario.Nomcli
    //   this.disabled  = false 

    //   }else { // Si tiene un nivel diferente bloqueo selector Nomcli
        
    //     this.Idcliente =  this.getdatosUsuario.Idcliente 
    //     this.Nomcli    =  this.getdatosUsuario.Nomcli
    //     this.disabled = false
    //   }
    // },

    beforeUpload(file) {
      const isLt1M = file.size / 1024 / 1024 < 1
      if (isLt1M) {
        return true
      }
      this.$message({
        message: 'Please do not upload files larger than 1m in size.',
        type: 'warning'
      })
      return false
    },
    handleSuccess({ results, header }) {
      this.tableData = results
      this.tableHeader = header
     
      this.numrem = (this.tableData[0]['ARCHIVO'])

      if (this.numrem = '' )  { this.numrem = this.tableData[0]['REMESA'] }

      var date  = new Date();     
      var dDate = String(date.getFullYear()) + String((date.getMonth() +1)) + String(date.getDate());
      var dDate1 = String(date.getFullYear()) +'-'+ String((date.getMonth() +1)) +'-'+ String(date.getDate());
      var myDate = new Date(new Date().getTime()+(5*24*60*60*1000));
      var dDate2 = String(myDate.getFullYear()) +'-'+ String((myDate.getMonth() +1)) +'-'+ String(myDate.getDate());
      this.fenvio = dDate1
      this.fvenc  = dDate2
      this.tot = this.tableData.length
      this.concat2 = dDate
      this.ObtenerValoresExcel(results)
    },

    ObtenerValoresExcel (results){
      var me = this
      // Función para Estandarizar los datos a nombres de Keys std.
      var Datos2  =  results.map(myFunction)
     
      function myFunction(value, index, array) {
        // Campos de Banregio. FECHA ENT BCO-MSJ
        if (value['FECHA ENT BCO-MSJ'] !==undefined ) {
          value.fingreso2 = new Date( (value['FECHA ENT BCO-MSJ'] - (25567 + 2) )*86400*1000).toISOString()
          value.fingreso3 = value.fingreso2.substring(0,10)
        }   
        //https://gist.github.com/christopherscott/2782634
        //new Date((excelDate - (25567 + 2))_86400_1000)

        if (value['fecha  vencimiento'] !==undefined ) {
          value.fvence1 = value['fecha  vencimiento']
          value.fvence2 = new Date( (value['fecha  vencimiento'] - (25567 + 2) )*86400*1000).toISOString()
          value.fvence3 = value.fvence2.substring(0,10)
        } 

        if (value['CALLE Y NUM'] !=='' ) {
          value.calle = value['CALLE Y NUM']
        }

        if (value['Calle'] !=='' ) {
          value.calle = value['Calle']
        }  

        if (value['#'] !=='' ) {
          value.numext = value['#'].toString().trim()
        } 

        if (value.COLONIA !==undefined  ) {
          value.colonia = value.COLONIA.toString()
        }

        if (value.Colonia !==undefined  ) {
          value.colonia = value.Colonia.toString()
         }

        if (value.MUNICIPIO !=='' ) {
          value.ciudad = value.MUNICIPIO
         }

        if (value.CIUDAD !=='' ) {
          value.ciudad = value.CIUDAD
         }

        if (value['TELEFONO 1'] !==undefined ) {
          value.tel1 = value['TELEFONO 1'].toString()
        } else { value.tel1 = ''}

        if (value['TEL 1'] !==undefined ) {
          value.tel1 = value['TEL 1'].toString()
        } else { value.tel1 = ''}

        if (value['TELEFONO 2'] !==undefined ) {
          value.tel2 = value['TELEFONO 2'].toString()
        } else { value.tel2 = ''}

        if (value['TEL2'] !==undefined ) {
          value.tel2 = value['TEL2'].toString()
        } else { value.tel2 = ''}

        if (value['TELEFONO 3'] !==undefined ) {
          value.tel3 = value['TELEFONO 3']
        } else { value.tel3 = ''}

        if (value['TEL3'] !==undefined ) {
          value.tel3 = value['TEL3'].toString()
        } else { value.tel3 = ''}

        if (value['C. P.'] !==undefined ) {
          value.cp = value['C. P.'].toString()
        } else { value.cp = ''}



        if (value.FOLIO !=='' ) {
          value.numcli =  value.FOLIO
        }
       
        if (value.Cliente !=='' ) {
          value.numcli =  value.Cliente.toString()
        }



        if (value['ID ENVIO'] !==undefined ) {
          value.idenvio = value['ID ENVIO'].toString()
        } else { value.idenvio = ''}
        
        //// DATOS PREGUIA
        if (value.NOMBRE !=='' ) {
          value.nomcli = value.NOMBRE
        }
      
        if (value['SUCURSAL'] !==undefined ) {
          value.sucursal = value['SUCURSAL'].toString().substring(0, 19)
        } else { value.sucursal = ''}

        if (value.ARCHIVO!=='' ) {
          value.numrem = value.ARCHIVO
        }
        // Numrem  Banregio
        if (value.REMESA !=='' ) {
          value.numrem = value.REMESA
        }
       
        if (value.ESTADO !=='' ) {
          value.estado = value.ESTADO
        }

        if (value.Entidad !=='' ) {
          value.estado = value.Entidad
        }

        if (value.email !== "" ) {
          value.email = value.email
        }else{  value.email = '' }

        if (value['COD BARRAS2'] !==undefined ) {
          value.codigo = value['COD BARRAS2'].toString()
        } else { value.codigo = "No identificado" }

        if (value['TIPO DE T'] !==undefined ) {
          value.tipotarjeta = value['TIPO DE T'].toString()
        } else { value.tipotarjeta = "No identificado" }
        
        //iD DE sUC BanRegio
        if (value['idsucbr'] !== undefined ) {
          if(value['idsucbr'] != ""){
            value.idsucbr = value['idsucbr'].toString().substring(0, 9)
          }else{
            value.idsucbr = "DEFAULT"
          }
          
        } else { value.idsucbr = "DEFAULT" }

        // Tipo Entrega en BanRegio
        if (value['TipoEnt'] !==undefined ) {
          value.tipoent = value['TipoEnt'].toString()
        } else { 
          me.errores = 'No se puede procesar el documento, verifica que las tarjetas cuenten con tipo de entrada'
          me.snakcbar = true
          return
        }
        value.tipotarjeta= "No identificado"
        value.lugarenvio = "No identificado"

        return value 
      }
      // console.log(Datos2)
      this.tableData = Datos2
      var me = this
      // console.log ('Cargo todo',this.tableData)
      // setTimeout(function(){
      //   me.validaIdSucBr()
      // },300)
      this.validaIdSucBr()
      //Actualizar numrem
      this.numrem = Datos2[0].numrem   
    },

    // Se valida si la sucursal cargada exite
    validaIdSucBr(){
      if(this.errores !=''){
        return
      }
      //habilitamos el boton de procesar remesa
      this.disabled = false
      const payload = { Idcliente  : parseInt(this.getdatosUsuario.Idcliente) }

      this.$http.post('api/v1/sucursalesxcli', payload).then(response =>{
        this.Sucursales = response.body 
        this.AsignarSuc()
      }).catch(error =>{ console.log(error) })
    },

    AsignarSuc(){
      this.noSucursale = []
      var Suc = false
      // Ciclo en el arreglo de que se formo de la carga de excel
      for (var i = this.tableData.length - 1; i >= 0; i--) {
        Suc = false
        // Se busca idsucbr en la consulta de sucursales
        for (var x = this.Sucursales.length - 1; x >= 0; x--) {

          // Si se encuentra la sucursal se cambia Suc a true para el cambio de valor
          if( this.tableData[i].idsucbr == this.Sucursales[x].numsuc) { 
            console.log('son iguales',this.tableData[i].idsucbr, this.Sucursales[x].numsuc )
            Suc = true 
          }

        }
        // Si el valor de Suc es false se cambia el valor a default
        console.log(Suc)
        if(Suc == false){
          console.log('no concuerda', this.tableData[i].idsucbr)
          this.noSucursales.push({sucursal: this.tableData[i].idsucbr})
          this.tableData[i].idsucbr = "DEFAULT"
        }
      }

      if(this.noSucursales.length > 0){
        this.errores = 'No se puede procesar el docuemento, Necesitas dar de alta las sucursales'
        this.disabled = true
        return
      }


      console.log(this.noSucursales)
    },

    agregar(){
      //loader 
      this.dialog   = true
      this.disebled = true
      this.loading  = true

      //Preparar Remesa
      var remesa =    {
        "numrem"    : this.numrem,
        "fingreso"  : this.fenvio,
        "fvenc"     : this.fvenc,
        "fenvio"    : this.fenvio,
        "status"    : 0, 
        "na"        : this.tot,
        "asig"      : 0,
        "di"        : 0,
        "dr"        : 0,
        "tot"       : this.tot,
        "numuser"   : parseInt(this.getdatosUsuario.idusuariosweb),
        "idcliente" : parseInt(this.getdatosUsuario.Idcliente),
        "idservicio": 21,
        "concat2"   : this.concat2, 
        "tarjetas"  : this.tableData 
      }

      // GRABAR REMESA Y TARJETAS
      this.$http.post('api/v1/remesas', remesa).then(respuesta => {
        return respuesta.data

      }).then(data => { 
        // console.log (parseInt(data[0].ID))  
        
        //mandar grabar
        this.$http.post('api/v1/getcantxestado', {idremesa : parseInt(data[0].ID)})
          .then(respuesta => {
           // console.log('Remesas por estados', respuesta.bodyText)
          })

        this.loading = false
        this.$router.push({name:'tarjsinsuc', params: {id: this.numrem }})
      })
      
      .catch(err => {
        if (err.status==401){
              this.error="No es un email válido";
          } else if (err.status==404 || err.status== 403 ){
              this.error="No existe el usuario o sus datos son incorrectos";
          }else if (err.status== 500){  
              this.error="Ocurrió un error";
          }
      })
      

      // CONSULTAR REMXPLAZA de tabla de tarjetas Y mandar Procesar.

    },
  }
}
</script>