<template>
	<v-layout row wrap class="mx-4">

		<!-- SNACK BAR ASUL -->
		<v-flex xs12>
			<v-snackbar v-model="snackbar" :timeout="2000" top :color="color"> {{text}}
	   		<v-btn color="white" flat @click="snackbar = false" > Close </v-btn>
    	</v-snackbar>
		 
		 	<v-layout row wrap>
		 	  <v-flex xs6 sm3 class="pa-3">
		 	    <h2>VALIDAR REMESA</h2>
		 	  </v-flex>
				<v-flex xs1 sm5>
				  
				</v-flex>
				<v-flex xs5 sm4 class="pa-2" >
				 	<v-btn @click ="ProcesarRemesa" small color="info">Procesar Remesa </v-btn>
				</v-flex>
		 	</v-layout>
	  	<!-- <v-card-text> -->
	  		 

<!-- 		  	<v-layout row wrap>
					<v-btn @click ="downloadWithCSS" color="success">Imprimir </v-btn>
					
					<v-card-text   style="font-size: 10px;">
            Remesa: {{ Numrem }} 
            Nombre: "Manuel Guiterrez"<br/>
          
          	<div ref= "content" >
		           <barcode   :value="cGuia" width= 1 height=25 :text="cGuia" fontSize="8">
		              Barcode no encontrado.
		           </barcode>
          	</div>
          </v-card-text>
				</v-layout>
 -->
	  	<!-- </v-card-text> -->
		  	  
		  	<v-layout row wrap>
		  	  <v-flex xs12 sm3 md3 class="mt-1 ma-1">
			      <v-select
			        :items="Remesas"
			        label="Remesas por Validar"
			        item-text="Numrem"
			        v-model="Numrem"
			        class="text-xs-center"
			        append-icon="email"
			        sinlge-lin hide-details 
			        outline
			      ></v-select>
			    </v-flex>
		  	  
			    <v-flex xs12 sm3 md3 class="mt-1 ma-1 ">
			      <v-select
			        :items="Plazas"
			        label="Seleccionar Plaza"
			        item-text="Nomplaza"
			        v-model="Nomplaza"
			        class="text-xs-center"
			        append-icon="home"
			        sinlge-lin hide-details 
			        outline
			        small
			      ></v-select>
			    </v-flex>

			    <v-flex xs8 sm3 md3 class="mt-1 ma-1">
	          <v-select
	            :items="Mensajerias"
	            label="Seleccionar Mensajeria"
	            item-text="Nommensajeria"
	            v-model="Nommensajeria"
	            class="text-xs-center"
	            append-icon="email"
	            sinlge-lin hide-details 
			        outline

	          ></v-select>
	        </v-flex>
			
			    <v-flex xs3 md2 lg2 class="ma-1 pa-2 ">
			      <v-btn small color="primary" @click="BuscarGuias">Buscar </v-btn>
				    </v-flex>
						<v-flex xs1 class="my-2"></v-flex>
						<v-flex xs12  class="mx-1 my-1" v-if="Guias != ''">
			  			<span >Ingresé el número de Guía</span>	
		  		</v-flex>

				  <v-flex xs8 sm4  md5 lg3 class="mx-1" v-if="Guias != ''"> 
				      <v-text-field
			        append-icon="credit_card"
			        v-model="numcli"
			        label="Número de Guía"
			        outline
			        type="input"
							v-on:keyup.enter="validarGuia"
							:disabled = "Terminar"
			      ></v-text-field>
			    </v-flex>
				
			    <v-flex xs3 md2 lg2 class="ma-1 pa-2 " v-if="Guias != ''">
			      <v-btn small color="primary" :disabled = "Terminar" @click="ValidarEstatus">Validar</v-btn>
			    </v-flex>
			      
			    <v-layout ro wrap >
		    		<v-flex xs5 sm3 md4 lg2 class="mx-1 pa-2 ma-1" 
		    			v-if="Guias != '' && Terminar == false" >

				      <v-btn small block color="blue" dark @click="terminar">TERMINAR</v-btn>
				    </v-flex>
				    <v-flex xs5 sm3 md4 lg2 class="mx-1 pa-2 ma-1" v-if="Terminar == true">
				      <v-btn  small block color="error" dark @click="terminar">Cancelar</v-btn>
				    </v-flex>

				    <v-flex  xs6 sm6 md6  lg4 class="mx-1 pa-2 ma-1" v-if="Terminar == true">
				      <v-btn  small block color="success" @click="ProcesarFaltantes">Procesar Faltantes</v-btn>

				    </v-flex>
			    </v-layout>
					
		 	  </v-layout>

			<v-divider v-if="Guias != ''" ></v-divider>
					
			<v-card-actions class="contenedor">
				<v-layout row wrap>
					
					<v-flex xs12 sm11>
						<v-alert
				      :value="alerta"
				      type="info"
				      transition="scale-transition"
				      icon="new_releases"
				    >
				      No se encontraron códigos por validar en esta Remesa
				    </v-alert>
					</v-flex>

					<v-flex xs12 sm6 md4 v-if ="CodigosValidados != '' "> 
						<v-card flat class="my-2 mx-1 elevation-3" color="success" dark>
						  <h3 class="titulo"> Códigos Validados </h3>
						</v-card>
							<!-- Ciclo para agrgar codigos -->
					    <v-card class="validados mx-1 elevation-3" v-for="(CodVal, i) in CodigosValidados" :key ="i" >
						   	<h3>{{CodVal.numcli}}</h3>
						</v-card>
					</v-flex>

					<v-flex xs12 sm6 md4 v-if ="Guias != ''"> 
						<v-card flat class="my-2 mx-1 elevation-3" color="primary" dark>
							<h3> <span >{{ Titulo }}</span>  </h3>
						</v-card>

						<!-- Ciclo para agrgar codigos -->
				    <v-card class="numcli mx-1 elevation-3" v-for="(Numrem, i) in Guias" :key ="i" >
					   	<h3>{{Numrem.numcli}}</h3>
					  </v-card>
					</v-flex>
				  
					<v-flex xs12 sm6 md4 v-if ="Correctas != '' "> 
						<v-card flat class="my-2 mx-1 elevation-3" color="primary" dark>
						  <h3 class="titulo"> Correctas </h3>
						</v-card> 

						<!-- Ciclo para agregar OK -->
					  <v-card class=" numcli mx-1 elevation-3" v-for="(ok, i) in Correctas" :key="i">
					   	 <h3>{{ok.numcli}}</h3>
					  </v-card>
					</v-flex>

					<v-flex xs12 sm6 md4 v-if ="Sobrantes != ''"> 
						<v-card flat class="my-2 mx-1 elevation-3" color="primary" dark>
							<h3 class="titulo"> Sobrantes </h3>
						</v-card> 

							<!-- Ciclo para agregar sobrantes -->
					   <v-card class="numcli mx-1 elevation-3" v-for="(sob, i) in Sobrantes" :key="i">
						   	<h3>{{sob.numcli}}</h3>
						 </v-card>
					</v-flex>
									
				</v-layout>
			</v-card-actions>

		</v-flex>
	</v-layout>
</template>

<script> 
import {mapGetters} from 'vuex'
import jsPDF from 'jspdf'
import VueBarcode from 'vue-barcode';
import html2canvas from 'html2canvas'

//import AutoTable from 'jspdf-autotable'
  export default {

    data(){
      return{

      	//VARIABLES
      	numcli        :'',
      	Numrem        :'',
      	Nomplaza      :'',
      	Nommensajeria :'',
      	fechaActual 	:'',
      	Titulo        :'Códigos Por Validar',
      	Cantidad      :0 ,

      	// SELECTOR REMESAS
      	Remesas  :[],
      	Idremesa : '',
      	NumRemesa:[],

      	// SELECTOR PLAZAS
      	Plazas    :[],
      	idplaza   :'',
      	NumPlazas :[],

      	// SELECTOR DE MENSAJERIA
      	Mensajerias  :[],
        IdMensajeria :'',
        Nummensajeria:[],
      
      	// ARREGLOS PARA TABLAS
      	Correctas:[], 
      	Sobrantes:[],
      	TempGuias:[],
      	Guias    :[],
      	CodigosValidados:[] ,

      	//IMPRIMIR ACUSE
      	cGuia : '',
      	
      	// SNACKBAR
      	text     :'',
      	snackbar :false,
      	color    :'',
      	alerta   : false,

      	// BOTON TERMINAR
      	Terminar: false,

      }
    },

		components: {
		    'barcode': VueBarcode
	  },

    created(){
    	//Consulta de Remesas en Proces
     // const formData = {status: 0, Idcliente :2}
      
      var me = this
      this.$http.get('api/v1/remxvalidar').then(function(response){
          response.body.forEach(function(element) {
          me.Remesas.push(element.Numrem)
          me.NumRemesa.push(element)
        })
      })

      // Consulta de Plazas 
      this.$http.get('api/v1/plazas').then(function(response){
          response.body.forEach(function(elemento) {
          me.Plazas.push(elemento.Nomplaza)
          me.NumPlazas.push(elemento)

        })
      })

      // Consulta de Mensajerias 
      this.$http.get('api/v1/mensajeria').then(function(response){
          response.body.forEach(function(elemento) {
          me.Mensajerias.push(elemento.Nommensajeria)
          me.Nummensajeria.push(elemento)
        })
      })

      // Conseguir Fecha actual
      var fecha = new Date(); 
			  var mes 	= fecha.getMonth()+1; 
			  var dia 	= fecha.getDate(); 
			  var ano 	= fecha.getFullYear(); 

		  if(dia<10)
		    dia='0'+dia; //agrega cero si el menor de 10
		  if(mes<10)
		    mes='0'+mes
		  // fecha actual
		  this.fechaActual = ano + mes + dia
		  this.Fecha_captura= ano + "-" + mes +"-" + dia
		  this.fguia = mes + dia
    },

    watch:{

    	// Funciones para actualizar Id's(Numrem,Nomplaza,Nommensajeria)
      Numrem: function() {
        var me = this  
        this.NumRemesa.forEach(function(element) {
          if(me.Numrem  == element.Numrem){
              me.Idremesa = element.ID
          }
        })
      },

      Nomplaza: function() {
        var me = this  
        console.log('NumPlazas',this.NumPlazas)
        this.NumPlazas.forEach(function(elemento) {
          if(me.Nomplaza == elemento.Nomplaza){
              me.idplaza 			 = elemento.ID
              me.Nommensajeria = elemento.nommensajeria
              me.IdMensajeria  = elemento.Idmensajeria
          }
        })
      },

      Nommensajeria: function() {
        var me = this  
        this.Nummensajeria.forEach(function(elemento) {
          if(me.Nommensajeria == elemento.Nommensajeria){
              me.IdMensajeria = elemento.Id
          }
        })
      }
    },

    computed:{
  	 	...mapGetters('login',['getdatosUsuario']),
    	validaInfo(){
        return  this.Numrem         !==  '' &&       
                this.Nomplaza       !==  '' &&
                this.Nommensajeria  !==  '' 
      }
   },

    methods:{

    	// Consulta principal "BOTON DE BUSCAR"
    	BuscarGuias(){

    		if(!this.validaInfo){
      		this.snackbar = true ; this.color="blue"; this.text = "Faltan campos por agregar"
         return
      	}

    		// REGRESAR VISTA PRINCIPAL
    		this.Guias = [] ; this.Correctas = [] ; this.Sobrantes=[] ; this.CodigosValidados=[]
    		this.Terminar= false
    		
    		var me = this
    		this.alerta = false
    
    		const formData ={
    			Numrem      : this.Numrem,
    			Idremesa    : parseInt(this.Idremesa),
    			idplaza     : parseInt(this.idplaza), 
    			IdMensajeria: parseInt(this.IdMensajeria),
    			Estado 		  : this.Nomplaza
    		}

    		// console.log('formData', formData)

    		this.$http.post('api/v1/busvalidaremxplaza', formData).then(function(response){
    			// console.log('respuesta',response.body)
    			
    			if(response.body == 'null'){
    				this.alerta = true 
    			}else{
    			// Agrego la respuesta a una variable temporal
    			this.TempGuias = response.body
    			this.Cantidad  = response.body.length
    			// Mando a llamar la funcionPush para meterlo al arreglo que mostrare
    			this.PushGuias()
    			}
    			
    		}).catch(function(response){

    		})
    	},

    	PushGuias(){
    		// creo un ciclo para agregar guias al arreglo que mostrare
    		for (var i = 0; i < this.TempGuias.length; i++) {

    			// Solo se insertan los codigos con estauts 0
    			if(this.TempGuias[i].Estatus == "0"){
    				this.Guias.push(this.TempGuias[i])
    			}else{
    				this.CodigosValidados.push(this.TempGuias[i])
    			}
    		}
    	},

    	// Se manda llamar al validar 
    	ValidarEstatus(){
    		var me = this
    		var id = this.numcli 

    		if(id == ''){
    			this.text ="No ha ingresado ninguna guía"; this.color = "blue"; this.snackbar="true"
    			return
    		}

    		var encontro = false
    		for (var i = 0; i < this.TempGuias.length; i++) {
    			 if(me.numcli  ==  this.TempGuias[i].numcli){
    			 		
    			 		if(this.TempGuias[i].Estatus == "1"){
    			 			this.snackbar = true ; this.color = "blue"; this.text = "Ya se valido esta guía"
    			 			encontro = true 
    			 			this.numcli = ''
    			 			i= this.TempGuias.length + 10
    			 		}
    			 }else{
    			 	encontro = false
    			 }
    		}

    		if(encontro === false){

    			this.validarGuia()
    		}
    	},

    	validarGuia(){
    		var me = this
    		// indice = "posicion del elemento que eliminare"
    		var indice = 0
    		// encontro = "variable que condicionara si pasa al siguiente proceso"
    		var encontro = false

	      for (var i = 0; i < this.Guias.length; i++) {
	        if(me.numcli  ==  this.Guias[i].numcli){
	        	// Creando Numero de Guia
	        	//var Numguia = this.fechaActual + this.Guias[i].Id 
				var Numguia =    this.Idremesa +this.Guias[i].Id + this.fguia 
				this.cGuia= Numguia

	        	const  formData = {
	        		Id           : this.Guias[i].Id,
	        		Numguia      : Numguia,
	        		Numrem       : this.Numrem,
		    			Idremesa     : parseInt(this.Idremesa),
		    			Idplaza      : parseInt(this.idplaza), 
		    			Idmensajeria : parseInt(this.IdMensajeria),
		    			Estado 		   : this.Nomplaza,
		    			Fecha_captura: this.Fecha_captura,
		    			Estatus      : 1,
		    			Nomestatus   : "Pendiente"
	        	} 

	        	 // console.log('formData', formData)

	        	this.$http.put('api/v1/correctas', formData).then(function(response){
	        		this.snackbar = true ; this.color = "success"; this.text = "Se valido correctamente"
	        		// MANDO A IMPRIMIR
		  				//me.imprimirGuia(formData)
		  				// me.downloadWithCSS()
		    		}).catch(function(error){
		    			console.log(error)
		    		})

	        	// inserto en el arreglo de Correctas
	  				me.Correctas.push({numcli: me.numcli})
	  				// elimino del arreglo de Guias
	  				me.Guias.splice(indice,1)
	  				
	  				encontro = true 
	  				this.numcli = ''
	  				i = this.Guias.length + 10

	        }else{
	        	// Aumento el valor de la posicion
	        	indice++
	        	encontro = false
	        }
	      }
	      
	      if(encontro === false){
	      	this.bucarCorrectas()
	      }
    	},

    	bucarCorrectas(){

				var me = this 
				var encontro = false

				if(this.Correctas.length > 0){
	      	for (var i = 0; i < this.Correctas.length; i++) {
	      		
	        	if(me.numcli  == this.Correctas[i].numcli){
	        			// Si encuentro la guia en correctas mando mensaje
	        			me.snackbar = true ; me.color = "blue"; me.text = "Ya se valido esta guía"
	        			encontro = true 
	  						this.numcli = ''

	  						// aumento el valor de i para parar el ciclo
	  						i = this.Correctas.length + 10
	        	}else{
	        			encontro = false
	        	}
	      	}
	    		// Validar si encontro el elemento 
	  			if(encontro === false){	
	    			this.busSobrantes()	
	    		}

      	}else{
      		// Si el arreglo esta vacio voy directo a Sobrantes
      		this.busSobrantes()	
      	}
	    },

	    busSobrantes(){
	      	var me = this
    			var encontro = false 

	      	if(this.Sobrantes.length > 0){
						for (var i = 0; i < this.Sobrantes.length; i++) {
	        		if(me.numcli  ==  this.Sobrantes[i].numcli){
	        			me.snackbar = true ; me.color = "blue"; me.text = "Ya se valido esta guía"
	        			encontro = true
	  						this.numcli = ''
	  						i = this.Sobrantes.length + 10
	        		}else{
	        			encontro = false
	        		}
						}
						// Solo inserto si no encontre numcli en el arreglo		   
	      		if(encontro === false){
	      			// Hacer el post de diferencias
	        		this.PostSobrantes(me.numcli)

	      			me.Sobrantes.push({numcli: me.numcli})
	    				this.numcli = ''
	      		}

	      	}else{

	      		// Si el arreglo esta vacio solo inserto
	        	this.PostSobrantes(this.numcli)
	  				this.Sobrantes.push({numcli: me.numcli})
	  				this.numcli = ''
	      	}
	    },

	    PostSobrantes(item){

	    	var Numcli = item
	    	const  formData = {
	    					Numcli      : Numcli,
		        		Numrem      : this.Numrem,
			    			Idremesa    : parseInt(this.Idremesa),
			    			Idplaza     : parseInt(this.idplaza), 
			    			IdMensajeria: parseInt(this.IdMensajeria),
			    			Estado 		  : this.Nomplaza,	
			    			Tipo        : "S"
	      } 
        	this.$http.post('api/v1/sobrantes', formData).then(function(response){
       		this.snackbar = true ; this.color = "success"; this.text = "Se agrego a sobrantes"
    		}).catch(function(error){
    			console.log(error)
    		})
	    },

    	terminar(){

    		if(this.Terminar == false){
    			this.Terminar = true
    			this.Titulo = "Faltantes"

    		}else{
    			this.Terminar = false
    			this.Titulo = "Codigos por Validar"
    		}
    	},

    	ProcesarFaltantes(){
    		const formData = []

    		for (var i = 0; i < this.Guias.length; i++) {
    			formData.push( { Numrem       : this.Numrem ,
    										   Idremesa     : parseInt(this.Idremesa), 
    										   Idplaza      : parseInt(this.idplaza),  
    										   Idmensajeria : parseInt(this.IdMensajeria),
    										   Numcli       : this.Guias[i].numcli,
    											 Idtarjeta   : parseInt(this.Guias[i].Id),
    											 Tipo         : "F",
    										})
    		}

    		// console.log('formData Faltantes',formData)
    		
    		this.$http.post('api/v1/faltantes', formData).then(function(response){
    			this.snackbar = true; this.color = "green accent-4"; this.text = "Faltantes Procesadas Correctamente"

    		}).catch(function(error){
    			console.log('err',error)
    		})    		
    		// this.EnviarCorreo()
    	},

    	ProcesarRemesa (){
    		const payload = { Id: parseInt(this.Idremesa) , status : 1 }

		  	this.$http.put('api/v1/procesarem', payload).then(function(response){
	      		this.snackbar = true ; this.color = "success"; this.text = "La remesa a entrado a proceso"
	      		this.$router.push({name: 'catremesas' })
	    		})
		  	.catch(function(error){
	    			console.log(error)
	    		})
    	},

    	EnviarCorreo(){

    		var email  = "edgar.tamez.md3@gmail.com"
    		var asunto = "prueba de correo al validar"
    		var cuerpo = "La remesa se a validado"
				
				this.$http.post('api/v1/correos',{
					to:      email,      //Para quien 
					subject: asunto, // Asunto
					cuerpo:  cuerpo   // Mensaje

				}).then(function(response){
          if(response.status == 200){
          	this.color = 'success'
          	this.snackbar = true
          	this.msj = 'El correo sa ha enviado con exito'
          	this.to=''
          	this.subject=''
          	this.cuerpo=''
          }else{
          	this.color = 'red'
          	this.snackbar = true
          	this.msj = 'Falla al enviar el correo'
          	this.to=''
          	this.subject=''
          	this.cuerpo=''
          }
        })
		  },

 		}

   };
</script>

<style scoped>
	.numcli:hover {
		background-color: #E65100 ; 
		color: #fff;
	}

	.validados:hover{
		background-color: #00C853;
		color: #fff;
	}

	h3{
		text-align: center;
	}
</style>




		      	// ProcesarRemesa (){
    	// 	const payload = { Id: parseInt(this.Idremesa) , status : 1 }
		  	// this.$http.put('api/v1/procesarem', payload).then(function(response){
	    //   		this.snackbar = true ; this.color = "success"; this.text = "La remesa a entrado a proceso"
	    //   		this.$router.push({name: 'catremesas' })
	    // 		})
		  	// .catch(function(error){
	    // 			console.log(error)
	    // 		})
    	// },

    	    // 	downloadWithCSS() {
		  //   const doc = new jsPDF('p', 'pt');
			
			 //    doc.setFontSize(8);
    //     	doc.text("Guia", 10,10)
    //     	doc.text(this.cGuia, 10,25)
    //       doc.line(10, 30, 60, 30); // horizontal line 

			 //   	/** WITH CSS */
			 //   	var canvasElement = document.createElement('canvas');
			 //    html2canvas(this.$refs.content, { canvas: canvasElement 
			 //      }).then(function (canvas) {
			 //    const img = canvas.toDataURL("image/png");
			 //    doc.addImage(img,'JPEG',10,40);
			 //    doc.save("acuse.pdf");
			 //   // doc.autoPrint()
			 //  });
		  // },

    // 	imprimirGuia(oImprime){
    // 		// Only pt supported (not mm or in)
    //     const doc = new jsPDF('p', 'pt');
    //     var canvasElement = document.createElement('canvas')

    //     html2canvas(this.$refs.content, {canvas: canvasElement})
    //     	.then (function (canvas) {
    //     	const img = canvas.toDataURL("image/png")
    //     	doc.addImage(img,'JPEG', 5, 5)
    //     	doc.save("Prueba.pdf")
   	// 		  doc.autoPrint()
    //     })	
    //     	// DDIRECTO. 
    //     const contentHtml   = this.$refs.content.innerHTML;
    //     console.log(contentHtml)
    //     doc.fromHTML(contentHtml, 40 ,15 , {witth: 170})
		  //   doc.save("ejemplo.pdf")
    //   	doc.setFontSize(8);
    //   	doc.text("Imprimiendo Guias", 10,10)
    //   	doc.text("20293829292", 10,25)
    //     doc.line(10, 30, 60, 30); // horizontal line 
				// doc.autoPrint()
    //    	doc.save('guia.pdf')
    // 	},