<template>
	<v-layout row wrap>
		<v-snackbar
		  v-model="snackbar"
		  :color="color"
		  top
		  >
		  {{msj}}
		  <v-btn flat  @click.native="value = false">Close</v-btn>
		</v-snackbar>
	  <v-flex xs12>
	    <v-card>
	      <v-card-title primary-title>
	        <h3>Envío de correos</h3>
	      </v-card-title>
	      <v-card-text>
	        <v-text-field
	          v-model="to"
	          label="Ingresa tu correo"
	        ></v-text-field>
	        <v-text-field
	          v-model="subject"
	          label="Asunto"
	        ></v-text-field>
	        <v-textarea
	          outline
	          v-model="cuerpo"
	          label="Agrea un mensaje"
	          >
	        </v-textarea>
	      </v-card-text>
	      <v-card-actions>
	        <v-btn color="primary" @click="enviar">Send<v-icon right>send</v-icon></v-btn>
	      </v-card-actions>

	      <!-- BOTON DE ENVIAR TEMPLATE -->
	      <v-card-actions>
	        <v-btn color="secondary" @click="enviarTemplate">Enviar Template<v-icon right>send</v-icon></v-btn>
	      </v-card-actions>
	      
	      <!-- BOTON DE Activar Cuenta -->
	      <v-card-actions>
	        <v-btn color="blue" dark @click="ActivarCuenta">Activar Cuenta<v-icon right>person</v-icon></v-btn>
	      </v-card-actions>
	      


	    </v-card>
	  </v-flex>
	</v-layout>
</template>
<script>
	export default{
		data(){
			return{
				snackbar: false,
				to:'',
				cuerpo:'',
				subject:'',
				color:'',
				msj:'',
			}
		},

		methods:{
			
			enviar(){
				this.$http.post('api/v1/correos',{
					to:      this.to,
					subject: this.subject,
					cuerpo:  this.cuerpo
				}).then(function(response){
          if(response.status == 200){
          	this.color = 'success'
          	this.snackbar = true
          	this.msj = 'El correo sa ha enviado con exito'
          	this.to=''
          	this.subject=''
          	this.cuerpo=''
          }else{
          	this.color = 'red'
          	this.snackbar = true
          	this.msj = 'Falla al enviar el correo'
          	this.to=''
          	this.subject=''
          	this.cuerpo=''
          }
        })
		  },
		 
			enviarTemplate(){
				console.log("ruta " + "api/v1/sendcorreo" )
				this.$http.post('api/v1/sendcorreo',{
					to:      this.to,
					subject: this.subject,
					cuerpo:  this.cuerpo
				}).then(function(response){
          if(response.status == 200){
          	this.color = 'success'
          	this.snackbar = true
          	this.msj = 'El correo sa ha enviado con exito'
          	this.to=''
          	this.subject=''
          	this.cuerpo=''
          }else{
          	this.color = 'red'
          	this.snackbar = true
          	this.msj = 'Falla al enviar el correo'
          	this.to=''
          	this.subject=''
          	this.cuerpo=''
          }
        })
		  },
		  
			ActivarCuenta(){
				console.log("ruta " + "api/v1/activarcuenta" )
				this.$http.post('api/v1/activarcuenta',{
					to:      this.to,
					subject: this.subject,
					cuerpo:  this.cuerpo
				}).then(function(response){
          if(response.status == 200){
          	this.color = 'success'
          	this.snackbar = true
          	this.msj = 'El correo sa ha enviado con exito'
          	this.to=''
          	this.subject=''
          	this.cuerpo=''
          }else{
          	this.color = 'red'
          	this.snackbar = true
          	this.msj = 'Falla al enviar el correo'
          	this.to=''
          	this.subject=''
          	this.cuerpo=''
          }
        })
		  },
		  

	  }

	}
</script>