<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-card>
      	<v-card-title primary-title>
      	  <h3>Subir imagen</h3>
      	</v-card-title>
      	<v-card-text>
      	  <img :src="imageUrl" height="150" v-if="imageUrl"/>
					<v-text-field label="Select Image" @click='pickFile' v-model='imageName' prepend-icon='attach_file'></v-text-field>
					<input
						type="file"
						style="display: none"
						ref="image"
						accept="image/*"
						@change="onFilePicked"
					>
      	</v-card-text>
      	<v-card-text>
	        <v-btn color="primary" @click="enviar">Send<v-icon right>send</v-icon></v-btn>
      	</v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</div>
</template>
<script>
	export default{
		data(){
			return{
				snackbar: false,
				title: "Image Upload",
        dialog: false,
				imageName: '',
				imageUrl: '',
				imageFile: '',
		  }
	  },

		 methods: {
      pickFile () {
          this.$refs.image.click ()
      },
		
			onFilePicked (e) {
				const files = e.target.files
				if(files[0] !== undefined) {
					this.imageName = files[0].name
					if(this.imageName.lastIndexOf('.') <= 0) {
						return
					}
					const fr = new FileReader ()
					fr.readAsDataURL(files[0])
					fr.addEventListener('load', () => {
						this.imageUrl = fr.result
						this.imageFile = files[0] // this is an image file that can be sent to server...
					})
				} else {
					this.imageName = ''
					this.imageFile = ''
					this.imageUrl = ''
				}
			},

			enviar(){
				let formData = new FormData();
				//Prepara objeto a enviar
				formData.append('file', this.imageFile);

				this.$http.post('api/v1/imagen',formData,{ headers: {'Content-Type': 'multipart/form-data'}}).then(function(response){
          console.log(response)
        })
			}
    }

	}
</script>