<template>
  <v-layout row wrap justify-center class="pa-3">
    <v-flex xs12 sm10>

      <v-snackbar
        v-model="snackbar"
        :timeout="4000"
        top
        color="blue" 
        >
        {{text}}
        <v-btn
          color="white"
          flat
          @click="snackbar = false"
        >
          Cerrar
        </v-btn>
      </v-snackbar>

      <v-layout row wrap>
          
        <v-flex xs12 sm3  class="mx-2">
         <h2>Usuarios</h2>  
        </v-flex> 

        <!-- BUSQUEDA -->
        <v-flex xs12 sm5 md4 class="mx-1" text-xs-center>
          <v-text-field
          class="text-xs-center" v-model="search" append-icon="search" label="Búsqueda de Usuarios" sinlge-lin hide-details
          sinlge-lin hide-details
          ></v-text-field>
        </v-flex>
      </v-layout>

      <v-layout row wrap class="mt-1">
      
        <v-flex xs12 sm5 md3 class="mx-1">
          <v-select
            :items="Cliente"
            item-text="Nomcli"
            v-model="Nomcli"
            append-icon="person"
            label ="Cliente"
            persistent-hint
            :disabled ="disabled"
          ></v-select>
        </v-flex>

        <v-flex xs12 sm5 md3 text-xs-center class="">
          <v-select
            :items="mensaje"
            label="Mensajeria"
            item-text="mensajería"
            v-model="mensajeria"
            class="text-xs-center"
            append-icon="email"
            sinlge-lin hide-details 
            :disabled="disabled"
          ></v-select>
        </v-flex>

        <!-- BOTON NUEVO VENDEDOR -->
        <v-flex xs8 sm6 md4>
          <v-btn  color="primary" sinlge-lin hide-details dark class="mb-2" :to="{name: 'newusuario'}" >Nuevo Usuario</v-btn>
          <v-btn  icon color="blue" dark @click="consultarAll" v-if ="acceso == true "><v-icon>autorenew</v-icon></v-btn>
        </v-flex>


        <v-flex xs1 >
            <div><ExpExcelUsuarios/></div> 
        </v-flex>
      </v-layout>

      <template >
        <v-progress-linear height="4" :indeterminate="true" v-if="Usuarios == '' && alerta== false"></v-progress-linear>
      </template>

      <v-data-table
        hide-actions
        :headers="headers"
        :items="Usuarios"
        :search="search"
        :pagination.sync="pagination"
        class="elevation-1 "
        v-if ="Usuarios != '' "
      >
        <template slot="items" slot-scope="props">
           <td class="text-xs-left" v-on:dblclick="edit(props.item.idusuariosweb)">{{ props.item.idusuariosweb }}</td>
          <td class="text-xs-left"  v-on:dblclick="edit(props.item.idusuariosweb)">{{ props.item.Nomuser }}</td>
          <td class="text-xs-left"  v-on:dblclick="edit(props.item.idusuariosweb)">{{ props.item.Nomcli }}</td>
          <td class="text-xs-left"  v-on:dblclick="edit(props.item.idusuariosweb)">{{ props.item.nommensajeria }}</td>
          <td class="text-xs-left"  v-on:dblclick="edit(props.item.idusuariosweb)">{{ props.item.Nivel }}</td>
          <td class="text-xs-left"  v-on:dblclick="edit(props.item.idusuariosweb)">{{ props.item.Email }}</td>
        </template>
          
      </v-data-table>

         <!-- Botón que aparecera en caso de no ser generada la infomación -->
        <template  v-if ="Usuarios == '' && alerta == true ">
          <v-alert :value="true" color="blue" icon="warning">
            Está mensajería no tiene usuarios. 
          </v-alert>
        </template>
        <!-- Paginación -->
      <div class="text-xs-center" v-if="Usuarios != '' ">
        <v-pagination
          v-model="pagination.page"
          :length="pages"
          :total-visible="5"
        ></v-pagination>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
  import jsPDF from 'jspdf'
  import AutoTable from 'jspdf-autotable'
  import ExpExcelUsuarios from '@/views/usuarios/ExpExcelUsuarios'
  import {mapGetters, mapActions} from 'vuex'

  export default {
    components:{
      ExpExcelUsuarios
    },
    data(){
      return{
        search: '',
        pagination: {},
        elected: [],
        dialog: false,

        acceso: false,
        alerta: false,

        snackbar: false,
        text    : '',
        Usuarios: [],

        headers: [
          { text: 'ID'            ,  value: 'idusuariosweb' },
          { text: 'Nombre'        ,  value: 'Nomuser' },
          { text: 'Cliente'       ,  value: 'Nomcli' },
          { text: 'Mensajería'    ,  value: 'nommensajeria' },
          { text: 'Nivel'        ,  value: 'Nivel' },
          { text: 'Email'         ,  value: 'Email' },
        ],

         // Selector Clientes
        Idcliente:'',   //Id - para grabar 
        Nomcli   :'',   // v-model
        Cliente  :[],   // Arreglo para mostrar
        clientes :[],   // Arreglo para watch

        // Mensajeria
        IdMensajeria  :'',
        mensajeria    :'',
        mensaje       :[],
        Nummensajeria :[],

        disabled: false
      }
    },
      
    computed: {
      pages () {
        if (this.pagination.rowsPerPage == null || this.pagination.totalItems == null ) {
          return 0
        }else{
          this.pagination.rowsPerPage = 8
          return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
        }
      },

      ...mapGetters('login',['getdatosUsuario']),

    },

    created () {
      
      // this.consultarAll()
      this.ValidaUsuario()

      var me = this 
       this.$http.get('api/v1/mensajeria').then(function(response){
        // console.log('respuesta',response.body)
        response.body.forEach(function(element) {
          me.mensaje.push(element.Nommensajeria)
          me.Nummensajeria.push(element)
        })
      })

       this.$http.get('api/v1/clientes').then(function(response){
        response.body.forEach(function(element) {
          me.Cliente.push(element.nomcli)
          me.clientes.push(element)

        })
      })

    },

    watch:{
      mensajeria: function() {
        var me = this
        me.Nomcli   = ''
        me.Nummensajeria.forEach(function(element) {
          if(me.mensajeria == element.Nommensajeria){
              me.IdMensajeria = element.Id
          }
        })

        me.alerta   = false
        const payload = { IdMensajeria : parseInt(me.IdMensajeria) }
        me.consultarxMensajeria(payload)
      },

      // SELECTOR DE CLIENTES
      Nomcli: function() {
        var me = this
        me.mensajeria = ''

        me.clientes.forEach(function(element) {
          if(me.Nomcli == element.nomcli){
              me.Idcliente = element.ID
          }
        })

        me.alerta   = false
        const payload = { Idcliente  : parseInt(me.Idcliente) }
          me.consultarxCliente(payload)

      },



    },

    methods: {

      ...mapActions('usuariosweb',['ActualizaUsuariosWeb']),

      ValidaUsuario(){
        var me = this 
        me.Usuarios = ''
        // Validar que el nivel sea Sait o Solemex
        if(me.getdatosUsuario.Nivel ===  "SOLEMEX"){
          me.acceso    = true
          me.disabled  = false 

          // Mando a traer todos los mensajeros
          me.consultarAll()

        }else { // Si tiene un nivel diferente bloqueo selector mensajeria

          me.IdMensajeria  =  me.getdatosUsuario.idmensajeria 
          me.mensajeria    =  me.getdatosUsuario.nommensajeria
          me.Idcliente     =  me.getdatosUsuario.Idcliente 
          me.Nomcli        =  me.getdatosUsuario.Nomcli
          me.acceso        =  false
          me.disabled      =  true
          
          if(me.IdMensajeria == 0  ){
            me.snackbar = true; me.text = "Debe pertenecer a una mensajería."
          }else if(me.Idcliente == 0){
            me.snackbar = true ; me.text = "Debe pertenecer a un cliente"
          }else{
            // Formo el primer arreglo para consultar
          const payload = { Idcliente: parseInt(me.Idcliente)}
          setTimeout(me.consultarxCliente(payload), 1000);

          }
        }

      },

      consultarAll(){
        var me = this
        
        me.Usuarios   = ''
        me.mensajeria = ''
        me.Nomcli     = ''
        me.alerta     = false

        me.$http.get('auth/api/v1/usuariosweb').then(function(response){
        
          me.Usuarios = response.body
          me.ActualizaUsuariosWeb(response.body)
          me.paginas(response.body)

        }).catch(function(error){
          console.log(error)
        })
      },

      consultarxMensajeria(payload){

        var me = this
        me.Usuarios = ''
        me.alerta   = false

        me.$http.post('api/v1/usuariosxmia', payload).then(function(response){

          if(response.body != 'null'){

            me.Usuarios = response.body
            me.ActualizaUsuariosWeb(response.body)
            me.paginas(response.body)

          }else{

            me.snackbar = true, me.text = "No se encontraron usuarios."
            me.alerta = true
          }
            
        }).catch(function(error){
          console.log(error)
        })
    
      },

      consultarxCliente(payload){
         var me = this

          this.Usuarios = ''
          this.alerta   = false

        me.$http.post('api/v1/usuariosxcli', payload).then(function(response){

          if(response.body != 'null'){

            me.Usuarios = response.body
            me.ActualizaUsuariosWeb(response.body)
            me.paginas(response.body)

          }else{

            me.snackbar = true, me.text = "No se encontraron usuarios."
            me.alerta = true
          }
            
        }).catch(function(error){
          console.log(error)
        })
    
      },

      edit(item){
        this.$router.push({name:'editusuario', params: {id: item}})
      },

      paginas(value){

        var pag = value.length
        
        if ( pag <= 0 ) {
          return 0
        }else{
          this.pagination.rowsPerPage = 8 ; this.pagination.totalItems  = pag
          return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
        }

      }
    }
  }
</script>