<template>
  <v-layout row wrap justify-center class="pa-4">
    <v-flex xs12 md7 lg7>

      <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      color="blue" 
      >
      {{text}}
      <v-btn
        color="white"
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
       
      <v-card>
        <v-flex xs12>
          <v-toolbar color="primary" dark>
            <v-toolbar-title > Editar Usuario </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn  flat color="blak" dark @click="DeleteUsuario">Eliminar<v-icon>delete_forever</v-icon></v-btn>
          </v-toolbar>
        </v-flex>
      </v-card>
   
      <v-card class="elevation-5 mt-1 pa-1">
        <v-form> 
          <v-layout row wrap  class="mx-4">

            <v-flex xs12  class="mt-2"> 
              <v-text-field
                prepend-icon="account_box"
                v-model="Usuario.Nomuser"
                label="Nombre del Usuario "
              ></v-text-field>
            </v-flex>

           <!--  <v-spacer></v-spacer>
            <v-flex xs12 md2 lg2  > 

              <v-radio-group v-model="estatus" :mandatory="false">
                  <v-flex xs3  class="mx-3">
                    <v-radio label="Activo"  color="success" value="activo-si"></v-radio>           
                    <v-radio label="Inactivo"  color="red"   value="activo-no"></v-radio>
                  </v-flex>                 
              </v-radio-group>
            </v-flex> -->
            
            <v-flex xs12 sm6 >
              <v-text-field
                prepend-icon="email"
                v-model="Usuario.Email"
                label="Correo"
              ></v-text-field>
            </v-flex>

            <v-flex xs12 sm6  >
                <v-select
                :items="niveles"
                item-text="Nivel"
                v-model="Nivel"
                prepend-icon="vpn_key"
                label ="Nivel"
                hint="nivel "
                persistent-hint
              ></v-select>
              </v-flex>

              <v-flex xs12 sm6>
                <v-text-field
                  prepend-icon="local_phone"
                  v-model="Usuario.Telefono"
                  label="Teléfono"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 sm6>
                <v-text-field
                  prepend-icon="developer_board"
                  v-model="Usuario.Depto"
                  label="Departamento"
                ></v-text-field>
              </v-flex>

             <v-flex xs12 sm6 class="mt-1" >
              <v-select
                :items="mensaje"
                label="Mensajeria"
                item-text="mensajeria"
                v-model="mensajeria"
                class="text-xs-center"
                prepend-icon="email"
                sinlge-lin hide-details 
                hint="Mensajería "

              ></v-select>
            </v-flex>

            <v-flex xs12 sm6 class="mt-1" >
              <v-select
                :items="Nombre"
                item-text="Nomcli"
                v-model="Nomcli"
                prepend-icon="person"
                label ="Cliente"
                hint="Cliente "
                persistent-hint
              ></v-select>
            </v-flex>
             
              <v-flex xs12 v-if="cambia == true"  >
               <v-btn round color= "success" dark  @click="CambiarPassword" >Cambiar Contraseña</v-btn>
              </v-flex>

              <v-flex xs12  v-else >
               <v-btn  round color= "red" dark  @click="CambiarPassword">Cancelar</v-btn>
              </v-flex>
        

              <v-flex xs12 md6 lg6 class="mt-1" v-if="cambia == false">
                <v-text-field
                  v-model="password"
                  prepend-icon="lock"
                  :append-icon="show1 ? 'visibility_off' : 'visibility'"
                  :rules="[rules.required, rules.min]"
                  :type="show1 ? 'text' : 'password'"
                  name="input-10-1"
                  label="Contraseña"
                  hint="At least 8 characters"
                  counter
                  @click:append="show1 = !show1"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 md6 lg6 class="mt-1" v-if="cambia == false">
                <v-text-field
                  v-model="password2"
                  prepend-icon="lock"
                  :append-icon="show2 ? 'visibility_off' : 'visibility'"
                  :rules="[rules.required, rules.min]"
                  :type="show2 ? 'text' : 'password'"
                  name="input-10-1"
                  label=" Confirmar Contraseña"
                  hint="At least 8 characters"
                  counter
                  @click:append="show2 = !show2"
                ></v-text-field>
                  
              </v-flex>
        
          </v-layout>

          <v-divider class="mx-5 mt-2"></v-divider>
          <v-layout row wrap justify-center>
            <v-flex xs4 md2 class="mt-2 ">
              <v-btn color="primary" @click="validaInfo" >Editar</v-btn>
            </v-flex>
            <v-flex xs4 md2 class="mt-2">
              <v-btn color="error" :to="{name:'catusuarios'}">Cancelar</v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default{
    data () {    
      return {
        // VARIABLES 
        Nomuser  : '',
        Email    : '',
        Telefono : '',
        Depto    : '',
        idusuariosweb:'',

        // SNACKBAR
        snackbar: false,
        text:     '',

        // BOTON PARA EDITAR CONTRASEÑA
        cambia: true,

        // SELECTOR MENSAJERIA
        nommensajeria:  '',
        mensajeria: '',
        mensaje:        [],
        Nummensajeria:  [],

        // Selector Clientes
        Nomcli   :'',   // v-model
        Idcliente:'',   //Id - para grabar 
        Nombre   :[],   // Arreglo para mostrar
        clientes :[],   // Arreglo para watch

        // Selector Clientes
        Nivel     :'',   // v-model
        Idnivel   :'',   //Id - para grabar 
        niveles   :[],   // Arreglo para mostrar
        NIVELES   :[],   // Arreglo para watch

        // ARREGLO PRINCIPAL
        Usuario: '',
        IdMensajeria: '',

        // VER PASSWORD
        show1: true,
        show2: true,

        // VARIABLES PARA ESTATUS
        estatus: '',
        estatusEdit:'',

        // VARIABLES PARA CONTRASEÑA
        password:'',
        password2:'',
        PasswordAEdit:'',
        
        rules: {
          required: value => !!value || 'Requerido.',
          min: v => v.length >= 5 || 'Minimo 5 caracteres',
          emailMatch: () => ('El correo y/o la contraseña no son correctos')
        }
      }
    },

    created () {
      // Buscar Mensajero a editar
      this.busIdUsuario(this.$route.params.id)

      // Busqueda de Mensajeria
 

      var me = this
      this.$http.get('api/v1/mensajeria').then(function(response){
        response.body.forEach(function(element) {
          me.mensaje.push(element.Nommensajeria)
          me.Nummensajeria.push(element)
        })
      })

      // Busqueda de Clientes
      this.$http.get('api/v1/clientes').then(function(response){
        // console.log('respuesta',response.body)
        response.body.forEach(function(element) {
          me.Nombre.push(element.nomcli)
          me.clientes.push(element)
        })
      })

      // Busqueda de Clientes
      this.$http.get('api/v1/niveles').then(function(response){
        // console.log('respuesta',response.body)
        response.body.forEach(function(element) {
          if(element.Nivel != 'SAIT'){
            me.niveles.push(element.Nivel)
          }
          me.NIVELES.push(element)
        })
      })

    },

    watch:{
      mensajeria: function() {
        var me = this
        
        this.Nummensajeria.forEach(function(element) {
          if(me.mensajeria == element.Nommensajeria){
              me.IdMensajeria = element.Id
          }
        })
         
      },

      Nomcli: function() {
        var me = this
        this.clientes.forEach(function(element) {
          if(me.Nomcli == element.nomcli){
              me.Idcliente = element.ID
              // console.log(me.Idcliente)
          }
        })

      },

      Nivel: function() {
        var me = this
        this.NIVELES.forEach(function(element) {
          if(me.Nivel == element.Nivel){
              me.Idnivel = element.Id
              // console.log('id', me.Idnivel)

          }
        })
      }
    },

  computed:{  
    validainfo(){
        return  this.Usuario.Nomuser  !==  '' &&    
                this.Usuario.Email    !==  '' &&
                this.Nivel            !==  '' &&
                this.mensajeria       !==  '' &&
                this.Nomcli           !=   '' 
      },

      validaPassword(){
          return this.password  !== '' &&
                 this.password2 !== ''    
      }
   },

   methods:{

    // BUSCAR UN MENSAJERO 
    busIdUsuario(id){
      // console.log('id', id)
      this.$http.get('auth/api/v1/usuariosweb/' + id).then(function(response){ 
        console.log('respuesta ',response.body)

        this.Usuario       = response.body
        this.idusuariosweb = response.body.idusuariosweb
        this.Nivel         = response.body.Nivel
        this.IdMensajeria  = response.body.idmensajeria
        this.mensajeria    = response.body.nommensajeria
        this.Nomcli        = response.body.Nomcli
        this.Idnivel       = response.body.Idnivel
        this.idcliente     = response.body.idcliente
        // this.Nivel         = response.body.Nivel
        // this.IdMensajeria  = response.body.IdMensajeria
        // this.Nommensajeria = response.body.Nommensajeria
        // this.Nomcli        = response.body.Nomcli

        // if(response.body.estatus == '2'){
        //   this.estatus = "activo-si"
        // }else{
        //   this.estatus = "activo-no"
        // }


        }).catch(function(error){
          console.log(error)
        })
    },

    //Funcion para mostrar Campos de contraseña
    CambiarPassword(){

      if(this.cambia == true){
        this.cambia = false
      }else{
        this.cambia = true
      }
    },

    validaInfo(){

      if(!this.validainfo){
        this.text     = "Faltan campos por agregar"
        this.snackbar = true
        return
      }

      // TRANSFORMAR ESTATUS EN 1 O 2
     if(this.estatus == "activo-si"){
        this.estatusEdit = 2
      }else {

        this.estatusEdit = 1
      }

      if(this.cambia == false){
        // COMPARO LAS CONTRASEÑAS => TIENEN QUE SER IGUAL
        if(this.password.localeCompare(this.password2) ){
          this.text     = "Las contraseñas no coinciden"
          this.snackbar = true
          return
        }else 
          // MANDO A LLAMAR validaPassword() DE COMPUTED
          if(!this.validaPassword){
            this.text     = "No se puede omitir las contraseñas"
            this.snackbar = true
            return
          }else{
            // ASIGNO LA NUEVA CONTRASEÑA A VARIABLE PARA GRABAR
            var md5 = require('md5');
            this.PasswordAEdit = md5(this.password)

            this.agregar()
          }
      }else{
        // SI NO SE MODIFICO LA CONTRASEÑA CONSERVO LA ACTUAL
        console.log('conservo contraseña actual', this.PasswordAEdit)
        console.log('conservo contraseña actual 2', this.Usuario.Password)

        this.PasswordAEdit = this.Usuario.Password

        this.agregar()
      }
    },
    
     agregar(){
      var me = this
      var md5 = require('md5')
      
      const formData = {
       Nomuser:      this.Usuario.Nomuser,
        Email:        this.Usuario.Email,
        Nivel:        this.Usuario.Nivel,
        Telefono:     this.Usuario.Telefono,
        Depto:        this.Usuario.Depto,
        Password:     this.PasswordAEdit,
        Idnivel:      parseInt(this.Idnivel),
        Numcli:       '',
        Suc:          '',
        Empresa:      '',
        Idcliente :   parseInt(this.Idcliente),
        IdMensajeria : 5,
        estatus : "2"

      }

      // {
      //   Nomuser:      this.Usuario.Nomuser,
      //   Email:        this.Usuario.Email,
      //   Nivel:        this.Usuario.Nivel,
      //   telefono:     this.Usuario.Telefono,
      //   depto:        this.Usuario.Depto,
      //   Password:     this.PasswordAEdit,
      //   Suc:          '',
      //   Empresa:      '',
      //   Numcli:       ''
      // }

       console.log('formData',formData)

      var id = this.idusuariosweb 

      this.$http.put('auth/api/v1/usuariosweb/'+ id, formData).then(function(response){

        this.snackbar=true ; this.text="La información se guardo correctamente"
        setTimeout(function(){ me.$router.push({name: 'catusuarios'}) }, 2000);

      })
      .catch(function(error){
         console.log(error)
      })
        
    },

    
    DeleteUsuario(){
      var me = this 
      var id = this.idusuariosweb

      this.$http.delete('api/v1/usuariosweb/' + id)
      .then(function(response){
        this.snackbar=true ; this.text="El usuario fue eliminado correctamente"
          setTimeout(function(){ me.$router.push({name: 'catmensajeros'}) }, 2000);

      }).catch(function(error){
        console.log(error)
      })
    },



  }
};
</script>