<template>
  <v-layout row wrap justify-center>
    <v-flex xs12 md7 lg7>

      <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      color="blue" 
      >
      {{text}}
      <v-btn
        color="white"
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
       
      <v-card>
        <v-flex xs12>
          <v-toolbar color="primary" dark>
            <v-toolbar-title > Nuevo Usuario </v-toolbar-title>
          </v-toolbar>
        </v-flex>
      </v-card>
   
      <v-card class="elevation-5 mt-1 pa-1">
        <v-form> 
          <v-layout row wrap  class="mx-5">

            <v-flex xs12 md12 lg12 class=""> 
              <v-text-field
                prepend-icon="account_box"
                v-model="Nomuser"
                label="Nombre del Usuario"
              ></v-text-field>
            </v-flex>
            
            <v-flex xs12 md6 lg6 class="" > 
              <v-text-field
                prepend-icon="format_line_spacing"
                v-model="Email"
                label="Email"
              ></v-text-field>
            </v-flex>

            <v-flex xs12 md6 lg6 class=""  > 
              <v-select
                  :items="nivel"
                  label="nivel"
                  item-text="niveles"
                  v-model="Nivel"
                  menu-props="auto"
                  class="text-xs-center" 
                  prepend-icon="vpn_key"
                  sinlge-lin hide-details
                ></v-select>
            </v-flex>
            <v-flex xs12 md6 lg6 class=""  > 
      
            <v-text-field
                  prepend-icon="store"
                  v-model="Empresa"
                  label="Empresa"
                ></v-text-field>
            </v-flex>

            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="format_shapes"
                v-model="Suc"
                label="Sucursal"
              ></v-text-field>
            </v-flex>

            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="ring_volume"
                v-model="telefono"
                label="Telefono "
              ></v-text-field>
            </v-flex>

            <v-flex xs12 md6 lg6 class=""  > 
              <v-text-field
                prepend-icon="copyright"
                v-model="Deptos"
                label="Departamento"
              ></v-text-field>
            </v-flex>

             <v-flex xs12 md6 lg6 class="mt-1">
              <v-text-field
                v-model="password"
                prepend-icon="lock"
                :append-icon="show1 ? 'visibility_off' : 'visibility'"
                :rules="[rules.required, rules.min]"
                :type="show1 ? 'text' : 'password'"
                name="input-10-1"
                label="Ingresa tu contraseña"
                hint="At least 8 characters"
                counter
                @click:append="show1 = !show1"
              ></v-text-field>
            </v-flex>

            <v-flex xs12 md6 lg6 class="mt-1">
              <v-text-field
                v-model="password2"
                prepend-icon="lock"
                :append-icon="show2 ? 'visibility_off' : 'visibility'"
                :rules="[rules.required, rules.min]"
                :type="show2 ? 'text' : 'password'"
                name="input-10-1"
                label="Confirma la contraseña"
                hint="At least 8 characters"
                counter
                @click:append="show2 = !show2"
              ></v-text-field>
                
            </v-flex>

          
          </v-layout>

          <v-divider class="mx-5"></v-divider>
          
          <v-layout row wrap justify-center>
            <v-flex xs4 md2 class="mt-2 ">
              <v-btn color="primary" @click="validaInfo" >Agregar</v-btn>
            </v-flex>
            <v-flex xs4 md2 class="mt-2">
              <v-btn color="error" :to="{name:'catusuarios'}">Cancelar</v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default{
    data(){
      return{

        // VARIABLES
        Nomuser:    '',
        telefono:   '',
        Nivel:      '',
        Empresa:    '',
        Suc:        '',
        Email:      '',
        Deptos:     '',
        
        // CONTRASEÑA
        password:'',
        password2:'',
        show1: true,
        show2: true,

        // SNACKBAR
        snackbar: false,
        text: '',

        // SELECTOR
        nivel:[
          { niveles:'Admin' },
          { niveles:'Vend' }
        ],

        rules: {
          required: value => !!value || 'Requerido.',
          min: v => v.length >= 8 || 'Minimo 8 caracteres',
          emailMatch: () => ('El correo y/o la contraseña no son correctos')
        }        

      }
    },

    computed:{

      validainfoCampos(){
        return   this.Nomuser       !==  '' &&
                 this.Email         !==  '' &&
                 this.Nivel         !==  '' &&
                 this.password      !==  '' &&
                 this.password2     !==  '' 

      },

      validaPassword(){
      return this.password.localeCompare(this.password2)        
    }
    },  

    methods: {

      validaInfo(){

      if(!this.validainfoCampos){
        this.text     = "Faltan campos por agregar"
        this.snackbar = true
        return
      }

      if(this.validaPassword != 0){
        this.text     = "Las contraseñas no coinciden"
        this.snackbar = true
        return
      }else{
        // this.validaUsuario()
        this.agregar()

      }

    },
  
      agregar(){

        var md5 = require('md5')
        const formData = {
            Nomuser:      this.Nomuser,
            Email:        this.Email,
            Nivel:        this.nivel,
            Empresa:      this.Empresa,
            Suc:          this.Suc,
            Telefono:     this.telefono,
            Depto:        this.Deptos,
            Password:     md5(this.password),
            Numcli:       "0"
          }
          // console.log('formData', formData)
          
          this.$http.post('api/v1/usuariosweb', formData).then(function(response){
            // console.log('resuesta', response.body)
            this.snackbar = true ; this.text= "El usuario se agrego correctamente"
            setTimeout(function(){ me.$router.push({name: 'catusuarios'}) }, 2000);

          }).catch(function(error){
            console.log(error)
          })

      }
    }
  };

</script>
    