<template>
  <v-app id="inspire">
    <!-- CONTENIDO PRINCIPAL -->
    <v-layout row wrap class="pa-4">
      <v-flex xs12 v-if="visible == true">
        <v-btn color="primary" dark outline value="Print this page"  @click="show" >Imprimir Acuse <v-icon right>print</v-icon></v-btn>
        <v-btn color="primary" dark outline value="Print this page" @click="regresar">Regresar<v-icon right>print</v-icon></v-btn>
      </v-flex>
      <div v-for="(acuse, i) in folios" :key="i" v-if="i < 16" id="printMe">
        <div style="min-height: 238px; max-height: 238px; min-width:340px; max-width:340px; padding: 8px; margin: 0.5px; border: solid;" v-if="acuse.Numguia" >

              <table style="font-size: 11px; padding: 1px; margin:0px">
                <tr>
                  <td style="font-weight:bold;" >At:</td>
                  <td style="width: 60%"> {{ acuse.Nomcli }} </td> 

                  <td style="font-weight:bold;"  >Tel:</td>
                  <td style="width: 60%"> {{ acuse.Tel1 }} </td>
                </tr>
                <tr>
                  <td  style="font-weight:bold;">Dir:</td>
                  <td > {{ acuse.Calle }}</td>

                  <td  style="font-weight:bold;"  >Cd:</td>
                  <td style="width: 60%"> {{ acuse.Ciudad }} </td>
                </tr>
                <tr>
                  <td style="font-weight:bold;"  class="titulo">Núm:</td>
                  <td> {{ acuse.Numext }} </td>

                  <td style="font-weight:bold;"  >Cp:</td>
                  <td style="width: 60%"> {{ acuse.Cp }} </td>
                </tr>
                <tr>
                  <td style="font-weight:bold;"  class="titulo">Col:</td>
                  <td> {{ acuse.Colonia }} </td>
                </tr>
                <tr>
                  <td style="font-weight:bold;"  class="titulo">F:</td>
                  <td> {{acuse.Numcli }} </td>

                  <td style="font-weight:bold;" >R:</td>
                  <td style="width: 60%"> {{acuse.Numrem}} </td>
                </tr>
              </table>  
          <v-card-text style="font-size: 1px;" class="pa-0" align="center">
            <barcode :value="acuse.Numguia" height ="30" width="2" fontSize="15">
              Show this if the rendering fails.
            </barcode>
          </v-card-text>
        </div>
      </div>
    </v-layout>
  </v-app>
</template>


<script>
  import {mapActions} from 'vuex'
  import store from '@/store'
  import VueBarcode from 'vue-barcode';

export default{
  data() {
    return{
      antes: [],
      despues:[],
      barcodeValue: 'test',
      folios:[],
      visible: true,
    }
  },

  components: {
    'barcode': VueBarcode
  },

  created(){
    this.folios = store.state.acuses
  },

  methods:{
    ...mapActions('barras',['showBarra']),

    regresar(){
      this.showBarra(true)
      this.$router.push({name:'tarjetas'})
    },

    imprimir(){

      this.visible =! this.visible
      window.print()
      for (var i = 16; i >= 0; i--) {
        this.antes.push(this.folios[i])
      }

      this.folios.splice(0, 16);
      this.showBarra(true)
    },

    show(){
      this.showBarra(false)
      this.visible =! this.visible
      setTimeout(this.imprimir,1000);

    }
  }
};
</script>
<style scoped>
  .vue-barcode-element{
    width: 200px !important;
  }

  rect{
    width: 200px !important;
  }
</style>