<template>
  <v-layout row wrap justify-center class="pa-4">
    <v-flex xs8>
      <v-layout row wrap >
          
        <v-flex xs12 md3 lg3 class="mx-3">
         <h2>Niveles</h2>  
        </v-flex> 

        <!-- BUSQUEDA -->
        <v-flex xs6 md4 lg4 class="">
          <v-text-field
          class="text-xs-center" v-model="search" append-icon="search" label="Búsqueda de Niveles" sinlge-lin hide-details
          sinlge-lin hide-details
          ></v-text-field>
        </v-flex>
       <v-spacer></v-spacer> 

        <!-- BOTON NUEVO VENDEDOR -->
        <v-flex xs6 md4 lg4 >
          <!-- <v-btn  color="primary" sinlge-lin hide-details dark class="mb-2" :to="{name: ''}" ><v-icon left>chrome_reader_mode</v-icon>Nuevo Nivel</v-btn> -->
        </v-flex>
      </v-layout>
      
      <v-data-table
        hide-actions
        :headers="headers"
        :items="Niveles"
        :search="search"
        :pagination.sync="pagination"
        class="elevation-1 mt-2"
        :loading="loading"
      >
       <v-progress-linear v-slot:progress color="primary" indeterminate></v-progress-linear>
      <template slot="items" slot-scope="props">
        <td class="text-xs-left" >{{ props.item.Id }}</td>
        <td class="text-xs-left">{{ props.item.Nivel }}</td>
        <td class="text-xs-left">{{ props.item.Descrip }}</td>

        <!-- <td class="text-xs-left" v-on:dblclick="edit(props.item.Id)">{{ props.item.Descrip }}</td> -->

      </template>
          
         <!-- Botón que aparecera en caso de no ser generada la infomación -->
        <template slot="no-data">
          <v-alert :value="true" color="error" icon="warning">
            No se econctraron datos en el sistema
          </v-alert>
        </template>
      </v-data-table>

        <!-- Paginación -->
      <div class="text-xs-center">
        <v-pagination
          v-model="pagination.page"
          :length="pages"
          :total-visible="7"
        ></v-pagination>
      </div>

    </v-flex>
  </v-layout>
</template>

<script>
  import jsPDF from 'jspdf'
  //para la siguiente libreria se pide instalar
  //npm install jspdf jspdf-autotable
  //https://github.com/simonbengtsson/jsPDF-AutoTable
  import AutoTable from 'jspdf-autotable'
  // import ImprimirOrdenes from '@/componentes/asesores/ImprimirOrdenes'

  export default {
    data(){
      return{
        search: '',
        pagination: {},
        elected: [],
        dialog: false,
        Niveles: [],
        loading: false,
        headers: [
          { text: 'ID'      ,  value: 'Id' },
          { text: 'Nivel'   ,  value: 'Nivel' },
          { text: 'Descripción'   ,  value: 'Descrip' }


        ],
      }
    },
      
    computed: {
      pages () {
        if (this.pagination.rowsPerPage == null || this.pagination.totalItems == null ) {
          return 0
        }else{
          this.pagination.rowsPerPage = 8
          return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
        }
      },
    },

    created () {

      this.loading = true

      this.$http.get('api/v1/niveles').then(function(response){
            console.log('respuesta',response.body)
    
            this.Niveles = response.body
            this.paginas(response.body)
            this.loading = false
    
          }).catch(function(error){
            console.log('error',error)
  
          })
    },

    methods: {
      // edit(item){
      //   this.$router.push({name:'editclasif', params: {id: item}})
      // },

      paginas(value){

        var pag = value.length
        
        if ( pag <= 0 ) {
          return 0
        }else{
          this.pagination.rowsPerPage = 8 ; this.pagination.totalItems  = pag
          return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
        }

      }
    }
  };
</script>

<style scoped>
  .v-progress-circular{
    margin: 3px;
  }
</style>