<template>
  <v-layout row wrap justify-center class="pa-3">
    <v-flex xs12 md10>

      <v-snackbar
        v-model="snackbar"
        :timeout="4000"
        top
        color="blue" 
        >
        {{text}}
        <v-btn
          color="white"
          flat
          @click="snackbar = false"
        >
          Cerrar
        </v-btn>
      </v-snackbar>
     <v-layout row wrap>
          
        <v-flex xs12  class="mx-2">
         <h2>Sucursales del Cliente</h2>  
        </v-flex> 

        <!-- BUSQUEDA -->
        <v-flex xs12 sm5 md3 class="mx-1">
          <v-text-field
          class="text-xs-center" v-model="search" append-icon="search" label="Búsqueda de Sucursales" sinlge-lin hide-details
          sinlge-lin hide-details
          ></v-text-field>
        </v-flex>

        <v-flex xs12 sm5 md3 text-xs-center>
          <v-select
            :items="Cliente"
            item-text="Nomcli"
            v-model="Nomcli"
            append-icon="person"
            label ="Cliente"
            persistent-hint
            :disabled ="disabled"
          ></v-select>
        </v-flex>

        <!-- BOTON NUEVO VENDEDOR -->
        <v-flex xs8 sm6 md4 >
          <v-btn  color="primary" sinlge-lin hide-details dark class="mb-2" :to="{name: 'newsucursal'}" >Nueva Sucursal</v-btn>
           <v-btn  icon color="blue" dark @click="consultarAll" v-if ="acceso == true "><v-icon>autorenew</v-icon></v-btn>
        </v-flex>

        <v-flex xs1 >
            <div><ExpExcelSuc/></div> 
        </v-flex>
      </v-layout>

       <template >
        <v-progress-linear height="4" :indeterminate="true" v-if="Sucursales == '' && alerta== false"></v-progress-linear>
      </template>

      <v-data-table
        hide-actions
        :headers="headers"
        :items="Sucursales"
        :search="search"
        :pagination.sync="pagination"
        class="elevation-1 mt-2"
        v-if ="Sucursales != '' "
      >

        <template slot="items" slot-scope="props">
          <td class="text-xs-left" v-on:dblclick="edit(props.item.Id)">{{ props.item.nomcli }}</td>
          <td class="text-xs-left" v-on:dblclick="edit(props.item.Id)">{{ props.item.numsuc }}</td>
          <td class="text-xs-left" v-on:dblclick="edit(props.item.Id)">{{ props.item.nomsuc }}</td>
          <td class="text-xs-left" v-on:dblclick="edit(props.item.Id)">{{ props.item.ciudad }}</td>
          <td class="text-xs-left" v-on:dblclick="edit(props.item.Id)">{{ props.item.estado }}</td>

        </template>
      </v-data-table>

         <!-- Botón que aparecera en caso de no ser generada la infomación -->
      <template v-if ="Sucursales == '' && alerta == true ">
        <v-alert :value="true" color="blue" icon="warning">
          No se econctraron datos en el sistema
        </v-alert>
      </template>

      <div class="text-xs-center" v-if= "Sucursales != '' ">
        <v-pagination
          v-model="pagination.page"
          :length="pages"
          :total-visible="5"
        ></v-pagination>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
  import jsPDF from 'jspdf'
  import AutoTable from 'jspdf-autotable'
  import {mapGetters, mapActions} from 'vuex'
  import ExpExcelSuc from '@/views/sucursales/ExpExcelSuc'

  // import ImprimirOrdenes from '@/componentes/asesores/ImprimirOrdenes'

  export default {
    components:{
      ExpExcelSuc
    },
    data(){
      return{
        search: '',
        pagination: {},
        elected: [],
        dialog: false,
        loading: true,

        snackbar: false,
        text    : '',

        headers: [

          { text: 'Cliente'      ,  value: 'nomcli' },
          { text: 'Suc Id'       ,  value: 'numsuc' },
          { text: 'Sucursal'     ,  value: 'nomsuc' },
          { text: 'Ciudad '      ,  value: 'ciudad' },
          { text: 'Estado '      ,  value: 'estado' },

        ],

        Sucursales:[],
        acceso    : false,
        disabled  : false,
        alerta    : false,


         // Selector Clientes
        Idcliente:'',   //Id - para grabar 
        Nomcli   :'',   // v-model
        Cliente  :[],   // Arreglo para mostrar
        clientes :[],   // Arreglo para watch
      }
    },
      
    computed: {

      ...mapGetters('login',['getdatosUsuario']),

      pages () {

        if (this.pagination.rowsPerPage == null || this.pagination.totalItems == null ) {
          return 0
        }else{
          this.pagination.rowsPerPage = 8
          return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
        }

      },
    },

    created () {

      var me = this
      // Busqueda de Clientes
      this.$http.get('api/v1/clientes').then(function(response){
        response.body.forEach(function(element) {
          me.Cliente.push(element.nomcli)
          me.clientes.push(element)

        })
      })

      this.ValidaUsuario()
    },

    watch:{

      // SELECTOR DE CLIENTES
      Nomcli: function() {
        var me = this
        this.clientes.forEach(function(element) {
          if(me.Nomcli == element.nomcli){
              me.Idcliente = element.ID
          }
        })

        me.alerta   = false
        console.log('alerta',me.alerta)
        const payload = { Idcliente  : parseInt(this.Idcliente) }
          this.consultarxCliente(payload)

      },

    },

    methods: {

      ...mapActions('sucursales',['ActualizaSucursales']),

      ValidaUsuario(){
        var me = this
        // Validar que el nivel sea Sait
        if(me.getdatosUsuario.Nivel === "SOLEMEX"){
          // console.log('Tiene acceso')
          me.acceso    = true 
          me.disabled  = false 

          me.consultarAll()

        }else { // Si tiene un nivel diferente bloqueo selector Nomcli
          
          me.Idcliente =  me.getdatosUsuario.Idcliente 
          me.Nomcli    =  me.getdatosUsuario.Nomcli
          me.acceso    =  false
          me.disabled  =  true 

          if(me.Idcliente == 0 ){
            // console.log('id es cero')

            me.snackbar = true; me.text = "Debe estar asignado a un cliente."
          }else{

            // Formo el primer arreglo para consultar
            const payload = { Idcliente  : parseInt(this.Idcliente) }
            this.consultarxCliente(payload)
          }
        }
      },

      consultarAll(){
        
        var me = this
        me.Sucursales = ''
        me.Nomcli     = ''
        me.alerta     = false

        this.$http.get('api/v1/catsuc').then(function(response){
            // console.log(response.body)
            me.Sucursales = response.body
            me.ActualizaSucursales(response.body)
            
            me.paginas(response.body)
            me.loading = false

          }).catch(function(error){
            console.log(error)
        })
      },

      consultarxCliente(payload){
        console.log('consultarxCliente')

        var me = this
        me.Sucursales = ''

        this.$http.post('api/v1/sucursalesxcli', payload).then(function(response){
          // console.log('response suc', response.body)

          if(response.body != 'null'){


            me.Sucursales = response.body
            me.Sucursales = response.body
            me.alaerta    = false
            me.ActualizaSucursales(response.body)
            me.paginas(response.body)

          }else{

            me.snackbar = true, me.text = "No se econctraron sucursales."
            me.alerta = true
          }
            
        }).catch(function(error){
          console.log(error)
        })
    
      },

      edit(item){
        // this.$router.push({name:'editsucursal', params: {id: item}})
      },  
      
      // inicar paginacion
      paginas(value){

        var pag = value.length

        if ( pag <= 0 ) {
          return 0
        }else{
          this.pagination.rowsPerPage = 8 ; this.pagination.totalItems  = pag
          return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
        }

      }
      
    }
  };
</script>