<template>
  <v-layout row wrap justify-center class="pa-4">
    <v-flex xs12 md7 lg7>

      <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      color="blue" 
      >
      {{text}}
      <v-btn
        color="white"
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
       
      <v-card>
        <v-flex xs12>
          <v-toolbar color="primary" dark>
            <v-toolbar-title > Editar Sucursal </v-toolbar-title>
            <v-spacer></v-spacer>

            <v-btn  flat color="blak" dark @click="DeleteSucursal">Eliminar<v-icon>delete_forever</v-icon></v-btn>

          </v-toolbar>
        </v-flex>
      </v-card>
   
      <v-card class="elevation-5 mt-1 pa-1">
        <v-form> 
          <v-layout row wrap  class="mx-5">
          
            <v-flex xs12 sm8 class=""> 
              <v-text-field
                prepend-icon="home"
                v-model="SucAEdit.Nomsuc"
                label="Nombre de la sucursal"
              ></v-text-field>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs12 sm3> 
              <v-text-field
                prepend-icon="trip_origin"
                v-model="SucAEdit.Numsuc"
                label="Numero sucursal "
              ></v-text-field>
            </v-flex>
            
            <v-flex xs12 md6 class="" > 
              <v-text-field
                prepend-icon="format_line_spacing"
                v-model="SucAEdit.direccion"
                label="Dirección"
              ></v-text-field>
            </v-flex>

            <v-flex xs12 md6 class=""  > 
              <v-text-field
                prepend-icon="format_shapes"
                v-model="SucAEdit.Colonia"
                label="Colonia"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6 class=""  > 
              <v-text-field
                prepend-icon="business"
                v-model="SucAEdit.Ciudad"
                label=" Ciudad"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6 class=""  > 
              <v-text-field
                prepend-icon="location_city"
                v-model="SucAEdit.estado"
                label="Estado"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6 class=""  > 
              <v-text-field
                prepend-icon="copyright"
                v-model="SucAEdit.CP"
                label="CP"
                type="number"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6 class=""  > 
              <v-text-field
                prepend-icon="ring_volume"
                v-model="SucAEdit.telefono"
                label="Telefono "
                type="number"
              ></v-text-field>
            </v-flex>

            <v-flex xs12 class="mt-1">
              <v-select
                :items="Nombre"
                item-text="Nomcli"
                v-model="Nomcli"
                append-icon="person"
                label ="Cliente"
                hint="Cliente  "
                persistent-hint
                solo
              ></v-select>
            </v-flex>

          </v-layout>

          <v-divider class="mx-5"></v-divider>
          
          <v-layout row wrap justify-center>
            <v-flex xs4 md2 class="mt-2 ">
              <v-btn color="primary" @click="agregar" >Agregar</v-btn>
            </v-flex>
            <v-flex xs4 md2 class="mt-2">
              <v-btn color="error" :to="{name:'catsucursales'}">Cancelar</v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default{
    data () {    
      return {
      
        // Selector Clientes
        Nomcli   :'',   // v-model
        Idcliente:'',   //Id - para grabar 
        Nombre   :[],   // Arreglo para mostrar
        clientes :[],   // Arreglo para watch

        NombreCli: '',
        // snackbar
        snackbar: false,
        text:     '',

        // variable para consulta por id
        SucAEdit :'',
      }
    },

    created () {
      // Busca la Sucursal por ID
      this.busIdUsuario(this.$route.params.id)

      var me = this
      // Busqueda de Clientes
      this.$http.get('api/v1/clientes').then(function(response){
        // console.log('respuesta',response.body)
        response.body.forEach(function(element) {
          me.Nombre.push(element.nomcli)
          me.clientes.push(element)
        })
      })
    },

    watch:{
      Nomcli: function() {
        var me = this
        this.clientes.forEach(function(element) {
          if(me.Nomcli == element.nomcli){
              me.Idcliente = element.ID

          }
        })
      }
    },

  computed:{
  
    validaInfo(){
        return  this.SucAEdit.Nomsuc   !==  '' &&       
                this.SucAEdit.ciudad   !==  '' &&
                this.SucAEdit.estado   !==  '' &&
                this.Nomcli            !==  ''  
      }
   },

   methods:{

    busIdUsuario(id){
      var me = this
      var ID = id 
      // Busqueda de Sucursales
      this.$http.get('api/v1/usuariosweb/'+ ID).then(function(response){
        // console.log('respuesta',response.body)
        
        me.SucAEdit = response.body
        me.Nomcli   = response.body.nomcli
        me.Idcliente = me.SucAEdit.idcliente
      })

    },

    validaSucursal(){
      this.$http.get('api/v1/sucursales/'+ ID).then(function(response){
        // console.log('respuesta',response.body)
        this.SucAEdit = response.body
      })
    },
    
     agregar(){
      
      var me = this 
      if(!this.validaInfo){
          this.snackbar = true ; this.text = "Faltan campos por agregar"
        return
      }

     this.$http.put('api/v1/sucursales/'+ this.SucAEdit.Id,{
        "id"        : this.SucAEdit.Id,
        "nomsuc"    : this.SucAEdit.Nomsuc,
        "direccion" : this.SucAEdit.direccion,
        "colonia"   : this.SucAEdit.Colonia,
        "ciudad"    : this.SucAEdit.Ciudad,
        "estado"    : this.SucAEdit.estado,
        "cp"        : this.SucAEdit.CP,
        "telefono"  : this.SucAEdit.telefono,
        "idcliente" : parseInt(this.Idcliente),
        "numsuc"    : this.SucAEdit.Numsuc,
        "nomcont"   :'',
        "pais"      :'MEXICO',
        "status"    :1 ,
        "idservicio":2

     }).then(function(response){
          
          this.snackbar=true; this.text="Se actualizo correctamente"

          setTimeout(function(){ me.$router.push({name: 'catsucursales'}) }, 2000);
          // this.$router.push({name:'catsucursales'})
      })
        .catch(function(error){
        console.log(error)
      })

    },

    DeleteSucursal(){
      var me = this 
      var id = this.SucAEdit.Id

      this.$http.delete('api/v1/sucursales/' + id)
      .then(function(response){
        this.snackbar = true ; this.text="La Sucursal se elimino correctamente"
        setTimeout(function(){ me.$router.push({name: 'catsucursales'}) }, 2000);

      }).catch(function(error){
        console.log(error)
      })


    },

  }
};
</script>