<template>
  <v-layout row wrap justify-center class="pa-4">
    <v-flex xs12 md7 lg7>

      <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      color="blue" 
      >
      {{text}}
      <v-btn
        color="white"
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
       
      <v-card>
        <v-flex xs12>
          <v-toolbar color="primary" dark>
            <v-toolbar-title > Nueva Sucursal </v-toolbar-title>
          </v-toolbar>
        </v-flex>
      </v-card>
   
      <v-card class="elevation-5 mt-1 pa-1">
        <v-form> 
          <v-layout row wrap  class="mx-5">
          
            <v-flex xs12 sm8 class=""> 
              <v-text-field
                prepend-icon="home"
                v-model="Nomsuc"
                label="Nombre de la sucursal"
              ></v-text-field>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs12 sm3> 
              <v-text-field
                prepend-icon="trip_origin"
                v-model="Numsuc"
                label="Numero sucursal "
              ></v-text-field>
            </v-flex>
            
            <v-flex xs12 md6 class="" > 
              <v-text-field
                prepend-icon="format_line_spacing"
                v-model="Direccion"
                label="Dirección"
              ></v-text-field>
            </v-flex>

            <v-flex xs12 md6 class=""  > 
              <v-text-field
                prepend-icon="format_shapes"
                v-model="colonia"
                label="Colonia"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6 class=""  > 
              <v-text-field
                prepend-icon="business"
                v-model="ciudad"
                label=" Ciudad"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6 class=""  > 
              <v-text-field
                prepend-icon="location_city"
                v-model="estado"
                label="Estado"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6 class=""  > 
              <v-text-field
                prepend-icon="copyright"
                v-model="Cp"
                label="CP"
                type="number"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6 class=""  > 
              <v-text-field
                prepend-icon="ring_volume"
                v-model="telefono"
                label="Telefono "
                type="number"
              ></v-text-field>
            </v-flex>

            <v-flex xs12 class="mt-1">
              <v-select
                :items="Nombre"
                item-text="Nomcli"
                v-model="Nomcli"
                append-icon="person"
                label ="Cliente"
                hint="Cliente  "
                persistent-hint
                solo
              ></v-select>
            </v-flex>

          </v-layout>

          <v-divider class="mx-5"></v-divider>
          
          <v-layout row wrap justify-center>
            <v-flex xs4 md2 class="mt-2 ">
              <v-btn color="primary" @click="validaSuc" >Agregar</v-btn>
            </v-flex>
            <v-flex xs4 md2 class="mt-2">
              <v-btn color="error" :to="{name:'catsucursales'}">Cancelar</v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default{
    data () {    
      return {
        // Variables
        Numsuc    : '',
        Nomsuc    : '',
        Direccion : '',
        numext    : '',
        colonia   : '',
        ciudad    : '',
        Cp        : '',
        estado    : '',
        telefono  : '',

        // Selector Clientes
        Nomcli   :'',   // v-model
        Idcliente:'',   //Id - para grabar 
        Nombre   :[],   // Arreglo para mostrar
        clientes :[],   // Arreglo para watch

        // snackbar
        snackbar: false,
        text:     ''
      }
    },

    created () {
      var me = this
      // Busqueda de Clientes
      this.$http.get('api/v1/clientes').then(function(response){
        response.body.forEach(function(element) {
          me.Nombre.push(element.nomcli)
          me.clientes.push(element)
        })
      })
    },

    watch:{
      Nomcli: function() {
        var me = this
        this.clientes.forEach(function(element) {
          if(me.Nomcli == element.nomcli){
              me.Idcliente = element.ID
      
          }
        })
      }
    },

  computed:{
    
  
    validaInfo(){
        return  this.Nomsuc   !==  '' &&       
                this.ciudad   !==  '' &&
                this.estado   !==  '' &&
                this.Nomcli   !==  ''  
    }
  },

  methods:{
    validaSuc(){
      var payload = {
        Idcliente : parseInt(this.Idcliente),
        Numsuc    : this.Numsuc.trim(),
      }

      this.$http.post('api/v1/sucxnumsuc', payload).then(response=>{
        this.snackbar = true ; this.text = "Número de sucursal dado de alta con aterioridad"
      }).catch(error =>{
        this.agregar()
      })
    },
    
    agregar(){
      var me = this
      if(!this.validaInfo){
          this.snackbar = true ; this.text = "Faltan campos por agregar"
        return
      }
    
      const formData = {
        Nomsuc    : this.Nomsuc.toUpperCase(),
        Direccion : this.Direccion.toUpperCase(),
        Colonia   : this.colonia.toUpperCase(),
        Ciudad    : this.ciudad.toUpperCase(),
        Estado    : this.estado.toUpperCase(),
        CP        : this.Cp,
        Telefono  : this.telefono.toUpperCase(),
        Idcliente : parseInt(this.Idcliente),
        Numsuc    : this.Numsuc.trim(),
        Nomcont   :'',
        Pais      :'MEXICO',
        Status    :1 ,
        Idservicio:2
      }

      // console.log("formdata", formData)

     this.$http.post('api/v1/sucursales', formData).then(function(response){
        // console.log('response de insert',response.body)
        this.snackbar=true ; this.text="La sucursal se agrego correctamente"
          setTimeout(function(){ me.$router.push({name: 'catsucursales'}) }, 2000);
      })
        .catch(function(error){
        console.log(error)
      })

    }

  }
};
</script>