<template>
  <v-layout row wrap justify-center>
    <v-flex xs12 sm6>
      <v-card   class="ma-2 pa-4 elevation-6 xs12" >
          
        <v-flex xs12 text-xs-center>
          <img  src="https://solemex.pro/img/logoSolemex.png" width="340px" height="100px" >
        </v-flex>

          <v-divider class="mx-3  my-4"></v-divider>
          <v-flex xs12 style="background: #E65100; color:white;" >
            <h4 align="center" >!LA REMESA  A SIDO VALIDADA! </h4>
          </v-flex>

          <v-layout row wrap>

            <v-flex xs12>
              <v-card max-width="100%" class="my-2 " style="padding: 10px">
  
                <v-flex xs12>  
                  <table >
                    <tr style="padding: 200px; margin: 40%" >
                      <td class=" mx-1" style=" font-weight:bold; margin: 10px;" >REMESA</td>
                      <td style="margin: 20px; padding: 1px; width: 32%;">SAIT19042207</td> 
                    </tr> 
                    <tr style="padding: 200px; margin: 40%">                  
                      <td class=" mx-1" style=" font-weight:bold; margin: 10px;" >PLAZA</td>
                      <td style="margin: 20px; padding: 1px; width: 32%;">NUEVO LEON</td>
                    </tr >
                    <tr style="padding: 200px; margin: 40%">
                      <td class=" mx-1" style=" font-weight:bold; margin: 10px;" >MENSAJERIA</td>
                      <td style="margin: 20px; padding: 1px; width: 32%;" >SOLEMEX</td>  
                    </tr>
                  </table>
                </v-flex>
                
              </v-card>
              
              <v-card max-width="100%" class="my-2" style="padding: 10px;">

                <v-flex xs12 class="">  
                  <table >

                    <tr style="padding: 200px; margin: 40%" >
                      <td class=" mx-1" style=" font-weight:bold; margin: 10px;" >Códigos Validados</td>
                      <td style="margin: 20px; padding: 1px; width: 8%">72</td> 
                    </tr> 

                    <tr style="padding: 200px; margin: 40%">  
                      <td class=" mx-1" style=" font-weight:bold; margin: 10px;" >Correctas</td>
                      <td style="margin: 20px; padding: 1px; width: 8%">65</td>
                    </tr >

                    <tr style="padding: 200px; margin: 40%">
                      <td class=" mx-1" style=" font-weight:bold; margin: 10px;" >Sobrantes</td>
                      <td style="margin: 20px; padding: 1px; width: 8%">2</td>  
                    </tr>

                    <tr style="padding: 200px; margin: 40%">
                      <td class=" mx-1" style=" font-weight:bold; margin: 10px;" >Faltantes</td>
                      <td style="margin: 20px; padding: 1px; width: 8%">5</td>  
                    </tr>

                  </table>
                </v-flex>   
               </v-card>
               
               <v-btn outline block color="primary" href="http://localhost:8080/validar">  Consultar desglose de validación </v-btn>
            
            
            <v-footer dark height="auto" class="mt-5">
              <v-card class="flex" flat tile>
                
                <v-card-title class="primary" dark>
                  <v-flex text-xs-center class="">Mensajería, Paquetería, renta de persona con o sin vehiculo.</v-flex>
                </v-card-title>

                <v-card-actions class="grey darken-2 justify-center">
                  &copy;2019 — <span>Sait Software Administrativo</span>
                </v-card-actions>
              </v-card>
            </v-footer>
            </v-flex>
          </v-layout>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
  export default{
    data(){
      return{
        Numrem: "MG898989898",
      
        // Arreglos
        CodigosValidados: [],
        Guias           : [],
        Correctas       : [],
        Sobrantes       : [],
        Faltantes       : [],

        icons: [
        'fab fa-facebook',
        'fab fa-twitter',
        'fab fa-google-plus',
        'fab fa-linkedin',
        'fab fa-instagram'
      ]

      }
    },

    methods:{
  
    }

  };
</script>

<style scoped>
/*  .borde{
    background: #E65100;
    color:white;
  }

.titulo{
    font-weight:bold;
    margin: 10px;
  }
.contenido{
  margin: 20px;
  padding: 1px;
  width: 32%;

}

.valores{
  margin: 20px;
  padding: 1px;
  width: 8%
}

.forma{
  padding: 200px;
  margin: 40%
}

.Desglose{
  padding: 10px;
}*/

</style>


