<template>
  <v-layout row wrap justify-center class="pa-4">
    <v-flex xs12 md10 lg10>

      <v-snackbar
        v-model="snackbar"
        :timeout="4000"
        top
        color="blue" 
        >
        {{text}}
        <v-btn
          color="white"
          flat
          @click="snackbar = false"
        >
          Cerrar
        </v-btn>
      </v-snackbar>
      <v-layout row wrap>
          
        <v-flex xs6 sm9 class="mx-2">
         <h2>Mensajeros</h2>  
        </v-flex> 

        <v-flex xs1>

          <v-btn outline color="orange">
            <a href="https://solemex.pro/solemex.apk" 
               download="solemex.apk" 
               style="text-decoration:none">
               <span style="color:'white">App Móvil<v-icon right>cloud_download</v-icon></span>
            </a>
          </v-btn>
        </v-flex>

        <!-- BUSQUEDA -->
        <v-flex xs12 sm5 md3 class="mx-1" text-xs-center>
          <v-text-field
          class="text-xs-center" v-model="search" append-icon="search" label="Búsqueda de Mensajeros" sinlge-lin hide-details
          sinlge-lin hide-details
          ></v-text-field>
        </v-flex>

        <v-flex xs12 sm5 md3 text-xs-center>
          <v-select
            :items="mensaje"
            label="Mensajeria"
            item-text="mensajería"
            v-model="mensajeria"
            class="text-xs-center"
            append-icon="email"
            sinlge-lin hide-details 
            :disabled="disabled"
          ></v-select>
        </v-flex>

        <!-- BOTON NUEVO VENDEDOR -->
        <v-flex xs8 sm6 md4 >
          <v-btn  color="primary" sinlge-lin hide-details dark class="mb-1" :to="{name: 'newmensajero'}" >Nuevo Mensajero</v-btn>
          <v-btn  icon color="blue" dark @click="consultarAll" v-if ="acceso == true "><v-icon>autorenew</v-icon></v-btn>
        </v-flex>

        <v-flex xs1>
            <div><ExpExcelMensajeros/></div> 
        </v-flex>


      </v-layout>

      <template >
        <v-progress-linear height="4" :indeterminate="true" v-if="Mensajeros == '' && alerta == false "></v-progress-linear>
      </template>

      <v-data-table
        hide-actions
        :headers="headers"
        :items="Mensajeros"
        :search="search"
        :pagination.sync="pagination"
        class="elevation-1 mt-2"
        v-if ="Mensajeros != '' "
      >
        
        <template slot="items" slot-scope="props">
           <td class="text-xs-left" v-on:dblclick="edit(props.item.ID)">{{ props.item.ID }}</td>
          <td class="text-xs-left" v-on:dblclick="edit(props.item.ID)">{{ props.item.Nombre }}</td>
          <td class="text-xs-left" v-on:dblclick="edit(props.item.ID)">{{ props.item.nommensajeria }}</td>
        </template>
          
      </v-data-table>
       <!-- Botón que aparecera en caso de no ser generada la infomación -->
      <template v-if ="Mensajeros == '' && alerta == true">
        <v-alert :value="true" color="blue" icon="warning">
          Está mensajería no tiene mensajeros.
        </v-alert>
      </template>

        <!-- Paginación -->
      <div class="text-xs-center" v-if="Mensajeros != '' ">
        <v-pagination
          v-model="pagination.page"
          :length="pages"
          :total-visible="5"
        ></v-pagination>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
  import jsPDF from 'jspdf'
  import AutoTable from 'jspdf-autotable'
  import {mapGetters, mapActions} from 'vuex'
  import ExpExcelMensajeros from '@/views/mensajeros/ExpExcelMensajeros'

  export default {
    components:{
      ExpExcelMensajeros
    },
    data(){
      return{
        search: '',
        pagination: {},
        elected: [],
        dialog: false,

        acceso: false,
        alerta: false,

        snackbar: false,
        text: false,
        Mensajeros: [],

        disabled: false,

        headers: [
          { text: 'ID'          ,  value: 'ID' },
          { text: 'Nombre'      ,  value: 'Nombre' },
          { text: 'Mensajeria'  ,  value: 'nommensajeria' }
        ],

        // Mensajeria
        mensaje       :[],
        IdMensajeria  :'',
        mensajeria    :'',
        Nummensajeria :[],
      }
    },
      
    computed: {
      pages () {
        if (this.pagination.rowsPerPage == null || this.pagination.totalItems == null ) {
          return 0
        }else{
          this.pagination.rowsPerPage = 8
          return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
        }
      },

      ...mapGetters('login',['getdatosUsuario']),

    },

    created () {

       var me = this 
       this.$http.get('api/v1/mensajeria').then(function(response){
        // console.log('respuesta',response.body)
        response.body.forEach(function(element) {
          me.mensaje.push(element.Nommensajeria)
          me.Nummensajeria.push(element)
        })
      })

       // Mando a llamar ValidaUsuario 
       this.ValidaUsuario()
    },

    watch:{
      mensajeria: function() {
        var me = this
        
        this.Nummensajeria.forEach(function(element) {
          if(me.mensajeria == element.Nommensajeria){
              me.IdMensajeria = element.Id
          }
        })
        
        this.alerta   = false
        const payload = { IdMensajeria : parseInt(this.IdMensajeria) }
        this.consultarxMensajeria(payload)

      }
    },

    methods: {

      ...mapActions('mensajeros',['ActualizaMensajeros']),

      consultarAll(){
        this.Mensajeros = ''
        this.mensajeria = ''
        this.alerta   = false

        this.$http.get('api/v1/mensajeros').then(function(response){
          // console.log('todos', response.body)
          this.Mensajeros = response.body
          // Actualizar Información en el state
          this.ActualizaMensajeros(response.body)

          this.paginas(response.body)
        }).catch(function(error){
          console.log(error)
        })
      },

      consultarxMensajeria(payload){

         this.Mensajeros = ''
        this.$http.post('api/v1/mensajerosxmia', payload).then(function(response){
        // console.log('respuesta',response.body)
          // console.log('por mensajeria', response.body)

          if(response.body != 'null'){
            this.Mensajeros = response.body
            this.ActualizaMensajeros(response.body)

            this.paginas(response.body)
          }else{
            this.snackbar = true, this.text = "Está mensajería no tiene mensajeros."
            this.alerta = true

          }
            
        }).catch(function(error){
          console.log(error)
        })
    
      },

      ValidaUsuario(){
        this.Mensajeros = ''
        // Validar que el nivel sea Sait o Solemex
        if(this.getdatosUsuario.Nivel === "SOLEMEX"){
          // this.IdMensajeria  =  this.getdatosUsuario.idmensajeria 
          // this.mensajeria    =  this.getdatosUsuario.nommensajeria
          this.acceso    = true
          this.disabled  = false 

          // Mando a traer todos los mensajeros
          this.consultarAll()

        }else { // Si tiene un nivel diferente bloqueo selector Nomcli
          this.IdMensajeria  =  this.getdatosUsuario.idmensajeria 
          this.mensajeria    =  this.getdatosUsuario.nommensajeria
          this.acceso    = false
          this.disabled = true
          
          if(this.IdMensajeria == 0 ){
            this.snackbar = true; this.text = "Debe pertenecer a una mensajería."
          }else{
          
            // Formo el primer arreglo para consultar
            const payload = { IdMensajeria: parseInt(this.IdMensajeria)}
            this.consultarxMensajeria(payload)
          }
        }

      },

      edit(item){
        this.$router.push({name:'editmensajero', params: {id: item}})
      },
         // inicar paginacion
      paginas(value){

        var pag = value.length
        
        if ( pag <= 0 ) {
          return 0

        }else{

          this.pagination.rowsPerPage = 8 ; this.pagination.totalItems  = pag
          return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
        }

      }
    }
  }
</script>