<template>
  <v-layout row wrap justify-center class="pa-4">
    <v-flex xs12 md7 lg7>

      <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      color="blue" 
      >
      {{text}}
      <v-btn
        color="white"
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
       
      <v-card>
        <v-flex xs12>
          <v-toolbar color="primary" dark>
            <v-toolbar-title > Editar Mensajero </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn  flat color="blak" dark @click="DeleteMensajero">Eliminar<v-icon>delete_forever</v-icon></v-btn>
          </v-toolbar>
        </v-flex>
      </v-card>
   
      <v-card class="elevation-5 mt-1 pa-1">
        <v-form> 
          <v-layout row wrap  class="mx-5">

            <v-flex xs12 md10 lg10 class="mt-2"> 
              <v-text-field
                prepend-icon="account_box"
                v-model="cargarMensajeroAEdit.Nombre"
                label="Nombre del Mensajero"
              ></v-text-field>
            </v-flex>
            
            <v-spacer></v-spacer>
            <v-flex xs12 md2 lg2  > 

              <v-radio-group v-model="estatus" :mandatory="false">
                <!-- <v-layout row wrap> -->
                  <v-flex xs3  class="mx-3">
                    <v-radio label="Activo"  color="success" value="activo-si"></v-radio>           
                    <v-radio label="Inactivo"  color="red"   value="activo-no"></v-radio>
                  </v-flex>                 
                <!-- </v-layout> -->
              </v-radio-group>
            </v-flex>


             <v-flex xs12 md6 class="mt-1">
              <v-select
                :items="mensaje"
                label="Mensajeria"
                item-text="mensajeria"
                v-model="mensajeria"
                class="text-xs-center"
                prepend-icon="email"
                sinlge-lin hide-details 
              ></v-select>
            </v-flex>
            
            <!-- <v-flex xs6></v-flex> -->
            <v-flex xs12 md6 class="mt-1"  >
              <v-text-field
                autofocus
                v-model="cargarMensajeroAEdit.Nomuser" 
                prepend-icon="person_pin" 
                label="Usuario de App" 
                type="text"
                v-on:keyup ="Mayuscula($event)"
              ></v-text-field>
            </v-flex>

              
              <v-flex xs12 v-if="cambia == true"  >
               <v-btn round color= "success" dark  @click="CambiarPassword" >Cambiar Contraseña</v-btn>
              </v-flex>

              <v-flex xs12  v-else >
               <v-btn  round color= "red" dark  @click="CambiarPassword">Cancelar</v-btn>
              </v-flex>
        

              <v-flex xs12 md6 lg6 class="mt-1" v-if="cambia == false">
                <v-text-field
                  v-model="password"
                  prepend-icon="lock"
                  :append-icon="show1 ? 'visibility_off' : 'visibility'"
                  :rules="[rules.required, rules.min]"
                  :type="show1 ? 'text' : 'password'"
                  name="input-10-1"
                  label="Contraseña"
                  hint="At least 8 characters"
                  counter
                  @click:append="show1 = !show1"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 md6 lg6 class="mt-1" v-if="cambia == false">
                <v-text-field
                  v-model="password2"
                  prepend-icon="lock"
                  :append-icon="show2 ? 'visibility_off' : 'visibility'"
                  :rules="[rules.required, rules.min]"
                  :type="show2 ? 'text' : 'password'"
                  name="input-10-1"
                  label=" Confirmar Contraseña"
                  hint="At least 8 characters"
                  counter
                  @click:append="show2 = !show2"
                ></v-text-field>
                  
              </v-flex>
        
          </v-layout>

          <v-divider class="mx-5 mt-2"></v-divider>
          <v-layout row wrap justify-center>
            <v-flex xs4 md2 class="mt-2 ">
              <v-btn color="primary" @click="validaInfo" >Editar</v-btn>
            </v-flex>
            <v-flex xs4 md2 class="mt-2">
              <v-btn color="error" :to="{name:'catmensajeros'}">Cancelar</v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default{
    data () {    
      return {
        // VARIABLES 
        Nombre:   '',
        Nomuser: '',
        
        // SNACKBAR
        snackbar: false,
        text:     '',

        // BOTON PARA EDITAR CONTRASEÑA
        cambia: true,

        // SELECTOR MENSAJERIA
        nommensajeria:  '',
        mensajeria: '',
        mensaje:        [],
        Nummensajeria:  [],

        // ARREGLO PRINCIPAL
        cargarMensajeroAEdit: '',
        IdMensajeria: '',

        // VER PASSWORD
        show1: true,
        show2: true,

        // VARIABLES PARA ESTATUS
        estatus: '',
        estatusEdit:'',

        // VARIABLES PARA CONTRASEÑA
        password:'',
        password2:'',
        PasswordAEdit:'',
        
        rules: {
          required: value => !!value || 'Requerido.',
          min: v => v.length >= 5 || 'Minimo 5 caracteres',
          emailMatch: () => ('El correo y/o la contraseña no son correctos')
        }
      }
    },

    created () {
      // Buscar Mensajero a editar
      this.busIdMensajero(this.$route.params.id)

      // Busqueda de Mensajeria
      var me = this
      this.$http.get('api/v1/mensajeria').then(function(response){
        response.body.forEach(function(element) {
          me.mensaje.push(element.Nommensajeria)
          me.Nummensajeria.push(element)

        })
      })
    },

    watch:{
      mensajeria: function() {
        var me = this
        
        this.Nummensajeria.forEach(function(element) {
          if(me.mensajeria == element.Nommensajeria){
              me.IdMensajeria = element.Id
          }
        })
      }
    },

  computed:{  
    validainfo(){
        return  this.cargarMensajeroAEdit.Nombre         !==  '' &&       
                this.mensajeria    !==  '' &&
                this.cargarMensajeroAEdit.Nomuser       !==  '' 
      },

      validaPassword(){
          return this.password  !== '' &&
                 this.password2 !== ''    
      }
   },

   methods:{

    validaInfo(){

      if(!this.validainfo){
        this.text     = "Faltan campos por agregar"
        this.snackbar = true
        return
      }

      // TRANSFORMAR ESTATUS EN 1 O 2
     if(this.estatus == "activo-si"){
        this.estatusEdit = 2
      }else {

        this.estatusEdit = 1
      }

      if(this.cambia == false){
        // COMPARO LAS CONTRASEÑAS => TIENEN QUE SER IGUAL
        if(this.password.localeCompare(this.password2) ){
          this.text     = "Las contraseñas no coinciden"
          this.snackbar = true
          return
        }else 
          // MANDO A LLAMAR validaPassword() DE COMPUTED
          if(!this.validaPassword){
            this.text     = "No se puede omitir las contraseñas"
            this.snackbar = true
            return
          }else{
            // ASIGNO LA NUEVA CONTRASEÑA A VARIABLE PARA GRABAR
            var md5 = require('md5');
            this.PasswordAEdit = md5(this.password)

            this.agregar()
          }
      }else{
        // SI NO SE MODIFICO LA CONTRASEÑA CONSERVO LA ACTUAL
        this.PasswordAEdit = this.cargarMensajeroAEdit.password

        this.agregar()
      }
    },
    
     agregar(){
      var me = this
      this.$http.put('api/v1/mensajeros/'+ this.cargarMensajeroAEdit.ID,{
        'Nombre'        :  this.cargarMensajeroAEdit.Nombre,
        'Nomuser'       :  this.cargarMensajeroAEdit.Nomuser,
        'Password'      :  this.PasswordAEdit,
        'idmensajeria'  :  parseInt(this.IdMensajeria),
        'nommensajeria' :  this.mensajeria,
        'ID'            :  this.cargarMensajeroAEdit.ID,
        'add_Numuser'   : 0,
        'estatus'       : this.estatusEdit,
        'Edit_Numuser'  : 0,
        'Ftoife1'       : "",
        'Ftoife2'       : "",
        'Ife'           : "",

      }).then(function(response){
        this.snackbar=true ; this.text="La información se guardo correctamente"
          setTimeout(function(){ me.$router.push({name: 'catmensajeros'}) }, 2000);
      })
        .catch(function(error){
        console.log(error)
      })
    },

    //Funcion para mostrar Campos de contraseña
    CambiarPassword(){

      if(this.cambia == true){
        this.cambia = false
      }else{
        this.cambia = true
      }
      
    },

    // BUSCAR UN MENSAJERO 
    busIdMensajero(id){
      this.$http.get('api/v1/mensajeros/' + id).then(function(response){ 
        // console.log('respuesta',response.body)
        
        this.cargarMensajeroAEdit = response.body
        this.IdMensajeria         = response.body.idmensajeria
        this.mensajeria           = response.body.nommensajeria

        if(response.body.estatus == '2'){
          this.estatus = "activo-si"
        }else{
          this.estatus = "activo-no"
        }

        }).catch(function(error){
          console.log(error)
        })
    },
    
    DeleteMensajero(){
      var me = this 
      var id = this.cargarMensajeroAEdit.ID

      this.$http.delete('api/v1/mensajeros/' + id)
      .then(function(response){
        this.snackbar=true ; this.text="El mensajero fue eliminado correctamente"
          setTimeout(function(){ me.$router.push({name: 'catmensajeros'}) }, 2000);

      }).catch(function(error){
        console.log(error)
      })
    },

    Mayuscula(e) {
        e.target.value = e.target.value.toUpperCase()
    }


  }
};
</script>