<template>
  <v-layout row wrap justify-center class="pa-4">
    <v-flex xs12 md7 lg7>

      <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      color="blue" 
      >
      {{text}}
      <v-btn
        color="white"
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
       
      <v-card>
        <v-flex xs12>
          <v-toolbar color="primary" dark>
            <v-toolbar-title > Nuevo Mensajero </v-toolbar-title>
          </v-toolbar>
        </v-flex>
      </v-card>
   
      <v-card class="elevation-5 mt-1 pa-1">
        <v-form> 
          <v-layout row wrap  class="mx-5">

            <v-flex xs12 md12 lg12 class="mt-2"> 
              <v-text-field
                prepend-icon="account_box"
                v-model="Nommensajero"
                label="Nombre del Mensajero"
              ></v-text-field>
            </v-flex>

            <v-flex xs12 md6 class="mt-1">
              <v-select
                :items="mensaje"
                label="Mensajeria"
                item-text="mensajeria"
                v-model="mensajeria"
                class="text-xs-center"
                prepend-icon="email"
                sinlge-lin hide-details 
              ></v-select>
            </v-flex>
            
            <!-- <v-flex xs6></v-flex> -->
            <v-flex xs12 md6 class="mt-1"  >
              <v-text-field
                autofocus
                v-model="nomuser" 
                prepend-icon="person_pin" 
                label="Usuario de App" 
                type="text"
                v-on:keyup ="Mayuscula($event)"
              ></v-text-field>
            </v-flex>

            <!-- <input type="text" v-model="customer.name" @input="Mayuscula($event)"> -->

            <v-flex xs12 md6 lg6 class="mt-1">
              <v-text-field
                v-model="password"
                prepend-icon="lock"
                :append-icon="show1 ? 'visibility_off' : 'visibility'"
                :rules="[rules.required, rules.min]"
                :type="show1 ? 'text' : 'password'"
                name="input-10-1"
                label="Ingresa tu contraseña"
                hint="At least 8 characters"
                counter
                @click:append="show1 = !show1"
              ></v-text-field>
            </v-flex>

            <v-flex xs12 md6 lg6 class="mt-1">
              <v-text-field
                v-model="password2"
                prepend-icon="lock"
                :append-icon="show2 ? 'visibility_off' : 'visibility'"
                :rules="[rules.required, rules.min]"
                :type="show2 ? 'text' : 'password'"
                name="input-10-1"
                label="Confirma la contraseña"
                hint="At least 8 characters"
                counter
                @click:append="show2 = !show2"
              ></v-text-field>
                
            </v-flex>
        
          </v-layout>

          <!-- <v-divider class="mx-5"></v-divider> -->
          <v-layout row wrap justify-center>
            <v-flex xs4 md2 class="mt-2 ">
              <v-btn color="primary" @click="validaInfo" >Agregar</v-btn>
            </v-flex>
            <v-flex xs4 md2 class="mt-2">
              <v-btn color="error" :to="{name:'catmensajeros'}">Cancelar</v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default{
    data () {    
      return {
        Nommensajero:   '',
        nomuser: '',
        snackbar: false,
        text:     '',
        mensajeria:  '',
        mensaje:        [],
        Nummensajeria:  [],
        IdMensajeria: '',
        show1: true,
        show2: true,
        password:'',
        password2:'',
        
        rules: {
          required: value => !!value || 'Requerido.',
          min: v => v.length >= 5 || 'Minimo 5 caracteres',
          emailMatch: () => ('El correo y/o la contraseña no son correctos')
        }
      }
    },

    created () {

      // Busqueda de vendedores
      var me = this
      this.$http.get('api/v1/mensajeria').then(function(response){
        // console.log('respuesta',response.body)
        response.body.forEach(function(element) {
          me.mensaje.push(element.Nommensajeria)
          me.Nummensajeria.push(element)
        })
      })

    },

    watch:{
      mensajeria: function() {
        var me = this
        
        this.Nummensajeria.forEach(function(element) {
          if(me.mensajeria == element.Nommensajeria){
              me.IdMensajeria = element.Id
              // console.log('Numero de mensajeria ', me.IdMensajeria)
          }
        })
      }
    },

  computed:{
  
    validainfo(){
        return  this.Nommensajero  !==  '' &&       
                this.mensajeria    !==  '' &&
                this.nomuser       !==  '' &&
                this.password      !==  '' &&
                this.password2     !==  '' 
      },
      validaPassword(){

      return this.password.localeCompare(this.password2)        
    }
   },

   methods:{

    validaInfo(){

      if(!this.validainfo){
        this.text     = "Faltan campos por agregar"
        this.snackbar = true
        return
      }

      if(this.validaPassword != 0){
        this.text     = "Las contraseñas no coinciden"
        this.snackbar = true
        return
      }else{
        // this.validaUsuario()
        this.agregar()

      }

    },
    
     agregar(){

      var md5 = require('md5');
      var me = this
      const formData = {

        Nombre        : this.Nommensajero,
        Nomuser       : this.nomuser,
        Password      : md5(this.password),
        add_Numuser   : 0,
        estatus       : 2,
        idmensajeria  : parseInt(this.IdMensajeria),
        nommensajeria : this.mensajeria,    
        Edit_Numuser  : 0,
        Ftoife1       : "",
        Ftoife2       : "",
        ID            : "",
        Ife           : "",
      }

      // console.log("formdata", formData)

      this.$http.post('api/v1/mensajeros', formData).then(function(response){

        this.snackbar=true ; this.text="El mensajero se agrego correctamente"
          setTimeout(function(){ me.$router.push({name: 'catmensajeros'}) }, 2000);
      })
        .catch(function(error){
        console.log(error)
      })

    },

    validaUsuario(){

     //validar contraseña
      this.$http.post('api/v1/mensajero', {
        'Nomuser': this.nomuser,
      })
        .then(function(response){
        // console.log('respuesta',response.body)
          
      })
        .then(function(response){

          if(response.body === null){
            this.agregar()
          }else{
            this.snackbar = true 
            this.text     = "Lo sentimos este usario ya existe"
          }
        })
        .catch(function(error){
        console.log(error)
      })
    },

    Mayuscula(e) {
        e.target.value = e.target.value.toUpperCase()
    }

    
}

};
</script>

<style scoped>

</style>