<template>
  <v-layout row wrap justify-center class="pa-2">
    <v-flex xs12 md10 lg10>

      <v-snackbar
        v-model="snackbar"
        :timeout="4000"
        top
        color="blue" 
        >
        {{text}}
        <v-btn
          color="white"
          flat
          @click="snackbar = false"
        >
          Cerrar
        </v-btn>
      </v-snackbar>
      <v-layout row wrap>
          
        <v-flex xs12 sm9 class="mx-2">
         <h2>Supervisión de Mensajeros</h2>  
        </v-flex> 

        <!-- BUSQUEDA -->
        <v-flex xs12 sm5 md3 class="pa-1" text-xs-center>
          <v-text-field
          class="text-xs-center" v-model="search" append-icon="search" label="Búsqueda de Mensajeros" sinlge-lin hide-details
          sinlge-lin hide-details
          ></v-text-field>
        </v-flex>

        <v-flex xs12 sm5 md4 class="pa-1" >
	        <v-select
	          :items="Nombre"
	          label="Mensajero"
	          item-text="mensajero"
	          v-model="mensajero"
	          class="text-xs-center"
	          append-icon="local_shipping"
	          sinlge-lin hide-details 
	        ></v-select>
	      </v-flex>

	      <v-flex xs12 sm6 md3 class="pa-1">
          <v-dialog
            ref="dialog"
            v-model="modal"
            :return-value.sync="date"
            persistent
            lazy
            color="primary"
            full-width
            width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="date"
                label="Fecha "
                append-icon="event"
                readonly
                color="secondary"
                v-on="on"
              ></v-text-field>
            </template>

            <v-date-picker v-model="date" scrollable locale="es-es" color="primary">
              <v-spacer></v-spacer>
              <v-btn flat color="error"   @click="modal = false">Cancelar</v-btn>
              <v-btn flat color="secondary" @click="$refs.dialog.save(date)">OK</v-btn>
            </v-date-picker>
          </v-dialog>
        </v-flex>

         <v-flex xs1>
            <div><ExpExcelSupervision/></div> 
        </v-flex>

      </v-layout>

      <template >
        <v-progress-linear height="4" :indeterminate="true" v-if="alerta == false && Supervision == '' "></v-progress-linear>
      </template>

      <v-data-table
        hide-actions
        fixed-headers
        :headers="headers"
        :items="Supervision"
        :search="search"
        class="elevation-5"
        :pagination.sync="pagination"
        disable-initial-sort
        v-if = "Supervision != '' "
      >
        
        <template slot="items" slot-scope="props">
          <td class="text-xs-left">{{ props.item.Estatus }}</td>
          <td class="text-xs-left">{{ props.item.Numguia  }}</td>
          <td class="text-xs-left">{{ props.item.Fecha    }}</td>
          <td class="text-xs-left">{{ props.item.Hora     }}</td>
          <td class="text-xs-left">{{ props.item.MoL      }}</td>
        </template>
          
      </v-data-table>
       <!-- Botón que aparecera en caso de no ser generada la infomación -->
      <template v-if ="alerta = true">
        <v-alert :value="true" color="blue" icon="warning" v-if="mensajero != '' && Supervision == '' ">
          No se encontro trabajo realizado por el mensajero.
        </v-alert>
        <v-alert :value="true" color="blue" icon="warning" v-if="mensajero == '' ">
          Seleccione un Mensajero. 
        </v-alert>
      </template>

        <!-- Paginación -->
      <div class="text-xs-center" v-if="Supervision != '' ">
        <v-pagination
          v-model="pagination.page"
          :length="pages"
          :total-visible="7"
        ></v-pagination>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
  import jsPDF from 'jspdf'
  import AutoTable from 'jspdf-autotable'
  import {mapActions} from 'vuex'
  import ExpExcelSupervision from '@/views/mensajeros/ExpExcelSupervision'

  export default {

    components:{
      ExpExcelSupervision
    },
    data(){
      return{
      	Tarjetas: [],
      	Intentos: [],
      	Hora: '',

        search: '',
        pagination: {},
        alerta: false,
        disabled: false,

        snackbar: false,
        text: false,
        Supervision: [],

        date : new Date().toISOString().substr(0, 10),
	      menu : false,
	      modal: false,
	      menu2: false,

        headers: [
          { text: 'Estatus'     ,  value: 'Estatus' },
          { text: 'Folio'       ,  value: 'Numguia' },
          { text: 'Fecha'       ,  value: 'Fecha'   },
          { text: 'Hora'        ,  value: 'Hora'    },
          { text: 'Motivo/Lugar',  value: 'MoL'     },

        ],

        // SELECTOR MENAJERO
      	Nombre: [],     // Arreglo para mostrar
        idMensajero:'', //Id - para grabar 
        mensajero: '',  // v-model
        mensajeros:[],  // Arreglo para watch
      }
    },
      
    computed: {
      pages () {
        if (this.pagination.rowsPerPage == null || this.pagination.totalItems == null ) {
          return 0
        }else{
          this.pagination.rowsPerPage = 8
          return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
        }
      },

    },

    created () {
    	var me = this
    	// Busqueda de Mensajeros
      this.$http.get('api/v1/mensajeros').then(function(response){
        response.body.forEach(function(element) {
          me.Nombre.push(element.Nombre)
          me.mensajeros.push(element)
        })
      })
    },

    watch:{
    	mensajero: function() {
    		this.alerta      = false
    		this.Supervision = []
    		this.Tarjetas    = []
    		this.Intentos    = []
        var me = this
        me.mensajeros.forEach(function(element) {
          if(me.mensajero == element.Nombre){
              me.idMensajero = element.ID
          }
        })
        me.SupervisionTarj()
        // me.SupervisionInt()
      },

      date: function(){
      	this.alerta      = false
    		this.Supervision = []
    		this.Tarjetas    = []
    		this.Intentos    = []
        var me = this
        me.SupervisionTarj()
        // me.SupervisionInt()
      }
    },

    methods: {
      ...mapActions('mensajeros',['ActualizaSupervision']),

    	SupervisionTarj(){
    		var me = this
    		const payload = { Mensajero : parseInt(this.idMensajero), Fecha_entrega: this.date}
      	this.$http.post('api/v1/supervisiontarj', payload).then (response => {
      		
      		if(response.body != 'null'){
      			this.Tarjetas = response.body
      		}
          this.SupervisionInt()

      	}).catch(function(error){
      		console.log(error)
      	})
  		},

  		SupervisionInt(){

    		const payload = { Mensajero : parseInt(this.idMensajero), Fecha: this.date}
      	this.$http.post('api/v1/supervisionint', payload).then(response => {
          console.log('intenots', response.body)
      		if(response.body != 'null'){
	      		this.Intentos = response.body
      		}
      		
      		this.PushEntregadas()

      	}).catch(function(error){
      		console.log(error)
      	})
  		},

  		PushEntregadas(){
  			var NomEstatus 
  			var Lugar

  			if(this.Tarjetas.length != 0){
	  			for (var i = this.Tarjetas.length - 1; i >= 0; i--) {
	  				if(this.Tarjetas[i].Estatus == 3){
	  				
	  					if(this.Tarjetas[i].Tipoent == 'D'){
	  						NomEstatus = 'DOMICILIO'
	  					}else if(this.Tarjetas[i].Tipoent == 'S'){
								NomEstatus = 'SUCURSAL'
	  					}else{
	  						NomEstatus = 'NO DEFINIDO'
	  					}
	  					this.HoraMic = new Date('1970-01-01T'+ this.Tarjetas[i].hora_entrega + 'Z')
	  					this.Supervision.push({ Estatus  : 'ENTREGADA',
	  																	Numguia  : this.Tarjetas[i].Numguia,
	  																  Fecha    : this.Tarjetas[i].fecha_entrega,
	  																  Hora     : this.Tarjetas[i].hora_entrega,
	  																  HoraMic  : parseInt(this.HoraMic.getTime()),
	  																  MoL      : NomEstatus,
	  																  Latitude : this.Tarjetas[i].Latitude,
	  																  Longitude: this.Tarjetas[i].Longitude,
                                      Nombre   : this.mensajero
	  																})
	  				}
	  			}
  			// console.log('Supervision', this.Supervision)
  			this.PushIntentos()

        }else{

  			this.PushIntentos()
        }
  		},

  		PushIntentos(){

  			if(this.Intentos.length != 0){
	  			for (var j = this.Intentos.length - 1; j >= 0; j--) {
     				
     				this.HoraMic = new Date('1970-01-01T'+ this.Intentos[j].hora + 'Z')
						this.Supervision.push({ Estatus  : 'INTENTO',
																		Numguia  : this.Intentos[j].Numguia,
																	  Fecha    : this.Intentos[j].fecha,
																	  Hora     : this.Intentos[j].hora,
																	  HoraMic  : parseInt(this.HoraMic.getTime()),
																	  MoL      : this.Intentos[j].Motivo,
																	  Latitude : this.Intentos[j].Latitude,
																	  Longitude: this.Intentos[j].Longitude,
                                    Nombre   : this.mensajero
																	})
	  			}
  			}
  				this.OrdenaXhora()
          this.paginas(this.Supervision)
  		},

  		OrdenaXhora(){
  			if(this.Supervision != '' ){
	  			this.Supervision.sort(function(a,b){
	         if (a.HoraMic > b.HoraMic) {
	           return 1;
	         }
	         if (a.HoraMic < b.HoraMic) {
	           return -1;
	         }
	         return 0;
	        })
	  		}else{
	  			this.alerta = true
	  		}
	  		// Actualizar datos para Excel
        console.log('t', this.Supervision)
        this.ActualizaSupervision(this.Supervision)

  		},
      // inicar paginacion
      paginas(value){
        var pag = value.length
        if ( pag <= 0 ) {
          return 0
        }else{
          this.pagination.rowsPerPage = 8 ; this.pagination.totalItems  = pag
          return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
        }

      }
    }
  }
</script>