<template>
  <v-app id="inspire">
  <v-navigation-drawer
    v-if=" logueado && getMenu == true "
    v-model="drawer"
    fixed
    app
  >
    
    <!-- v-if="Navigation == true " -->
    <v-container>
      <v-flex xs12 text-xs-center>
        <img src="solemex.png" alt="alt" max-height="80" width="200" align="center">
      </v-flex>
    </v-container>
    
    <v-divider></v-divider>
    <v-flex xs12 text-xs-center class="cliente" v-if="getdatosUsuario.Nomcli !='' ">
      <div><h4>{{ getdatosUsuario.Nomcli}}</h4></div>
    </v-flex>
    <v-divider></v-divider>
<!--  HOME<-->   
  
    <v-list>

      <template>
        <v-list-tile :to="{name: 'home' }">
          <v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Solemex </v-list-tile-title>
        </v-list-tile>
      </template>

      <template v-if = "esAdministradorSait || esSolemex || esBanco ">
      <v-list-group
        prepend-icon="card_giftcard"
        value="true"
      >
<!-- REMESAS -->
        <template v-if = "esAdministradorSait || esSolemex || esBanco ">  
          <v-list-tile slot="activator">
            <v-list-tile-title>Administración</v-list-tile-title>
          </v-list-tile>
        </template>
<!-- <<<<<<<<<<<<<<RUTAS EXTERNAS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
  
        <template v-if = "esRutalibre  ">
          <v-list-tile :to="{name: 'linkrastreo', params:{numguia:numguia} }">
            <v-list-tile-action> </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>link Rastreo</v-list-tile-title>
            </v-list-tile-content>
            <v-icon>home</v-icon>  
          </v-list-tile>
        </template>

        <template v-if = "esRutalibre  ">
          <v-list-tile :to="{name: 'linkintentos', params:{numguia:numguia} }">
            <v-list-tile-action> </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>link Intentos</v-list-tile-title>
            </v-list-tile-content>
            <v-icon>accessible_forward</v-icon>  
          </v-list-tile>
        </template>

        <template v-if = "esRutalibre  ">
          <v-list-tile :to="{name: 'linkasigna', params:{numguia:numguia} }">
            <v-list-tile-action> </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>link Asigna</v-list-tile-title>
            </v-list-tile-content>
            <v-icon>accessibility_new</v-icon>  
          </v-list-tile>
        </template>

        <template v-if = "esRutalibre  ">
          <v-list-tile :to="{name: 'linkentregasuc', params:{numguia:numguia} }">
            <v-list-tile-action> </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>link Entrega en sucursal</v-list-tile-title>
            </v-list-tile-content>
            <v-icon>accessibility_new</v-icon>  
          </v-list-tile>
        </template>
<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->

<!--         <template v-if = "esAdministradorSait || esSolemex ">
          <v-list-tile :to="{name: 'pruebas' }">
            <v-list-tile-action> </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Pruebas</v-list-tile-title>
            </v-list-tile-content>
            <v-icon>credit_card</v-icon>  
          </v-list-tile>
        </template>
 -->
        <template v-if = "esAdministradorSait || esSolemex || esBanco ">
          <v-list-tile :to="{name: 'catremesas' }">
            <v-list-tile-action> </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Remesas</v-list-tile-title>
            </v-list-tile-content>
            <v-icon>credit_card</v-icon>  
          </v-list-tile>
        </template>

        <template v-if = "esAdministradorSait || esSolemex || esBanco ">
          <v-list-tile :to="{name: 'avanceremesa' }">
            <v-list-tile-action> </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Avance de Remesas</v-list-tile-title>
            </v-list-tile-content>
            <v-icon>credit_card</v-icon>  
          </v-list-tile>
        </template>
        
        <template v-if = "esAdministradorSait || esSolemex  ">
          <v-list-tile :to="{name: 'asignarplaza' }">
            <v-list-tile-action> </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Asignar Plazas</v-list-tile-title>
            </v-list-tile-content>
            <v-icon>credit_card</v-icon>  
          </v-list-tile>
        </template>

        <template v-if = "esAdministradorSait || esSolemex || esBanco ">
          <v-list-tile :to="{name: 'cattarjetas' }">
            <v-list-tile-action> </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Tarjetas</v-list-tile-title>
            </v-list-tile-content>
            <v-icon>credit_card</v-icon>
          </v-list-tile>
        </template>

        <template v-if = "esAdministradorSait || esSolemex || esBanco ">
          <v-list-tile :to="{name: 'rastreartarjeta' }">
            <v-list-tile-action> </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Rastreo de Tarjetas</v-list-tile-title>
            </v-list-tile-content>
            <v-icon>pin_drop</v-icon>
          </v-list-tile>
        </template>
      </v-list-group>
    </template>


<!-- OPERACIONES -->
      <template v-if = "esAdministradorSait || esSolemex || esMensajeria">
        <v-list-group
          prepend-icon="keyboard_hide"
        >

        <template v-if = "esAdministradorSait || esSolemex || esMensajeria">
          <v-list-tile slot="activator">
            <v-list-tile-title>Operaciones</v-list-tile-title>
          </v-list-tile>
        </template>

        <template v-if = "esAdministradorSait || esSolemex || esMensajeria">
          <v-list-tile :to="{name: 'validar' }">
            <v-list-tile-action> </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Validar Remesa</v-list-tile-title>
            </v-list-tile-content>
            <v-icon>done</v-icon>
          </v-list-tile>
        </template>

        <template v-if = "esAdministradorSait || esSolemex || esMensajeria">
          <v-list-tile :to="{name: 'devoluciondirecta' }">
            <v-list-tile-action> </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Devolución Directa</v-list-tile-title>
            </v-list-tile-content>
            <v-icon>done_all</v-icon>
          </v-list-tile>
        </template>

        <template v-if = "esAdministradorSait || esSolemex || esMensajeria ">
          <v-list-tile :to="{name: 'asignamen' }">
            <v-list-tile-action>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Asignar Mensajeros</v-list-tile-title>
            </v-list-tile-content>
              <v-icon>perm_contact_calendar</v-icon>
          </v-list-tile>
        </template>

        <template v-if = "esAdministradorSait || esSolemex || esMensajeria">
          <v-list-tile :to="{name: 'pendxmensajero' }">
            <v-list-tile-action>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Pendientes por mensajero</v-list-tile-title>
            </v-list-tile-content>
              <v-icon>screen_share</v-icon>
          </v-list-tile>
        </template>

        <template v-if = "esAdministradorSait || esSolemex ">
          <v-list-tile :to="{name:'supervisionmjero'}">
            <v-list-tile-action>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Supervisión Mensajero</v-list-tile-title>
            </v-list-tile-content>
              <v-icon>search</v-icon>
          </v-list-tile>
        </template>

        <template v-if = "esAdministradorSait || esSolemex || esMensajeria">
          <v-list-tile :to="{name: 'tarjsinsuc' }">
            <v-list-tile-action> </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Tarjetas sin sucursal</v-list-tile-title>
            </v-list-tile-content>
            <v-icon>feedback</v-icon>
          </v-list-tile>
        </template>

          <!-- VISTA RUTA PENDIENTE-->
        <template v-if = "esAdministradorSait ">
          <v-list-tile :to="{name:'rutapend'}">
            <v-list-tile-action>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Ruta Realizada del día</v-list-tile-title>
            </v-list-tile-content>
              <v-icon>email</v-icon>
          </v-list-tile>
        </template>


          
      </v-list-group>
    </template>


<!-- CATALOGOS -->
    <template v-if = "esAdministradorSait || esSolemex || esBanco ">
      <v-list-group
        prepend-icon="import_contacts"
      >

        <v-list-tile slot="activator">
          <v-list-tile-title>Catálogos</v-list-tile-title>
        </v-list-tile>

        <template v-if = "esAdministradorSait || esSolemex ">
          <v-list-tile :to="{name: 'catcliente' }" >
            <v-list-tile-action >
            </v-list-tile-action>
            <v-list-tile-content >
              <v-list-tile-title >Clientes</v-list-tile-title>
            </v-list-tile-content>
            <v-icon>person_pin</v-icon>
          </v-list-tile>
        </template>
        
        <template v-if = "esAdministradorSait || esSolemex ">
          <v-list-tile :to="{name: 'catservicios'}">
            <v-list-tile-action>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title> Servicios</v-list-tile-title>
            </v-list-tile-content>
              <v-icon>ring_volume</v-icon>
          </v-list-tile>
        </template>

        <template v-if = "esAdministradorSait || esSolemex || esBanco ">
        <v-list-tile :to="{name: 'catsucursales'}">
          <v-list-tile-action>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title> Sucursales de Cliente</v-list-tile-title>
          </v-list-tile-content>
            <v-icon>business</v-icon>
        </v-list-tile>
        </template>

        <template v-if = "esAdministradorSait || esSolemex ">
        <v-list-tile :to="{name: 'catmensajerias'}">
          <v-list-tile-action>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title> Mensajerías</v-list-tile-title>
          </v-list-tile-content>
            <v-icon>markunread</v-icon>
        </v-list-tile>
        </template>

        <template v-if = "esAdministradorSait || esSolemex || esBanco ">
          <v-list-tile :to="{name: 'catmensajeros'}">
            <v-list-tile-action>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Mensajeros</v-list-tile-title>
            </v-list-tile-content>
              <v-icon>people</v-icon>
          </v-list-tile>
        </template>
        
        <template v-if = "esAdministradorSait || esSolemex ">
        <v-list-tile :to="{name: 'catplazas'}">
          <v-list-tile-action>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title> Plazas</v-list-tile-title>
          </v-list-tile-content>
            <v-icon>exit_to_app</v-icon>
        </v-list-tile>
        </template>
        
        <template v-if = "esAdministradorSait || esSolemex || esBanco ">
          <v-list-tile :to="{name: 'catusuarios'}">
            <v-list-tile-action>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title> Usuarios</v-list-tile-title>
            </v-list-tile-content>
              <v-icon>how_to_reg</v-icon>
          </v-list-tile>
        </template>

        <template v-if = "esAdministradorSait || esSolemex ">
          <v-list-tile :to="{name: 'catniveles'}">
            <v-list-tile-action>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title> Niveles</v-list-tile-title>
            </v-list-tile-content>
              <v-icon>format_list_numbered_rtl </v-icon>
          </v-list-tile>
        </template>
        
      </v-list-group>
    </template>
    
    <template v-if = "esAdministradorSait  ">
      <v-list-group
        prepend-icon="keyboard_hide"
       >
        <v-list-tile slot="activator">
          <v-list-tile-title>Utilerías</v-list-tile-title>
        </v-list-tile>

        <!-- VISTA CORREOS-->
        <template v-if = "esAdministradorSait  ">
          <v-list-tile :to="{name:'correos'}">
            <v-list-tile-action>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Correos</v-list-tile-title>
            </v-list-tile-content>
              <v-icon>email</v-icon>
          </v-list-tile>
        </template>

        <template v-if = "esAdministradorSait  ">
          <v-list-tile :to="{name:'subirimagen'}">
            <v-list-tile-action>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Subir imágen</v-list-tile-title>
            </v-list-tile-content>
              <v-icon>add_photo_alternate</v-icon>
          </v-list-tile>
        </template>
      </v-list-group>
    </template>
<!-- TERMINA GROUP -->

      <!-- BOTON SALIR-->
      <template >
        <v-list-tile @click="salir">
          <v-list-tile-action>
            <v-icon>logout</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Salir</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
      </template>

    </v-list>
  </v-navigation-drawer> 

    <!-- BARRA PRINCIPAL -->
    <v-toolbar color="primary" dark fixed app v-if="logueado && getMenu == true ">
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-btn flat dark :to="{name: 'home'}" v-if="getdatosUsuario.nommensajeria !='' "> {{getdatosUsuario.nommensajeria}}</v-btn>

      <v-spacer></v-spacer>
      <v-btn flat  dark :to="{name: 'miperfil'}">{{getdatosUsuario.Nomuser}}</v-btn>
       <!-- <v-btn flat dark :to="{name: 'miperfil'}">traeNomuser</v-btn> -->
    </v-toolbar>

    <!-- CONTENIDO PRINCIPAL -->
    <v-content>
      <v-container fluid fill-height class="pa-0">
        <v-slide-y-transition mode="out-in">
          <router-view/>
        </v-slide-y-transition>
      </v-container>
    </v-content>

    

</v-app>
</template>

<script>
  import store from '@/store'
import {mapGetters} from 'vuex'
  export default {
    data: () => ({

      // variable para mostrar  drawer
      drawer: '',


      // nomuser: '',
      menu:'',
      id: '1',
      numguia: '1',

      // HABILITAR v-navigation-drawer
      logeado      : false,
      Navigation   : false

    }),

    created(){
      // Control de Navigation 
      this.Navigation = this.getMenu
      // console.log('getdatosUsuario',this.getdatosUsuario)
    },

    methods:{
      salir(){
        // Borro el usario logueado
        this.getdatosUsuario.Nomuser = ""
        this.getdatosUsuario.nommensajeria = ""
        this.getdatosUsuario.Nomcli = ""


        // Mando a llamar la accion salir
        this.$store.dispatch("salir")
      },

      ruta(value){

        // console.log('ruta', value)
      }
    },
    
    props: {
      source: String
    },
    
    computed:{

      logueado(){
        return this.$store.state.usuario;
      },

      esAdministradorSait(){
        return this.$store.state.usuario &&  this.$store.state.nivel == 'SAIT';
      },

      esSolemex(){
        return this.$store.state.usuario &&  this.$store.state.nivel == 'SOLEMEX';

      },

      esBanco(){
        return this.$store.state.usuario &&  this.$store.state.nivel == 'BANCO';

      },

      esMensajeria(){
        return this.$store.state.usuario &&  this.$store.state.nivel == 'MENSAJERIA';

      },

      esRutalibre(){
        return this.$store.state.usuario &&  this.$store.state.nivel == 'RUTALIBRE';
      },

      ...mapGetters('login',['getdatosUsuario', 'getLogeado']),
      ...mapGetters('barras',['getMenu']),

    }
  };
</script>

<style scoped>

  .cliente{
   font-weight: bold; 
   color:#fff;
   background: #E65100;
   padding: 5px;
  }

</style>